


.datalist-toolbar  .product-notifications  .loading span.first-child button
{
   background: url(images/loading.gif) no-repeat 12px 4px;
   padding-left: 24px;
}

@keyframes score {
    from {background-position: 0px 0px;}
}

@keyframes warning {
    from { opacity: 0; }
      to { opacity: 1; }
}

.datalist-toolbar  .product-notifications span.warning {
	background-color: #f44336;
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    color: white !important;
    font-weight: bold !important;
    left: -11px;
    padding: 0 3px;
    position: relative;
    top: -16px;
    animation: warning 0.5s;
}


.datalist-toolbar  .product-notifications  .score   span.first-child button{
	background-image: url("../../components/images/states/percent-gauges-sprite-28.jpg");
	font-size: 8px;
    height: 28px;
    padding: 0;
    width: 28px;
    
}

.datalist-toolbar .product-notifications table {
	border-spacing: 10px 10px;
}

.ctrlSumPreview {
	padding: 0 20px;
}

.ctrlSumPreview .score {
	background-image: url("../../components/images/states/percent-gauges-sprite-96.jpg");
	font-size: 1.33em;
    height: 96px;
    padding: 0;
    width: 96px;
    text-align: center;
 }
 
 
.ctrlSumPreview .score span {
	line-height: 96px;
	display: inline-block;
 }
 
.ctrlSumPreview > ul {
	float: left;
	margin-right: 20px;
}

.ctrlSumPreview::after {
    content:"";
    display:block;
    clear:both;
}

.ctrlSumPreview .title {
	margin-bottom: 5px;
}

.notifications-list {
	max-height: 328px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 10px;
}

.notifications-panel {
	z-index: 3;
}



/* large version */
.ctrlSumPreview .score-1  {
	background-position : 0px 0px;
}

.ctrlSumPreview  .score-2  {
	background-position : -96px 0px;
	animation: score 1s steps(1) 1 forwards;
}

.ctrlSumPreview  .score-3{
	background-position : -192px 0px;	
	animation: score 1s steps(2) 1 forwards;
}
	
.ctrlSumPreview  .score-4  {
	background-position : -288px 0px;	
	animation: score 1s steps(3) 1 forwards;
}

.ctrlSumPreview  .score-5 {
	background-position : -384px 0px;	
	animation: score 1s steps(4) 1 forwards;
}
	
.ctrlSumPreview  .score-6  {
	background-position : -480px 0px;	
	animation: score 1s steps(5) 1 forwards;
}

.ctrlSumPreview  .score-7 {
	background-position : -576px 0px;	
	animation: score 1s steps(6) 1 forwards;
}

.ctrlSumPreview  .score-8 {
	background-position : -672px 0px;	
	animation: score 1s steps(7) 1 forwards;
}

.ctrlSumPreview  .score-9 {
	background-position : -768px 0px;	
	animation: score 1s steps(8) 1 forwards;
}
	
.ctrlSumPreview  .score-10{
	background-position : -864px 0px;	
	animation: score 1s steps(9) 1 forwards;
}
	
.ctrlSumPreview  .score-11 {
	background-position : -960px 0px;	
	animation: score 1s steps(10) 1 forwards;
}

.ctrlSumPreview  .score-12{
	background-position : -1056px 0px;	
	animation: score 1s steps(11) 1 forwards;
}

.ctrlSumPreview  .score-13 {
	background-position : -1152px 0px;	
	animation: score 1s steps(12) 1 forwards;
}

.ctrlSumPreview .score-14 {
	background-position : -1248px 0px;	
	animation: score 1s steps(13) 1 forwards;
}
	
.ctrlSumPreview  .score-15 {
	background-position : -1344px 0px;	
	animation: score 1s steps(14) 1 forwards;
}
	
.ctrlSumPreview  .score-16 {
	background-position : -1440px 0px;	
	animation: score 1s steps(15) 1 forwards;
}

.ctrlSumPreview  .score-17 {
	background-position : -1536px 0px;	
	animation: score 1s steps(16) 1 forwards;
}
	
.ctrlSumPreview .score-18 {
	background-position : -1632px 0px;	
	animation: score 1s steps(17) 1 forwards;
}
	
.ctrlSumPreview  .score-19 {
	background-position : -1728px 0px;	
	animation: score 1s steps(18) 1 forwards;
}
		
.ctrlSumPreview  .score-20 {
	background-position : -1920px 0px;	
	animation: score 1s steps(19) 1 forwards;
}

/** thumbnail progress */

.datalist-toolbar  .product-notifications .score-1 span.first-child button {
	background-position : 0px 0px;
}

.datalist-toolbar  .product-notifications .score-2 span.first-child button {
		background-position : -28px 0px;
	animation: score 1s steps(1) 1 forwards;
}

.datalist-toolbar  .product-notifications .score-3 span.first-child button {
	background-position : -56px 0px;
	animation: score 1s steps(2) 1 forwards;
}
	
.datalist-toolbar  .product-notifications .score-4 span.first-child button {
	background-position : -84px 0px;
	animation: score 1s steps(3) 1 forwards;
}

.datalist-toolbar  .product-notifications .score-5 span.first-child button {
	background-position : -112px 0px;
	animation: score 1s steps(4) 1 forwards;
}
	
.datalist-toolbar  .product-notifications .score-6 span.first-child button {
	background-position : -140px 0px;
	animation: score 1s steps(5) 1 forwards;
}

.datalist-toolbar  .product-notifications .score-7 span.first-child button {
	background-position : -168px 0px;
	animation: score 1s steps(6) 1 forwards;
}

.datalist-toolbar  .product-notifications .score-8 span.first-child button {
	background-position : -196px 0px;
	animation: score 1s steps(7) 1 forwards;
}

.datalist-toolbar  .product-notifications .score-9 span.first-child button {
	background-position : -224px 0px;
	animation: score 1s steps(8) 1 forwards;
}
	
.datalist-toolbar  .product-notifications .score-10 span.first-child button {
	background-position : -252px 0px;
	animation: score 1s steps(9) 1 forwards;
}
	
.datalist-toolbar  .product-notifications .score-11 span.first-child button {
	background-position : -280px 0px;
	animation: score 1s steps(10) 1 forwards;
}

.datalist-toolbar  .product-notifications .score-12 span.first-child button {
	background-position : -308px 0px;
	 animation: score 1s steps(11) 1 forwards;
}

.datalist-toolbar  .product-notifications .score-13 span.first-child button {
	background-position : -336px 0px;
	animation: score 1s steps(12) 1 forwards;
}

.datalist-toolbar  .product-notifications .score-14 span.first-child button {
	background-position : -364px 0px;
	animation: score 1s steps(13) 1 forwards;
}
	
.datalist-toolbar  .product-notifications .score-15 span.first-child button {
	background-position : -392px 0px;
	animation: score 1s steps(14) 1 forwards;
}
	
.datalist-toolbar  .product-notifications .score-16 span.first-child button {
	background-position : -420px 0px;
	animation: score 1s steps(15) 1 forwards;
}

.datalist-toolbar  .product-notifications .score-17 span.first-child button {
	background-position : -448px 0px;
	animation: score 1s steps(16) 1 forwards;
}
	
.datalist-toolbar  .product-notifications .score-18 span.first-child button {
	background-position : -476px 0px;
	animation: score 1s steps(17) 1 forwards;
}
	
.datalist-toolbar  .product-notifications .score-19 span.first-child button {
	background-position : -504px 0px;
	animation: score 1s steps(18) 1 forwards;
}
		
.datalist-toolbar  .product-notifications .score-20 span.first-child button {
	background-position : -532px 0px;
	animation: score 1s steps(19) 1 forwards;
}




div.notifications-panel {
	padding: 10px 0 10px;
	background-color: white;
	border: 1px solid #ccc;
	width: 50em;
	border-radius:3px;
}


.notifications-panel .score  li{
	background-image: url("../../components/images/states/percent-gauges-sprite.jpg");
	margin: 0.2em 0.5em 0.5em;
	display:inline-block;
}
							
	/* 						
	// TODO Merge;

			var scoreDiv = YAHOO.util.Dom.get("scoreLi");
			if (scoreDiv !== undefined && scoreDiv != null) {
			
				var imgWidth = 74;
				var widthRatio = imgWidth / 166;

				var rightPos = (((spriteIndex - 1) * (166 + 14) + 2 + (spriteIndex > 4 ? 10 : 0)) * widthRatio) + "px";
				scoreDiv.style.backgroundPosition = "-" + rightPos + " 0px";
				scoreDiv.style.width = imgWidth + "px";
				scoreDiv.style.height = imgWidth + "px";

				var backgroundSize = Math.floor(3629 * widthRatio) + "px " + Math.floor(396 * widthRatio) + "px";
				scoreDiv.childNodes[0].style.lineHeight = imgWidth + "px";
				scoreDiv.childNodes[0].style.fontSize = 3 * widthRatio + "em";
				scoreDiv.style.backgroundSize = backgroundSize;
			}
 */


/** OLD **/

.product-notifications .notifications-list .grid table {
	border: none;
}

.product-notifications .notifications-list  .yui-dt thead {
	display: none;
}

.product-notifications .notifications-list  .grid.yui-dt .yui-dt-data  td,
	.datagrid.activityList .yui-dt-data td {
	border: none !important;
	cursor: default;
}

.product-notifications .notifications-list  .yui-dt-data  tr, .datagrid.activityList .yui-dt-data tr.yui-dt-highlighted
	{
	background-color: white;
	border: none;
	cursor: default;
}

/*
.product-notifications .notifications-list .rclReq-details, .rclFilterElt{
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	margin: 0px 5px 5px;
	padding: 5px;
	border: 0.5px solid #CCCCCC;
}
*/

/*
.product-notifications .notifications-list .rclReq-details:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
*/

/** RclFiltering **/
.rclFilterElt ul li, .req-all-all {
	display: inline;
	padding: 0 2px;
	margin-left: 5px;
}

.rclFilterElt > div {
	overflow-y: auto;
	max-height: 80px;
	height: auto;
}

div.dataTypeList span.req-all-all{
	margin: 0px 5px 5px;
}



div.dataTypeList .title {
	margin-bottom: 5px;	
}

/* .rclReq-details ul { */
/* 	max-height: 70px; */
/* 	overflow-y: auto; */
/* } */

.ctrlSumPreview .dataTypeList .rclFilterElt {
	margin-top: 10px;
}

.ctrlSumPreview li.title {
	text-align: center;
}

.dataTypeList .rclFilterSelected {
	background-color: #ddd;
}
.dataTypeList span .rclFilterSelected {
	padding: 1px;
}

.rclFilterElt ul {
	display: inline;
}

#scoresDiv {
	margin: 0px 10px 5px;
	overflow: auto;
	margin-left: 4px;
	margin-right: 4px;
}

#scoresDiv > ul{
	padding: 0.2 em;
	margin-right: 20px;
	float: left;
	text-align: center;
}

#scoreLi{
	background-image: url("../../components/images/states/percent-gauges-sprite.jpg");
	margin: 0.2em 0.5em 0.5em;
	display:inline-block;
}

#scoreLi span{
	display: inherit;
	text-align: center;
}

div.dataTypeList {
	overflow: auto;
	/* avoids text breaking on low resolutions */
}


.product-notifications .notifications-list  .rclReq-details .icon {
	float: left;
	width: 5%;
}

.product-notifications .notifications-list  .rclReq-details .rclReq-title {
	float: right;
	width: 95%;
	color: black;
}

.product-notifications .notifications-list  .rclReq-details .rclReq-content {
	clear: both;
	list-style-type: disc;
	margin-left: 6%;
	padding: 5px;
}

.product-notifications .notifications-list .rclReq-details .rclReq-content ul li {
	list-style-type: disc;
	min-height: 18px;
}

.product-notifications .notifications-list  .rclReq-details .rclReq-content ol li {
	list-style-type: decimal;
}

.product-notifications .notifications-list  td {
	background-color: #f8f8f8;
	padding: 10px;
	border: 1px solid #ccc !important;
	
}

.product-notifications .notifications-list .datagrid-bar .new-row, .product-notifications .datagrid .datagrid-bar .selected-items,
	.product-notifications .datagrid td.yui-dt-first, .product-notifications .datagrid td.yui-dt-last
	{
	display: none;
}

.product-notifications .notifications-list  .yui-dt-message .yui-dt-last {
	display: block;
	border-top: 1px solid #CCCCCC;
	border-right: 0px;
}

.product-notifications .notifications-list /** Full screen mode */ 
.full-screen .sticky-footer, .full-screen  .sticky-push {
	height: 0px;
}