/*************************************/
/**            beCPG               **/
/************************************/
.footer-becpg .copyright span {
	display: none;
}

/* Share forms */

.form-container .yui-navset  .datepicker-icon,
.form-container .form-field  .datepicker-icon,
.form-container .yui-g  .form-field  .datepicker-icon,
.form-container .yui-gb .form-field  .datepicker-icon {
    margin: 0;
}

 .form-container .form-field  textarea {
    width: 95% !important;
} 


/*2 Column set */

.form-container .yui-g .form-field input[type="text"], 
.form-container .yui-g .form-field input[type="file"],
.form-container .yui-g .form-field input[type="password"],
.form-container .yui-g .form-field input,
.form-container .yui-g .form-field select,
.form-container .yui-g .form-field textarea,
.form-container .yui-g .yui-ac .ac-body {
	width: 27em !important;
}

/* 1-2 Column Tabbed Set */

.form-container .yui-navset .set {
	padding-bottom: 0em;
}

.form-container .yui-navset .form-field input[type="text"], 
.form-container .yui-navset .form-field input[type="file"],
.form-container .yui-navset .form-field input[type="password"],
.form-container .yui-navset .form-field input,
.form-container .yui-navset .form-field select,
.form-container .yui-navset .form-field textarea,
.form-container .yui-navset .yui-ac .ac-body {
	width: 26em !important;
}


/* 3 Column set */
.form-container .yui-gb .form-field input[type="text"], 
.form-container .yui-gb .form-field input[type="file"],
.form-container .yui-gb .form-field input[type="password"],
.form-container .yui-gb .form-field input,
.form-container .yui-gb .form-field select,
.form-container .yui-gb .form-field textarea,
.form-container .yui-gb .yui-ac .ac-body {
	width: 16em !important;
}


.form-container .yui-g .form-field input[type="checkbox"], 
.form-container .yui-navset .form-field input[type="checkbox"], 
.form-container .yui-gb .form-field input[type="checkbox"] {
	 width: auto !important;
}


/* Auto complete */

.form-container .yui-navset .yui-ac .ac-body .yui-ac-input,
.form-container .yui-g .yui-ac .ac-body .yui-ac-input,
.yui-dialog .form-container .yui-ac .ac-body .yui-ac-input  {
	width: 90% !important;
}

.form-container .yui-gb .yui-ac .ac-body .yui-ac-input {
	width: 85% !important;
}




/** Tab **/
.share-form .form-container .yui-navset .yui-content {
	background-color: #F5FFF2;
	border-color: #EEEEEE;
	margin-bottom: 0.5em;
	padding-top: 0.5em;
}

.yui-skin-lightTheme .share-form .form-container .yui-navset .yui-content {
	background-color: #FFFFFF;
}

.share-form .form-container .yui-navset .yui-nav .selected a, 
.yui-skin-default .yui-navset .yui-nav .selected a em
	{
	border-color: #EEEEEE;
	background-color: : #EEEEEE;
}

.share-form .form-container .yui-navset .yui-nav .selected a,
.yui-skin-default .yui-navset .yui-nav .selected a:focus,
.yui-skin-default .yui-navset .yui-nav .selected a:hover
	{
	background-image: none;
	background-color: #EEEEEE;
	color: #000000;
}

.share-form .form-container .yui-navset .yui-nav a {
	background-image: none;
	background-color: #FFFFFF;
	border-color: #D8D8D8;
	color: #000000;
}

.share-form .form-container .yui-navset .yui-nav,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav
	{
	border-color: #EEEEEE;
}

.share-form .form-container  .set-panel-heading {
	display: none;
}

/** view details **/

.alfresco-twister .alfresco-twister-actions {
    right: 1em;
    float: right;
    position: inherit;
}

/** fix ie chrome */

.yui-skin-lightTheme .search-title div.clear {
	clear: none;
}


/** ##########################   header ######################  */


.alfresco-share .dijitIcon.dijitMenuItemIcon.entity {
	background: url(../../components/images/filetypes/generic-entity-16.png);
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}


.alfresco-share .dijitIcon.dijitMenuItemIcon.project-list-header {
   background: url("../components/images/header/project-list.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.nc-list-header {
   background: url("../components/images/header/nc-list.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}


.alfresco-share .dijitIcon.dijitMenuItemIcon.ecm-record {
   background: url("../../components/images/record-16.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.becpg-admin-header {
   background: url("../components/images/header/becpg-admin.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}


.alfresco-share .dijitIcon.dijitMenuItemIcon.model-designer-header {
   background: url("../components/images/header/model-designer.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}


.alfresco-share .dijitIcon.dijitMenuItemIcon.entity.nc {
	background: url(../../components/images/filetypes/generic-nc-16.png);
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.entity.finishedProduct {
	background: url(../../components/images/filetypes/generic-finishedProduct-16.png);
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.entity.localSemiFinishedProduct {
	background: url(../../components/images/filetypes/generic-localSemiFinishedProduct-16.png);
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}


.alfresco-share .dijitIcon.dijitMenuItemIcon.entity.rawMaterial {
	background: url(../../components/images/filetypes/generic-rawMaterial-16.png);
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.entity.supplier {
	background: url(../../components/images/filetypes/generic-supplier-16.png);
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.entity.client {
	background: url(../../components/images/filetypes/generic-client-16.png);
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}


.alfresco-share .dijitIcon.dijitMenuItemIcon.entity.semiFinishedProduct {
	background: url(../../components/images/filetypes/generic-semiFinishedProduct-16.png);
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}


.alfresco-share .dijitIcon.dijitMenuItemIcon.entity.packagingKit {
	background: url(../../components/images/filetypes/generic-packagingKit-16.png);
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.entity.packagingMaterial {
	background: url(../../components/images/filetypes/generic-packagingMaterial-16.png) no-repeat;
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.entity.resourceProduct {
   background: url(../../components/images/filetypes/generic-resourceProduct-16.png) no-repeat;
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}


.alfresco-share .dijitIcon.dijitMenuItemIcon.entity.project {
	background: url(../../components/images/filetypes/generic-project-16.png);
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.entity.changeOrder {
	background: url(../../components/images/filetypes/generic-changeOrder-16.png);
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.entity.aclGroup {
	background: url(../../components/images/filetypes/generic-aclGroup-16.png);
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.entity.aclGroup {
	background: url(../../components/images/filetypes/generic-aclGroup-16.png);
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.entity.controlPlan {
	background: url(../../components/images/filetypes/generic-controlPlan-16.png);
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.entity.controlPoint {
	background: url(../../components/images/filetypes/generic-controlPoint-16.png);
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.entity.qualityControl {
	background: url(../../components/images/filetypes/generic-qualityControl-16.png);
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.entity.productMicrobioCriteria {
	background: url(../../components/images/filetypes/generic-productMicrobioCriteria-16.png);
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}





