/* Forms */
.form-container .form-fields {
	border-bottom: medium none;
	padding: 1em;
}

/* Details Form */
.form-container .edit-dataitem a {
	background: transparent url("../components/images/edit-metadata-16.png") no-repeat
		12px 4px;
	padding-left: 32px;
}

.form-container .yui-u {
	margin-left: 0px;
}


.alfresco-share .yui-panel .bd .form-container .yui-u.first {
	text-align: left;
}

/** Dialog */


.yui-dialog .form-container .yui-g .form-field input[type="text"], 
.yui-dialog .form-container .yui-g .form-field input[type="file"],
.yui-dialog .form-container .yui-g .form-field input[type="password"],
.yui-dialog .form-container .yui-g .form-field input,
.yui-dialog .form-container .yui-g .form-field select,
.yui-dialog .form-container .yui-g .form-field textarea,
.yui-dialog .form-container .yui-g .yui-ac .ac-body {
	width: 13em !important;
}


.yui-dialog .form-container .form-field input[type="text"], 
.yui-dialog .form-container .form-field input[type="file"],
.yui-dialog .form-container .form-field input[type="password"],
.yui-dialog .form-container .form-field input,
.yui-dialog .form-container .form-field select,
.yui-dialog .form-container .yui-ac .ac-body {
	width: 30em !important;
}

.yui-dialog .form-container .form-field textarea {
	width: 95% !important;
}


.yui-dialog .form-container .yui-g .yui-ac .ac-body .yui-ac-input {
	width: 80% !important;
}


.yui-dialog .large-dialog .form-container .yui-g .form-field input[type="text"], 
.yui-dialog .large-dialog .form-container .yui-g .form-field input[type="file"],
.yui-dialog .large-dialog .form-container .yui-g .form-field input[type="password"],
.yui-dialog .large-dialog .form-container .yui-g .form-field input,
.yui-dialog .large-dialog .form-container .yui-g .form-field select,
.yui-dialog .large-dialog .form-container .yui-g .form-field textarea,
.yui-dialog .large-dialog .form-container .yui-g .yui-ac .ac-body {
	width: 27em !important;
}


.yui-dialog .large-dialog .form-container .yui-gb .form-field input[type="text"], 
.yui-dialog .large-dialog .form-container .yui-gb .form-field input[type="file"],
.yui-dialog .large-dialog .form-container .yui-gb .form-field input[type="password"],
.yui-dialog .large-dialog .form-container .yui-gb .form-field input,
.yui-dialog .large-dialog .form-container .yui-gb .form-field select,
.yui-dialog .large-dialog .form-container .yui-gb .form-field textarea,
.yui-dialog .large-dialog .form-container .yui-gb .yui-ac .ac-body {
	width: 13em !important;
}

.yui-dialog .large-dialog .form-container .yui-g .yui-ac .ac-body .yui-ac-input {
	width: 90% !important;
}



.yui-dialog .form-container .yui-g  input[type="checkbox"],
.yui-dialog .form-container .form-field  input[type="checkbox"],
.yui-dialog .large-dialog  .form-container .yui-g .form-field input[type="checkbox"],
.yui-dialog .large-dialog .form-container .yui-gb .form-field input[type="checkbox"] {
    width: auto !important;
}
