[mysqld]
# SQL Modes
sql_mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"

# Case-insensitivity for table names
lower_case_table_names=1

# Character Set and Collation
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

# Memory settings for SMALL profile – 16 Go RAM totale – DB: 3.2 Go

innodb_buffer_pool_size = 2G
innodb_buffer_pool_instances = 2
innodb_log_file_size = 512M
innodb_log_buffer_size = 128M
innodb_flush_log_at_trx_commit = 2
max_connections = 30
table_open_cache = 4000
tmp_table_size = 64M
max_heap_table_size = 64M
thread_cache_size = 50
join_buffer_size = 2M
sort_buffer_size = 2M
read_rnd_buffer_size = 1M

