.new-version p {
	text-align: center;
}

.yui-panel-container .new-version {
	width: 440px;
}

.new-version .yui-gd div.first {
	width: 10.5em;
}

.new-version textarea {
	width: 20em;
}

.new-version div.ac-body {
	width: 20em;
}