/**
 Yui 
**/
.formulation-view  .yui-g .yui-u {
	width: 49.5%;
}

.formulation-view  .yui-skin-default .yui-button {
	margin: 0px;
}

/**
 Dashlet
**/
.formulation-view  .datagrid .scrollableList {
	padding: 0;
	height: 208px;
}

.formulation-view  .datagrid {
	padding: 0px;
}

.formulation-view  .dashlet {
	z-index: auto;
}

.formulation-view  .dashlet  .toolbar {
	min-height: 28px;
	margin: 0px;
	padding: 0px;
	border-bottom: none;
}

.yui-skin-lightTheme .formulation-view .yui-dt table, .formulation-view .yui-dt-col-actions
	{
	border-collapse: collapse;
	border-right: none;
}

.formulation-view .datagrid .yui-dt-col-actions {
	border-right: none;
}

/**
 Bar
*/
.formulation-view  .datagrid .datagrid-bar .paginator {
	float: inherit;
	width: inherit;
	padding: 3px;
}

.formulation-view  .datagrid-bar .left, .datagrid-bar .left div {
	float: left;
}

.formulation-view  .datagrid-bar .right {
	float: right;
}

.formulation-view .datagrid-bar .left  .filterform  div,
	.formulation-view .datagrid-bar .left  .filterform {
	float: none;
}

.datalist-toolbar .onActionSimulate, .datagrid .onActionSimulate a {
	background: transparent
		url(../../components/documentlibrary/actions/folder-copy-to-16.png)
		no-repeat 12px 4px;
	padding-left: 22px;
}

.datalist-toolbar .onAddLabelingAspect, .datagrid .onAddLabelingAspect a
	{
	background: transparent url(../images/tag-16.png) no-repeat 12px 4px;
	padding-left: 22px;
}

.datagrid .labeling-aspect {
	background: url("../images/tag-16.png") no-repeat scroll 0 0 transparent;
	padding-left: 14px;
}

.dynamicCharactList .dashlet {
	width: 100%;
	border-bottom: 0px;
}

.dynamicCharactList-prop-panel {
	padding: 0;
	border-radius: 0 0 5px 0;
	background-color: rgb(238, 238, 238);
	border: 1px solid #CCCCCC;
	width: 100%;
}

.dynamicCharactList-prop-panel span {
	padding: 5px;
	display: block;
}

.formulation-view .dynamicCharactList .datagrid .scrollableList {
	max-height: 290px;
}

/* Constraints List */
.constraintsList .dashlet .title {
	background-color: transparent;
	border: none;
	color: rgb(51, 51, 51);
	/*display: none;*/
}



.formulation-view .constraintsList .datagrid .scrollableList {
	padding: 0;
}

.constraintsList .datagrid .body .grid table {
	border: none;
}

.constraintsList .datagrid .body  .yui-dt thead {
	display: none;
}

.constraintsList .datagrid .body  .grid.yui-dt .yui-dt-data  td,
	.datagrid.activityList .yui-dt-data td {
	border: none !important;
	cursor: default;
}

.constraintsList .datagrid .body  .yui-dt-data  tr, .datagrid.activityList .yui-dt-data tr.yui-dt-highlighted
	{
	background-color: white;
	border: none;
	cursor: default;
}

.constraintsList .datagrid .body .rclReq-details, .rclFilterElt{
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	margin: 0px 0px 2px;
	padding: 5px;
	border: 1px solid #CCCCCC;
}

/** RclFiltering **/
.rclFilterElt ul li, .req-all-all {
	display: inline;
	padding: 0 2px;
}

.rclFilterElt ul {
	margin: 5px;
}

div.dataTypeList span.req-all-all{
	margin: 0px 5px 5px;
}

div.dataTypeList .title {
	margin-bottom: 5px;	
}



.dataTypeList .rclFilterSelected {
/* 	border:	2px solid #446CD7 !important; */
background-color: #ddd;
}
.dataTypeList span .rclFilterSelected {
	padding: 1px;
}

.dataTypeList .title {
	padding: 0px;
}

.rclFilterElt ul {
	display: inline;
}

span.req-all-all, .dataTypeList .rclFilterElt li{
	margin: 5px;
}

#scoresDiv {
	margin: 10px 10px 10px;
	overflow: auto;
	margin-left: 4px;
	margin-right: 4px;
}

#scoresDiv > ul{
	padding: 0.2 em
	margin-right: 10px;
	float: left;
	text-align: center;
}

#scoreLi{
	background-image: url("../../components/images/states/percent-gauges-sprite.jpg");
	margin: 0.7em;
	display:inline-block;
}

#scoreLi span{
	display: inherit;
	text-align: center;
}

div.dataTypeList {
	overflow: auto;
	padding: 0.2em;
	margin: 0px 10px 10px;
	margin-right: 4px;
	/* avoids text breaking on low resolutions */
	min-width: 251px;
}

div.dataTypeList .title {
	padding: 0.2em;
}


.constraintsList .datagrid .body  .icon {
	float: left;
	width: 5%;
}

.constraintsList .datagrid  .body  .rclReq-details .rclReq-title {
	float: right;
	width: 95%;
	color: black;
}

.constraintsList .datagrid  .rclReq-details .rclReq-content {
	clear: both;
	list-style-type: disc;
	margin-left: 6%;
	padding: 5px;
}

.constraintsList .datagrid .rclReq-details .rclReq-content ul li {
	list-style-type: disc;
}

.constraintsList .datagrid  .rclReq-details .rclReq-content ol li {
	list-style-type: decimal;
}

.constraintsList .datagrid .datagrid-bar .new-row, .constraintsList .datagrid .datagrid-bar .selected-items,
	.constraintsList .datagrid td.yui-dt-first, .constraintsList .datagrid td.yui-dt-last
	{
	display: none;
}

.constraintsList .datagrid  .yui-dt-message .yui-dt-last {
	display: block;
	border-top: 1px solid #CCCCCC;
	border-right: 0px;
}

.constraintsList .datagrid /** Full screen mode */ 
.full-screen .sticky-footer, .full-screen  .sticky-push {
	height: 0px;
}

/** Full screen form */
div#full-screen-form {
	border: 1px solid #CCCCCC;
	box-shadow: 0 1px 2px #CCCCCC;
	height: 50px;
	margin-top: 6px;
	padding: 6px;
	border-radius: 4px;
}

#full-screen-form  div.form-fields {
	float: left;
	margin: 0px;
	padding: 0px;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#full-screen-form  div.form-field {
	float: left;
	margin: 0px;
	padding: 2px;
}

#full-screen-form  .clear {
	height: 0px;
}

#full-screen-form   .yui-ac .ac-body {
	min-height: 18px;
}

#full-screen-form form {
	display: table;
	margin: 0 15px;
}

#full-screen-form .help-icon {
	display: none;
}

#full-screen-form  .yui-ac .ac-body {
	width: 15em;
	max-width: 15em;
}

#full-screen-form .ac-toogle {
	height: 18px;
}

.yui-skin-lightTheme #full-screen-form   .yui-ac-container,
	#full-screen-form  .yui-ac-container {
	width: 35em;
}

#full-screen-form .yui-ac .ac-body .yui-ac-input {
	width: 85%;
}

#full-screen-form .set {
	padding: 0px;
}

#full-screen-form .form-buttons {
	float: left;
	margin-top: 10px;
	padding: 10px;
	height: 25px;
}

#full-screen-form span.yui-push-button {
	display: none;
}

#full-screen-form  .yui-submit-button span.first-child {
	background: url("../images/add-row-16.png") no-repeat scroll 12px 4px
		transparent;
	padding-left: 24px;
}

#full-screen-form  form .mandatory, #full-screen-form  .form-fields .mandatory,
	#full-screen-form  .form-fields input.mandatory[type="text"],
	#full-screen-form  .form-fields .input.mandatory input[type="text"],
	#full-screen-form  .form-fields .input .mandatory input[type="text"] {
	background-color: transparent;
}