

<mat-sidenav-container class="entity-container">
  <mat-sidenav #leftPane mode="over" opened="false" >

    <app-entity-views [entity]="entity | async" [leftPane]="leftPane"></app-entity-views>
  </mat-sidenav>
  <mat-sidenav  #rightPane mode="side" position="end">
      <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
                <mat-icon>info</mat-icon>
                <span>Information</span>
              </div>
            </ng-template>
            <div *ngIf="entity | async as entity; else loading">
              <app-entity-info-version-manager [entity]="entity"></app-entity-info-version-manager>
            </div>
            <div *ngIf="entity | async as entity; else loading">
              <!-- <app-app-entity-associated-processes></app-app-entity-associated-processes> -->
            </div>
            <ng-template #loading>
              <mat-progress-bar data-automation-id="version-history-loading-bar" mode="indeterminate"
              color="accent"></mat-progress-bar>
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
                  <mat-icon>comment</mat-icon>
                  <span>Comments</span>
                </div>
              </ng-template>
              <div *ngIf="nodeId">
                <adf-comments
                  [nodeId]="nodeId"
                  [readOnly]="false">
                </adf-comments>
              </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
                <mat-icon>history</mat-icon>
                <span>Activities</span>
              </div>
            </ng-template>
            <h1>Activities Component</h1>
          </mat-tab>
        </mat-tab-group>

  </mat-sidenav>
  <section>
    <app-entity-view-toolbar [entity]="entity | async" [leftPane]="leftPane" [rightPane]="rightPane" ></app-entity-view-toolbar>
    <div class="grid-container" *ngIf="view" >


      <div class="p-grid" *ngFor="let card of view.cards" >
          <div class="p-col-{{card.cols}}">

                  <div *ngIf="card.component=='entity-datagrid'">
                    <app-entity-datagrid [entity]="entity | async" [list]="view.list"  [itemType]="card.options.itemType" [customLists]="card.options.customLists"></app-entity-datagrid> 
                  </div>

                  <div *ngIf="card.component=='entity-form'">
                    <app-entity-form [node]="entity | async"  [formId]="card.options.formId"  ></app-entity-form>
                  </div>

                  <div *ngIf="card.component=='document'">
                    TODO
                  </div>

                  <div *ngIf="card.component=='report'">
                    <adf-viewer
                      [showViewer]="true"
                      [overlayMode]="true"
                      [nodeId]="nodeId">
                  </adf-viewer>
                </div>

          </div>
      </div>

    </div>

  </section>
</mat-sidenav-container>


<mat-drawer-container>


