

<mat-sidenav-container class="entity-container">
  <mat-sidenav #leftPane mode="over" opened="false" >
    
    <app-entity-views [entity]="entity | async" [leftPane]="leftPane"></app-entity-views>
  </mat-sidenav>
  <mat-sidenav  #rightPane mode="side" position="end">
    <adf-info-drawer>

      <adf-info-drawer-tab label="Tab1">
          <div>Tab1 content</div>
      </adf-info-drawer-tab>
  
      <adf-info-drawer-tab label="Comments" icon="comment">
                  
        <adf-comments
        [nodeId]="nodeId"
        [readOnly]="false">
      </adf-comments>

      </adf-info-drawer-tab>
  
  </adf-info-drawer>



  </mat-sidenav>
  <section>
    <app-entity-view-toolbar [entity]="entity | async" [leftPane]="leftPane" [rightPane]="rightPane" ></app-entity-view-toolbar>
    <div class="grid-container" *ngIf="view" >
     
       
      <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile *ngFor="let card of view.cards" [colspan]="card.cols" [rowspan]="card.rows">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                <div *ngIf="card.title">
                {{card.title}}
               </div>
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Expand</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">

              <div *ngIf="card.component=='entity-datagrid'">
                <app-entity-datagrid [entity]="entity" list="view.list"></app-entity-datagrid>
              </div>

              
              <div *ngIf="card.component=='entity-form'">
                <app-entity-form [node]="entity | async"  [formId]="card.options.formId"  ></app-entity-form>
              </div>
              
              <div *ngIf="card.component=='document'">
               TODO

              </div>

              <div *ngIf="card.component=='repport'">
              <adf-viewer 
                [showViewer]="true" 
                [overlayMode]="true" 
                [nodeId]="nodeId">
            </adf-viewer>
            </div>
              
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  
  </section>
</mat-sidenav-container>


<mat-drawer-container>


