.grid-container {
  margin-left: 190px;
  margin-top: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}


.datalists li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.datalists li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.datalists li.selected {
  background-color: #CFD8DC;
  color: white;
}
.datalists li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.datalists .datalist {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}