

<mat-sidenav-container class="entity-container">
  <mat-sidenav #leftPane mode="over" opened="false" >
    
    <app-entity-views [entity]="entity | async" [leftPane]="leftPane"></app-entity-views>
  </mat-sidenav>
  <mat-sidenav  #rightPane mode="side" position="end">
    <adf-info-drawer>

      <adf-info-drawer-tab label="Tab1">
          <div>Tab1 content</div>
      </adf-info-drawer-tab>
  
      <adf-info-drawer-tab label="Comments" icon="comment">
                  
        <adf-comments
        [nodeId]="nodeId"
        [readOnly]="false">
      </adf-comments>

      </adf-info-drawer-tab>
  
  </adf-info-drawer>



  </mat-sidenav>
  <section>
    <app-entity-view-toolbar [entity]="entity | async" [leftPane]="leftPane" [rightPane]="rightPane" ></app-entity-view-toolbar>
    <div class="grid-container" *ngIf="view" >
     
     
      <div class="p-grid" *ngFor="let card of view.cards" >
          <div class="p-col-{{card.cols}}">
       
                  <div *ngIf="card.component=='entity-datagrid'">
                    <app-entity-datagrid [entity]="entity | async" [list]="view.list"  [itemType]="card.options.itemType"> </app-entity-datagrid>
                  </div>

                  <div *ngIf="card.component=='entity-form'">
                    <app-entity-form [node]="entity | async"  [formId]="card.options.formId"  ></app-entity-form>
                  </div>
                  
                  <div *ngIf="card.component=='document'">
                    TODO
                  </div>

                  <div *ngIf="card.component=='report'">
                    <adf-viewer 
                      [showViewer]="true" 
                      [overlayMode]="true" 
                      [nodeId]="nodeId">
                  </adf-viewer>
                </div>

          </div>
      </div>

    </div>
  
  </section>
</mat-sidenav-container>


<mat-drawer-container>


