.project-list {
	clear: both;
}

.datagrid {
	margin: 0px;
	padding: 0px;
}

.project-list .alfresco-datatable thead {
	display: table-header-group;
}

.datagrid .datagrid-bar .item-select {
	float: left;
	width: auto;
}

/* project-list bar */
.project-list .project-list-bar {
	background-color: #f8f8f8;
	border-bottom: 1px dashed #c0c0c0;
	margin: 0 -10px;
	padding: 4px 0.5em 2px;
}

.project-list .project-list-bar-bottom {
	border-top: 1px dashed #d9d9d9;
	margin-top: 2em;
}

.project-list span.separator {
	border-right: 1px dotted #457A9C;
	border-top: medium none;
	margin: 0 4px;
	padding: 2px 0;
	position: relative;
	top: -4px;
	vertical-align: bottom;
}

/* project-list bar Buttons and Paginator */
.project-list .project-list-bar .thin,.project-list .project-list-bar .paginator
	{
	padding: 4px 1em;
	margin: 0;
}

.project-list .project-list-bar .yui-u {
	text-align: right;
}

.project-list .project-list-bar .yui-u.first {
	text-align: left;
}

.project-list .project-list-bar .yui-pg-current {
	margin-right: 0;
}

/* Data Table */
.project-list .projects table {
	border: medium none;
	width: 100%;
}
/* 
.project-list .projects thead
{
   display: none;
} 
*/
.project-list .projects tbody {
	outline: none;
}

.project-list .projects .yui-dt table {
	border: none;
}

.project-list tr.yui-dt-odd {
	background-color: #ffffff;
}

.project-list .projects td.yui-dt-last .yui-dt-liner {
	visibility: hidden;
}

.project-list .projects tr:hover td.yui-dt-last .yui-dt-liner {
	border-left: 1px solid #c5e6e9;
	visibility: visible;
}

/*
.project-list .projects tr.yui-dt-highlighted td.yui-dt-last .yui-dt-liner
{
   border-left: 1px solid #c5e6e9;
   visibility: visible;
}
*/
.project-list .projects .yui-dt-data td {
	border-bottom: 1px dashed #d9d9d9;
	border-right: medium none;
	vertical-align: middle;
}

.project-list .projects .yui-dt-data .yui-dt-last td {
	border-bottom: medium none;
}

.project-list .projects tr.yui-dt-first td {
	border-top: medium none;
}

.project-list .projects td.yui-dt-last {
	border-left: 1px solid #fff;
	vertical-align: middle;
}

.project-list .yui-dt-liner {
	padding: 4px;
}

.project-list .projects tr.yui-dt-first td.yui-dt-empty,.project-list .projects tr.yui-dt-first td.yui-dt-loading
	{
	border-right: medium none;
	padding: 0.5em 1em;
}

.project-list .yui-dt-error {
	background: red;
	color: white;
	font-weight: bold;
	margin: 1em auto;
	padding: 1em;
}

/* This rule is vital to workaround a Firefox mouseout bug */
.project-list .yui-dt-col-2 {
	overflow: visible;
}

/* Cell Renderers */
.project-list .projects {
	color: #333333;
	margin: 0 -10px 0 -8px;
}

.project-list .projects .yui-dt-col-id .yui-dt-liner {
	padding: 0.5em 1em;
	text-align: center;
}

.project-list .projects .yui-dt-col-title .yui-dt-liner div {
	float: left;
	margin-top: 0.5em;
	min-width: 15em;
}

.project-list .projects .yui-dt-col-title .yui-dt-liner div.type {
	clear: both;
	margin-bottom: 0.5em;
}

/* Forms */
.form-container .form-fields {
	border-bottom: medium none;
	padding: 1em;
}

/* Details Form */
.form-container .edit-dataitem a {
	background: transparent url("../images/edit-metadata-16.png") no-repeat
		12px 4px;
	padding-left: 32px;
}

.form-container .yui-u {
	margin-left: 0px;
}

.alfresco-share .yui-panel .bd .form-container .yui-u.first {
	text-align: left;
}