#!/bin/sh


################
# Environnement
################

export BECPG_ROOT=`pwd`
export BOOTSTRAP_HOME=$BECPG_ROOT/becpg-bootstrap


export ALF=/opt/alfresco-3.4.d
export ALF_SDK=/opt/alfresco-3.4.d/sdk
export AMPS=/opt/alfresco-3.4.d/amps
export SERVER=/opt/alfresco-3.4.d/tomcat
export AMPS_SHARE=/opt/alfresco-3.4.d/amps_share
export BECPG_VERSION=0.1.3
export TARGET_FOLDER=target/becpg-core-0.1.3
export BECPG_OLAP_ROOT=$BECPG_ROOT/becpg-olap


#profile to use can be :
#export MVN_PROFILE=-Dolap.server= -Dolap.db.host= -Dolap.db.name= -Dolap.db.username= -Dolap.db.password=
#or export MVN_PROFILE=-P sva-prod
export MVN_PROFILE=


