#!/bin/sh


################
# Environnement
################

export BECPG_ROOT=`pwd`
export BOOTSTRAP_HOME=$BECPG_ROOT/becpg-bootstrap


export BECPG_VERSION=0.1.4
export BECPG_OLAP_ROOT=$BECPG_ROOT/becpg-olap

export TC_DIR=/opt/becpg-tc-server
export INSTANCE_DIR=$TC_DIR/instances


#profile to use can be :
#or export MVN_PROFILE=-P sva-prod
export MVN_PROFILE=


