services:
  becpg:
    environment:
      CATALINA_OPTS: "-Xmx4G   -Duser.language=fr -Duser.country=FR 
                      -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=0.0.0.0:8888 
                      -Dcom.sun.management.jmxremote.rmi.port=9091
                      -Dcom.sun.management.jmxremote=true
                      -Dcom.sun.management.jmxremote.port=9091
                      -Dcom.sun.management.jmxremote.ssl=false
                      -Dcom.sun.management.jmxremote.authenticate=false
                      -Dcom.sun.management.jmxremote.local.only=false
                      -Djava.rmi.server.hostname=127.0.0.1
                      -Dtomcat.util.scan.StandardJarScanFilter.jarsToSkip=*
                      -javaagent:/opt/hotswap/hotswap-agent.jar"
    volumes:
      - becpg_data:/usr/local/tomcat/data
      - /opt/hotswap/hotswap-agent.jar:/opt/hotswap/hotswap-agent.jar:ro
      - ./becpg-core/target/classes:/usr/local/tomcat/hotswap-agent/becpg-core/target/classes
      - ./becpg-plm/becpg-plm-core/target/classes:/usr/local/tomcat/hotswap-agent/becpg-plm-core/target/classes
      - ./becpg-project/becpg-project-core/target/classes:/usr/local/tomcat/hotswap-agent/becpg-project-core/target/classes
      - ./becpg-designer/becpg-designer-core/target/classes:/usr/local/tomcat/hotswap-agent/becpg-designer-core/target/classes
      - ./becpg-integration-runner/target/test-classes:/usr/local/tomcat/hotswap-agent/becpg-integration-runner/target/test-classes
                 
#  busybox-chown:
#    image: busybox
#    volumes:
#      - becpg_data:/data2
#      - becpg_share_data:/data1      
#    command: sh -c "chown -R 33000:1000 /data1 && chown -R alfresco:alfresco /data2"   

  becpg-report:
    image:  europe-west1-docker.pkg.dev/becpg-314807/becpg-docker/becpg-report:4.20.0.1
    user: root
    ports:
       - "8086:8080"

