

div.designer-form-container {
	margin-right:10px;
}

.datagrid .action-set div.onActionDuplicate {
	display:none;
}


/* Forms */

.form-container .form-fields
{
   border-bottom: medium none;
   padding: 1em;
}

/** Tab **/


.designer-form  .yui-navset .yui-content {
   background-color: #FFFFFF;
   border-color: #F2F2F2;
}


.designer-form  .yui-navset .yui-nav .selected a, .yui-skin-default .yui-navset .yui-nav .selected a em {
    border-color: #E3EAEC;
    background-color: : #E3EAEC;
}

.designer-form .yui-navset .yui-nav .selected a, .yui-skin-default .yui-navset .yui-nav .selected a:focus, .yui-skin-default .yui-navset .yui-nav .selected a:hover {
    background-image: none ;
    background-color: #E3EAEC;
    color: #000000;
}
 
.designer-form .yui-navset .yui-nav a {
    background-image: none ;
    background-color: #FFFFFF;
    border-color: #D8D8D8;
    color: #000000;
}  

 .designer-form .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav {
    border-color: #E3EAEC;
}

.designer-form  .set-panel-heading {
	display : none;
}


/** DnD **/


div.instruction {
   border: 1px dashed #73B4DA;
   color: #515D6B;
   margin:5px;
}

.designerInstructions
{
   color: #515D6B;
   padding: 10px;
}


.designerInstructionColumn
{
   float: left;
   width: 45%;
}

.designerInstructionColumnRightBorder
{
   border-right: 1px solid #D9D9D9;
   padding-right: 30px;
   margin-right: 10px;
}

.designerInstructions > div
{
   clear: both;
}

.designerInstructionImage
{
   float: left;
   padding: 0 10px;
   vertical-align: middle;
}

.designerLinkedInstruction
{
   cursor: pointer;
}

.designerInstructionTitle
{
   display: block;
   font-size: 167%;
   margin-top: 10px;
   margin-bottom: 10px;
   padding-left: 10px;
}

.designerInstructionText
{
   font-size: 123%;
   margin-top: 10px;
   display: block;
}

.designerInstructionTextSmall
{
   margin-top: 15px;
   display: block;
}


/** DnD **/


.elementDragOverHighlight
{
   background-color: #cde8fa;
}

