


.designerTree .header-bar
{
   margin-left: -10px;
   min-height: 2em;
   padding: 4px 1em;
}

.designerTree .left
{
   float: left;
}

.designerTree .new-model span.first-child
{
   background: url(../images/add-icon-16.png) no-repeat 5px 0px;
}


/* Tree */


.designerTree .tree
{
   display: none;
   padding: 0.5em 0 1em;
}

.designerTree .ygtvspacer
{
   display: block;
   width: 18px;
}

.designerTree .ygtvchildren
{
   width: 100%;
}

.designerTree .ygtvitem
{
   background-color: #ffffff;
   overflow-x: hidden;
}

.designerTree .ygtvitem .folders-trimmed
{
   color: #f00;
}

.designerTree .ygtvlabel,
.designerTree .ygtvlabel:link,
.designerTree .ygtvlabel:visited,
.designerTree .ygtvlabel:hover
{
   background: none;
   color: #000;
   white-space: nowrap;
}

.designerTree .ygtverror,
.designerTree .ygtverror:link,
.designerTree .ygtverror:visited,
.designerTree .ygtverror:hover
{
   background: red;
   color: white;
}

.designerTree .selected
{
   background-color: #e1f0fa;
}

.dsg-error{  padding-left: 24px; background:  url(../images/filetypes/job-failed-16.png) no-repeat 5px 0px;}

.m2-model {  padding-left: 24px; background:  url(../images/filetypes/xml-file-16.png) no-repeat 5px 0px;}
.m2-associations {  padding-left: 24px; background:  url(../images/filetypes/generic-category-16.png) no-repeat 5px 0px;}
.m2-namespaces {  padding-left: 24px; background:  url(../images/tag-16.png) no-repeat 5px 0px;}
.m2-aspects {  padding-left: 24px; background:  url(../images/aspect-16.png) no-repeat 5px 0px; }
.m2-dataTypes {  padding-left: 24px; background:  url(../images/aspect-16.png) no-repeat 5px 0px; }
.m2-imports {  padding-left: 24px; background:  url(../images/tag-16.png) no-repeat 5px 0px;}
.m2-types {  padding-left: 24px; background:  url(../images/details-16.png) no-repeat 5px 0px; }
.m2-constraints {  padding-left: 24px; background:  url(../images/rule-16.png) no-repeat 5px 0px;}

.m2-namespace {  padding-left: 24px; background:  url(../images/link-details-16.png) no-repeat 5px 0px;}

.m2-type {  padding-left: 24px; background:  url(../images/filetypes/generic-file-16.png) no-repeat 5px 0px;}
.m2-aspect {  padding-left: 24px; background:  url(../images/aspect-16.png) no-repeat 5px 0px; }

.m2-properties {  padding-left: 24px; background:  url(../images/list-16.png) no-repeat 5px 0px;}
.m2-property {  padding-left: 24px; background:  url(../images/duplicate-row-16.png) no-repeat 5px 0px; cursor: pointer;}
.m2-propertyOverride {  padding-left: 24px; background:  url(../images/duplicate-row-16.png) no-repeat 5px 0px;}
.m2-propertyOverrides {  padding-left: 24px; background:  url(../images/list-16.png) no-repeat 5px 0px;}

.m2-constraint {  padding-left: 24px; background:  url(../images/rule-16.png) no-repeat 5px 0px;}
.m2-constraintRef {  padding-left: 24px; background:  url(../images/tag-16.png) no-repeat 5px 0px;}
.m2-parameters {  padding-left: 24px; background:  url(../images/list-16.png) no-repeat 5px 0px;}
.m2-namedValue {  padding-left: 24px; background:  url(../images/duplicate-row-16.png) no-repeat 5px 0px;}

.m2-association {  padding-left: 24px; background:  url(../images/filetypes/generic-category-16.png) no-repeat 5px 0px;}
.m2-childAssociation {  padding-left: 24px; background:  url(../images/filetypes/generic-category-16.png) no-repeat 5px 0px;}

/*
 Forms
*/

.dsg-forms {  padding-left: 24px; background:  url(./images/application-form-16.png) no-repeat 5px 0px;}
.dsg-form {  padding-left: 24px; background:  url(./images/application-form-16.png) no-repeat 5px 0px;}
.dsg-sets {  padding-left: 24px; background:  url(./images/form-set-16.png) no-repeat 5px 0px;}
.dsg-formSet {  padding-left: 24px; background:  url(./images/form-set-16.png) no-repeat 5px 0px;}
.dsg-fields {  padding-left: 24px; background:  url(./images/field-16.png) no-repeat 5px 0px;}
.dsg-formField {  padding-left: 24px; background:  url(./images/field-16.png) no-repeat 5px 0px;}

.dsg-error {  padding-left: 24px; background:  url(../images/productLists/stop-16.png) no-repeat 5px 0px;}


