


.designerTree .header-bar
{
   margin-left: -10px;
   min-height: 2em;
   padding: 4px 1em;
}

.designerTree .left
{
   float: left;
}

.designerTree .new-model span.first-child
{
   background: url(../images/add-icon-16.png) no-repeat 12px 4px;
}

.designerTree h2
{
   padding-top: 0.5em;
}

.designerTree .filter li
{
   overflow-x: hidden;
   padding-left: 0px;
}

.designerTree .filter li a
{
   background: url(../images/list-16.png) no-repeat 4px 0;
   display: block;
   margin-left: 14px;
   padding: 0 0 0 24px;
}

.designerTree .filter li a span
{
   cursor: pointer;
   display: none;
   float: right;
   height: 16px;
   left: -8px;
   position: relative;
   width: 18px;
}

/* Tree */


.designerTree .tree
{
   display: none;
   padding: 0.5em 0 1em;
}

.designerTree .ygtvspacer
{
   display: block;
   width: 18px;
}

.designerTree .ygtvchildren
{
   width: 100%;
}

.designerTree .ygtvitem
{
   background-color: #ffffff;
   overflow-x: hidden;
}

.designerTree .ygtvitem .folders-trimmed
{
   color: #f00;
}

.designerTree .ygtvlabel,
.designerTree .ygtvlabel:link,
.designerTree .ygtvlabel:visited,
.designerTree .ygtvlabel:hover
{
   background: none;
   color: #000;
   white-space: nowrap;
}

.designerTree .ygtverror,
.designerTree .ygtverror:link,
.designerTree .ygtverror:visited,
.designerTree .ygtverror:hover
{
   background: red;
   color: white;
}

.designerTree .selected
{
   background-color: #e1f0fa;
}
