<h1 mat-dialog-title>{{ 'ENTITY_LOGO_UPLOAD.DIALOG.TITLE' | translate }}</h1>

<mat-card-content>  
  <mat-progress-bar *ngIf="loadingProgress > 0" [value]="loadingProgress"></mat-progress-bar>  
</mat-card-content>
<div center mat-dialog-actions>
      <button mat-button (click)="onClickCancel()">Cancel</button>
        <button mat-raised-button [disabled]='disabled' color="primary" (click)="uploadSingleFile.click()">
            <mat-icon>file_upload</mat-icon>
            <span id="upload-single-file-label">{{ 'FILE_UPLOAD.BUTTON.UPLOAD_FILE' | translate }}</span>
            <input #uploadSingleFile
                id="upload-single-file"
                type="file"
                (change)="doUploadEntityLogo($event.target.files)" 
                style="display:none;">
        </button>
  </div>
