.project-list {
	clear: both;
}

.project-list .datagrid {
	margin: 0px;
	padding: 0px;
}

.project-list .alfresco-datatable thead {
	display: table-header-group;
}

.datagrid .datagrid-bar .item-select {
	float: left;
	width: auto;
}

/* project-list bar */
.project-list .project-list-bar {
	border-bottom: 1px dashed #c0c0c0;
	margin: 0 -10px;
	padding: 4px 0.5em 2px;
}

.project-list .project-list-bar-bottom {
	border-top: 1px dashed #d9d9d9;
	margin-top: 2em;
}

.project-list span.separator {
	border-right: 1px dotted #457A9C;
	border-top: medium none;
	margin: 0 4px;
	padding: 2px 0;
	position: relative;
	top: -4px;
	vertical-align: bottom;
}

/* project-list bar Buttons and Paginator */
.project-list .project-list-bar .thin,.project-list .project-list-bar .paginator
	{
	padding: 4px 1em;
	margin: 0;
}

.project-list .project-list-bar .yui-u {
	text-align: right;
}

.project-list .project-list-bar .yui-u.first {
	text-align: left;
}

.project-list .project-list-bar .yui-pg-current {
	margin-right: 0;
}

.project-list .project-list-bar div.filterform .yui-u {
	text-align: left;
}
.project-list .project-list-bar div.filterform {
    width: 60em;
}


/* Data Table */
.project-list .projects table {
	border: medium none;
	width: 100%;
}
/* 
.project-list .projects thead
{
   display: none;
} 
*/
.project-list .projects tbody {
	outline: none;
}

.project-list .projects .yui-dt table {
	border: none;
}

.project-list tr.yui-dt-odd {
	background-color: #ffffff;
}

.project-list .projects td.yui-dt-last .yui-dt-liner {
	visibility: hidden;
}

.project-list .projects tr:hover td.yui-dt-last .yui-dt-liner {
	border-left: 1px solid #c5e6e9;
	visibility: visible;
}

/*
.project-list .projects tr.yui-dt-highlighted td.yui-dt-last .yui-dt-liner
{
   border-left: 1px solid #c5e6e9;
   visibility: visible;
}
*/
.project-list .projects .yui-dt-data td {
	border-bottom: 1px dashed #d9d9d9;
	border-right: medium none;
	vertical-align: middle;
}

.project-list .projects .yui-dt-data .yui-dt-last td {
	border-bottom: medium none;
}

.project-list .projects tr.yui-dt-first td {
	border-top: medium none;
}

.project-list .projects td.yui-dt-last {
	border-left: 1px solid #fff;
	vertical-align: middle;
}

.project-list .yui-dt-liner {
	padding: 4px;
}

.project-list .projects tr.yui-dt-first td.yui-dt-empty,.project-list .projects tr.yui-dt-first td.yui-dt-loading
	{
	border-right: medium none;
	padding: 0.5em 1em;
}

.project-list .yui-dt-error {
	background: red;
	color: white;
	font-weight: bold;
	margin: 1em auto;
	padding: 1em;
}

/* This rule is vital to workaround a Firefox mouseout bug */
.project-list .yui-dt-col-2 {
	overflow: visible;
}

/* Cell Renderers */
.project-list .projects {
	color: #333333;
	margin: 0 -10px 0 -8px;
}

.project-list .projects .yui-dt-col-id .yui-dt-liner {
	padding: 0.5em 1em;
	text-align: center;
}

.project-list .projects .yui-dt-col-title .yui-dt-liner div {
	float: left;
	margin-top: 0.5em;
	min-width: 15em;
}

.project-list .projects .yui-dt-col-title .yui-dt-liner div.type {
	clear: both;
	margin-bottom: 0.5em;
}


/* activities */
/* 
 .project-list  .project-activity-details {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin: 0px 0px 10px;
	padding: 5px;
	border: 1px solid #CCCCCC;
} */

.project-list  .project-activity-details  .icon {
	float: left;
	width: 8%;
	line-height: 3em;
	min-height: 3em;
	text-align: center;
}
 
.project-list .project-activity-details  .details {
	float: right;
	width: 85%;
}

.project-list   .project-activity-details .details .activity-content {
	clear: both;
	list-style-type: disc;
}

.project-list  .project-activity-details .details .activity-content ul li {
	list-style-type: disc;
}

.project-list  .project-activity-details .details .activity-content ol li {
	list-style-type: decimal;
}

.project-list   .activity-content {
	border: 1px solid #CCCCCC;
	padding: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	position: relative;
	min-width: 200px;
	clear:both;
}


.project-list  .activity-content:before {
	position: absolute;
	display: inline-block;
	border-top: 7px solid transparent;
	border-right: 7px solid #CCCCCC;
	border-bottom: 7px solid transparent;
	left: -9px;
	top: 10px;
	content: '';
}

.project-list   .activity-content:after {
	position: absolute;
	display: inline-block;
	border-top: 6px solid transparent;
	border-right: 6px solid #CCCCCC;
	border-bottom: 6px solid transparent;
	left: -7px;
	top: 11px;
	content: '';
}

.project-list .project-activity-details span.deliverable {
	background: url("../../components/images/filetypes/generic-file-16.png")
		no-repeat;
	padding-left: 20px;
}

.project-list .project-activity-details span.task {
	background: url("../../components/images/filetypes/generic-task-16.png")
		no-repeat;
	padding-left: 20px;
}
