
/*
* SCSS Tooltips
* From David Tintner & Hacking UI
* http://hackingui.com
*/
.tooltip-holder {
  text-align: center;
  font-family: arial, helvetica, sans-serif;
}

h1 {
  color: #2c3e50;
}

.text-tooltip {
  word-break: break-all;
}

.text-tooltip > span{
 	max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    display: inline-block;
}
.text-tooltip.ne {
  position: relative;
}
.text-tooltip.ne:before, .text-tooltip.ne:after {
  opacity: 0;
  z-index: 98;
  -moz-transition: opacity 300ms, visibility 0ms linear 300ms;
  -o-transition: opacity 300ms, visibility 0ms linear 300ms;
  -webkit-transition: opacity 300ms, visibility 0ms linear;
  -webkit-transition-delay: 0s, 300ms;
  transition: opacity 300ms, visibility 0ms linear 300ms;
  pointer-events: none;
}
@media (max-width: 480px) {
  .text-tooltip.ne:before, .text-tooltip.ne:after {
    display: none;
  }
}
.text-tooltip.ne:before {
  content: attr(data-tooltip);
  position: absolute;
  width: 200px;
  padding: 10px 15px;
  line-height: 18px;
  text-align: left;
  font-size: 13px;
  font-weight: normal;
  white-space: normal;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #2c3e50;
  color: #fff;
}
.text-tooltip.ne:after {
  content: '';
}
.text-tooltip.ne:before {
  top: -9px;
  bottom: auto;
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.text-tooltip.ne:after {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-top: 6px solid #2c3e50;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: none;
  top: -9px;
  bottom: auto;
}
.text-tooltip.ne:before, .text-tooltip.ne:after {
  left: 50%;
  right: auto;
  margin-left: -6px;
}
.text-tooltip.ne:before {
  margin-left: -18px;
}
.text-tooltip.ne:hover {
  /* putting comment here so :hover is declared first by itself to fix ie10 bug with transitions on psuedo elements- https://css-tricks.com/pseudo-element-animationstransitions-bug-fixed-in-webkit/ */
}
.text-tooltip.ne:hover:before, .text-tooltip.ne:hover:after {
  opacity: 1;
  pointer-events: all;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}
.text-tooltip.nw {
  position: relative;
}
.text-tooltip.nw:before, .text-tooltip.nw:after {
  opacity: 0;
  z-index: 98;
  -moz-transition: opacity 300ms, visibility 0ms linear 300ms;
  -o-transition: opacity 300ms, visibility 0ms linear 300ms;
  -webkit-transition: opacity 300ms, visibility 0ms linear;
  -webkit-transition-delay: 0s, 300ms;
  transition: opacity 300ms, visibility 0ms linear 300ms;
  pointer-events: none;
}
@media (max-width: 480px) {
  .text-tooltip.nw:before, .text-tooltip.nw:after {
    display: none;
  }
}
.text-tooltip.nw:before {
  content: attr(data-tooltip);
  position: absolute;
  width: 200px;
  padding: 10px 15px;
  line-height: 18px;
  text-align: left;
  font-size: 13px;
  font-weight: normal;
  white-space: normal;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #2c3e50;
  color: #fff;
}
.text-tooltip.nw:after {
  content: '';
}
.text-tooltip.nw:before {
  top: -9px;
  bottom: auto;
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.text-tooltip.nw:after {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-top: 6px solid #2c3e50;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: none;
  top: -9px;
  bottom: auto;
}
.text-tooltip.nw:before, .text-tooltip.nw:after {
  right: 50%;
  left: auto;
  margin-right: -6px;
}
.text-tooltip.nw:before {
  margin-right: -18px;
}
.text-tooltip.nw:hover {
  /* putting comment here so :hover is declared first by itself to fix ie10 bug with transitions on psuedo elements- https://css-tricks.com/pseudo-element-animationstransitions-bug-fixed-in-webkit/ */
}
.text-tooltip.nw:hover:before, .text-tooltip.nw:hover:after {
  opacity: 1;
  pointer-events: all;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}
.text-tooltip.se {
  position: relative;
}
.text-tooltip.se:before, .text-tooltip.se:after {
  opacity: 0;
  z-index: 98;
  -moz-transition: opacity 300ms, visibility 0ms linear 300ms;
  -o-transition: opacity 300ms, visibility 0ms linear 300ms;
  -webkit-transition: opacity 300ms, visibility 0ms linear;
  -webkit-transition-delay: 0s, 300ms;
  transition: opacity 300ms, visibility 0ms linear 300ms;
  pointer-events: none;
}
@media (max-width: 480px) {
  .text-tooltip.se:before, .text-tooltip.se:after {
    display: none;
  }
}
.text-tooltip.se:before {
  content: attr(data-tooltip);
  position: absolute;
  width: 200px;
  padding: 10px 15px;
  line-height: 18px;
  text-align: left;
  font-size: 13px;
  font-weight: normal;
  white-space: normal;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #2c3e50;
  color: #fff;
}
.text-tooltip.se:after {
  content: '';
}
.text-tooltip.se:before {
  bottom: -9px;
  top: auto;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.text-tooltip.se:after {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 6px solid #2c3e50;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  bottom: -9px;
  top: auto;
}
.text-tooltip.se:before, .text-tooltip.se:after {
  left: 50%;
  right: auto;
  margin-left: -6px;
}
.text-tooltip.se:before {
  margin-left: -18px;
}
.text-tooltip.se:hover {
  /* putting comment here so :hover is declared first by itself to fix ie10 bug with transitions on psuedo elements- https://css-tricks.com/pseudo-element-animationstransitions-bug-fixed-in-webkit/ */
}
.text-tooltip.se:hover:before, .text-tooltip.se:hover:after {
  opacity: 1;
  pointer-events: all;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}
.text-tooltip.sw {
  position: relative;
}
.text-tooltip.sw:before, .text-tooltip.sw:after {
  opacity: 0;
  z-index: 98;
  -moz-transition: opacity 300ms, visibility 0ms linear 300ms;
  -o-transition: opacity 300ms, visibility 0ms linear 300ms;
  -webkit-transition: opacity 300ms, visibility 0ms linear;
  -webkit-transition-delay: 0s, 300ms;
  transition: opacity 300ms, visibility 0ms linear 300ms;
  pointer-events: none;
}
@media (max-width: 480px) {
  .text-tooltip.sw:before, .text-tooltip.sw:after {
    display: none;
  }
}
.text-tooltip.sw:before {
  content: attr(data-tooltip);
  position: absolute;
  width: 200px;
  padding: 10px 15px;
  line-height: 18px;
  text-align: left;
  font-size: 13px;
  font-weight: normal;
  white-space: normal;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #2c3e50;
  color: #fff;
}
.text-tooltip.sw:after {
  content: '';
}
.text-tooltip.sw:before {
  bottom: -9px;
  top: auto;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.text-tooltip.sw:after {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 6px solid #2c3e50;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  bottom: -9px;
  top: auto;
}
.text-tooltip.sw:before, .text-tooltip.sw:after {
  right: 50%;
  left: auto;
  margin-right: -6px;
}
.text-tooltip.sw:before {
  margin-right: -18px;
}
.text-tooltip.sw:hover {
  /* putting comment here so :hover is declared first by itself to fix ie10 bug with transitions on psuedo elements- https://css-tricks.com/pseudo-element-animationstransitions-bug-fixed-in-webkit/ */
}
.text-tooltip.sw:hover:before, .text-tooltip.sw:hover:after {
  opacity: 1;
  pointer-events: all;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}

