/* ------------------------------------------------------------------------------------------------ 
                                            TOLLS
------------------------------------------------------------------------------------------------ */
#onglet_outils {
	width: 45px; /* augmente de 10; 45 au debut 210 fin */
	position: absolute;
	right: -3px;
	top: 0px;
	overflow: hidden;
	font-family: verdana, arial;
	font-size: 13px;
	
}

#onglet_outils_int {
	width: 210px;
	position: relative;
	right: 0px; /* baisse de 10 */
	top: 0px;
}

#onglet_tete {
	width: 210px;
	height: 37px;
	background: url(./images/onglet_tete.png) left top no-repeat;
}
/* Bouton_tools*/
#onglet_open_btn {
	width: 80%;
	height: 100%;
	float: left;
}

#onglet_open_btn a {
	background: url(./images/outil_out.png) left top no-repeat;
	width: 100%;
	height: 100%;
	display: block;
}

#onglet_open_btn a:hover {
	background: url(./images/outil_over.png) left top no-repeat;
}

#onglet_lock_btn {
	width: 20%;
	height: 100%;
	float: left;
}

#onglet_lock_btn a {
	width: 100%;
	height: 100%;
	display: block;
}
#onglet_lock_btn a:focus,#onglet_lock_btn a:active,#onglet_lock_btn a:hover{
	outline: none;
	text-decoration: none;
}


.lock {
	background: url(./images/lock_out.png) left top no-repeat;
}

.unlock {
	background: url(./images/unlock_out.png) left top no-repeat;
}

/* -------------- */
#onglet_contenu {
	display:none;
}

#ombre_angle {
	width: 45px;
	height: 11px;
	background: url(./images/onglet_ombre_angle.png) right top no-repeat;
}

#onglet_contenu #dockbar_content {
	width: 163px;
	background: #F5F8F2;
	padding-right: 2px;
}

#ombre_y {
	width: 45px;
	background: url(./images/onglet_ombre_y.png) right top repeat-y;
}

#onglet_pied {
	width: 210px;
	height: 21px;
	background: url(./images/onglet_pied.png) right top no-repeat;
	background-position: 10px;
}

/* ------------------------------------------------------------------------------------------------ 
                                            FLOAT LAYER
------------------------------------------------------------------------------------------------ */
#floatLayer {
	position: absolute;
	width: 45px;
	margin: 0;
	top: 0px;
	right: 3px;
	width: 100%;
	z-index: 1000;
}

#floatLayer .on a img {
	margin-top: -28px;
}

#floatLayer .on a:hover img {
	cursor: pointer;
}

div.dockbar {
	position: absolute;
	right: 0px;
	top: 51px;
}

.dockbar .document-characts {
	background-image:
		url("../documentlibrary/actions/entity-view-datalist-16.png");
	background-repeat: no-repeat;
	padding: 2px 0 2px 25px;
}

.dockbar .document-download {
	background-image:
		url("../documentlibrary/actions/document-download-16.png");
	background-repeat: no-repeat;
	padding: 2px 0 2px 24px;
}

.dockbar .simple-doclist h3.filename {
	font-size: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 150px;
	display: block;
}

.dockbar .simple-doclist  span.item-separator {
	margin-right: 0.8em;
	display: block;
}

.dockbar .dockbar-detail {
	padding-left: 15px;
}

.dockbar  a.clear:focus,.dockbar a.clear:active,.dockbar  a.clear:hover
	{
	outline: none;
	text-decoration: none;
}

.page-title {
	 padding-right: 45px;
}
}