.becpg-admin-console
{
   margin: 16px 10px 10px;
}
.becpg-admin-console .title
{
   font-size: 123.1%;
   font-weight: bold;
   padding: 0.5em;
}

.becpg-admin-console .section
{
	border: 1px solid gray;
   margin: 16px 16px 10px 10px;
}

.becpg-admin-console .section .action
{
   margin: 10px;
}

.becpg-admin-console .section .action span
{
 vertical-align: middle;
}

.becpg-admin-console span.systemEntity {
	background: url(../../components/images/filetypes/generic-systemEntity-16.png) no-repeat;
	padding-left: 20px;
}

.becpg-admin-console span.systemFolder {
	background: url(../../components/images/filetypes/generic-folder-16.png) no-repeat;
	padding-left: 20px;
}


ul.users {
    height: 25em;
    line-height: 2em;
    padding-top: 20px;
    overflow: auto;
    overflow-x: hidden;
}

.users li span {
	vertical-align: top;
	padding-left: 20px;
}
