
.project-list ul li div.delivrable {
	 border: 1px solid rgb(204, 204, 204);
	 font-size: 108%;
     margin: 5px;
     width: 95%;
     min-height: 40px;
     height: 40px;
     display: table !important;
     padding:0 !important;
     box-shadow: 0.33px 2px 8px rgba(0, 0, 0, 0.1);
}

.project-list ul li div.delivrable-status {
	width: 5px;
	display: table-cell !important;
    padding:0 !important;
}

.project-list div.delivrable-container {
	 display: table-cell !important;
     padding: 10px !important;
}


.project-list span.doc-file {
	display: inline-table;
}

.project-list div.delivrable-status.delivrable-status-Completed {
	background-color : rgb(123, 209, 72);
}

.project-list div.delivrable-status-Closed   {
	text-decoration:  line-through ;
}


 .project-list div.delivrable-status.delivrable-status-Closed {
    background-color : grey;
 }
 
 .project-list div.delivrable-status.delivrable-status-Planned, .project-list div.delivrable-status.delivrable-status-InProgress {
    background-color :rgb(73, 134, 231);
 }

 
.project-list span.wizard {
	background-image: url("../../../images/task-64.png");
	background-repeat : no-repeat;
    height: 55px;
    padding: 8px 0 0 70px;
    display: inline-table;
}

.project-list a:hover, .project-list span.wizard:hover {
	text-decoration: underline;
}

.project-list a.task-comments:hover {
	text-decoration:none;
}



.project-list a.active-comments {
	cursor: pointer;
	margin-left: 5px;
	display: inline-table;
	font-color:white;
	font-weight:bold;	
	border-radius: 50%;
    width: 10px;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:2px;
    padding-bottom:2px;
    background: #B40431;
    color: white;
    text-align: center;
	
}
 