
.warning-bar .warnings
{
   margin: 0 -10px;
   padding: 0.5em 0;
   color: black;
   text-align: left;
   padding-left : 20px;
   background: none repeat scroll 0 0 #fefdca;
   box-shadow: -2px 2px 2px rgb(200, 200, 200);
   font-size: 108%;
}

.warning-bar .licence-warning
{
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 99;
  opacity: 0.8;
  text-align: center !important;
  padding-top: 200px !important;
}

.warning-bar .warnings a {
	font-weight: bold;
}

.warning-bar .info1
{
   background: url("./images/warning-16.png") no-repeat scroll 0 0 transparent;
   display: inline;
   padding-left: 20px;
}

.warning-bar-toolbar {
	float:right;
	padding-right:20px;
}

.warning-bar-stop-recording {
  background: url("./images/stop-16.png") no-repeat scroll 0 transparent;
   display: inline;
   padding-left: 20px;
}