volumes:
  becpg_data_db:
  solr_data:
  becpg_data:
services:
  becpg:
    image: ${docker.becpg.url}/becpg-${becpg.dockerbuild.name}:${docker.becpg.tag}
    environment:
      CATALINA_OPTS: "-Xmx4G -XX:HotswapAgent=external -Duser.language=fr -Duser.country=FR 
                     -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=0.0.0.0:8888 
                     -XX:HotswapAgent=fatjar
                     -XX:+UseG1GC
                     -Dcom.sun.management.jmxremote.rmi.port=9091
                     -Dcom.sun.management.jmxremote=true
                     -Dcom.sun.management.jmxremote.port=9091
                     -Dcom.sun.management.jmxremote.ssl=false
                     -Dcom.sun.management.jmxremote.authenticate=false
                     -Dcom.sun.management.jmxremote.local.only=false
                     -Djava.rmi.server.hostname=127.0.0.1"
      JAVA_HOME: /usr/java/dcevm-11.0.10+5
    ports:
      - "8080:8080"
      - "8888:8888"  
      - "9091:9091"
    volumes:
      - becpg_data:/usr/local/tomcat/data
      - ../../becpg-core/target/classes:/usr/local/tomcat/hotswap-agent/becpg-core/target/classes
      - ../../becpg-plm/becpg-plm-core/target/classes:/usr/local/tomcat/hotswap-agent/becpg-plm-core/target/classes
      - ../../becpg-project/becpg-project-core/target/classes:/usr/local/tomcat/hotswap-agent/becpg-project-core/target/classes
      - ../../becpg-integration-runner/target/test-classes:/usr/local/tomcat/hotswap-agent/becpg-integration-runner/target/test-classes
      
#  alfresco-pdf-renderer:
#      image: alfresco/alfresco-pdf-renderer:latest
#      environment:
#          JAVA_OPTS: " -Xms256m -Xmx256m"
#      ports:
#          - 8090:8090

#  imagemagick:
#      image: alfresco/alfresco-imagemagick:latest
#      environment:
#          JAVA_OPTS: " -Xms256m -Xmx256m"
#      ports:
#          - 8091:8090

  alfresco-libreoffice:
      image: alfresco/alfresco-libreoffice:latest
      environment:
          JAVA_OPTS: " -Xms256m -Xmx256m"
      ports:
          - 8090:8090
      healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:8090/live"]
        interval: 1m30s
        timeout: 10s
        retries: 3
      
#  tika:
#      image: alfresco/alfresco-tika:latest
#      environment:
#          JAVA_OPTS: " -Xms256m -Xmx256m"
#      ports:
#          - 8093:8090

#  transform-misc:
#      image: alfresco/alfresco-transform-misc:latest
#      environment:
#          JAVA_OPTS: " -Xms256m -Xmx256m"
#      ports:
#          - 8094:8090  
            
  becpg-db:
    image: ${docker.becpg.url}/becpg-db:${docker.becpg.tag}
    environment:
      MYSQL_DATABASE: db
      MYSQL_PASSWORD: becpg
      MYSQL_ROOT_PASSWORD: becpg
      MYSQL_USER: becpg
    volumes:
      - becpg_data_db:/var/lib/mysql
  solr:
      image: ${docker.becpg.url}/becpg-solr:${docker.becpg.tag}
      environment:
      - SOLR_JAVA_MEM=-Xmx2g
      volumes:
      - solr_data:/opt/alfresco-search-services/data
      ports:
          - "8983:8983"  

  becpg-report:
    image:  ${docker.becpg.url}/becpg-report:3.2.3
    user: root
    

