services:
  becpg-base-core:
    image: ${docker.becpg.url}/becpg-base-core:${docker.becpg.tag}
    build:
      dockerfile: ./Dockerfile
      context: ${project.basedir}/target/becpg-base-core

  becpg-base-share:
    image: ${docker.becpg.url}/becpg-base-share:${docker.becpg.tag}
    build:
      dockerfile: ./Dockerfile
      context: ${project.basedir}/target/becpg-base-share    

  becpg-test-core:
    image: ${docker.becpg.url}/becpg-test-core:${docker.becpg.tag}
    build:
      dockerfile: ./Dockerfile
      context: ${project.basedir}/target/becpg-test-core
    depends_on:
      - becpg-base-core
      
  becpg-test-share:
    image: ${docker.becpg.url}/becpg-test-share:${docker.becpg.tag}
    build:
      dockerfile: ./Dockerfile
      context: ${project.basedir}/target/becpg-test-share
    depends_on:
      - becpg-base-share      
      
  becpg-db:
    image: ${docker.becpg.url}/becpg-db:${docker.becpg.tag}
    build:
      dockerfile: ./Dockerfile
      context: ${project.basedir}/target/becpg-db  
      
  becpg-solr:
    image: ${docker.becpg.url}/becpg-solr:${docker.becpg.tag}
    build:
      dockerfile: ./Dockerfile
      context: ${project.basedir}/target/becpg-solr              