/* Treeview icons */

.treeview  span.ygtvlabel.entity {
	background-image:  url(../images/filetypes/generic-entity-16.png) ;
}

 .treeview  span.ygtvlabel.entity.pjt-project {
	background-image:  url(../images/filetypes/generic-project-16.png) ;
}

 .treeview  span.ygtvlabel.entity.bcpg-finishedProduct {
	background-image: url(../images/filetypes/generic-finishedProduct-16.png) ;
}

 .treeview  span.ygtvlabel.entity.bcpg-productSpecification {
	background-image: url(../images/filetypes/generic-productSpecification-16.png) ;
}

 .treeview  span.ygtvlabel.entity.qa-qualityControl {
	background-image: url(../images/filetypes/generic-qualityControl-16.png) ;
}

 .treeview  span.ygtvlabel.entity.bcpg-productMicrobioCriteria {
	background-image: url(../images/filetypes/generic-productMicrobioCriteria-16.png) ;
}

 .treeview  span.ygtvlabel.entity.qa-nc {
	background-image: url(../images/filetypes/generic-nc-16.png) ;
}

 .treeview  span.ygtvlabel.entity.qa-controlPlan {
	background-image: url(../images/filetypes/generic-controlPlan-16.png) ;
}

 .treeview  span.ygtvlabel.entity.qa-controlPoint {
	background-image: url(../images/filetypes/generic-controlPoint-16.png) ;
}

 .treeview  span.ygtvlabel.entity.bcpg-localSemiFinishedProduct {
	background-image: url(../images/filetypes/generic-localSemiFinishedProduct-16.png);
}

 .treeview  span.ygtvlabel.entity.bcpg-packagingKit {
	background-image: url(../images/filetypes/generic-packagingKit-16.png) ;
}

 .treeview  span.ygtvlabel.entity.bcpg-packagingMaterial {
	background-image: url(../images/filetypes/generic-packagingMaterial-16.png) ;
}

 .treeview  span.ygtvlabel.entity.bcpg-rawMaterial {
	background-image: url(../images/filetypes/generic-rawMaterial-16.png) ;
}

 .treeview  span.ygtvlabel.entity.bcpg-semiFinishedProduct {
	background-image: url(../images/filetypes/generic-semiFinishedProduct-16.png) ;
}

 .treeview  span.ygtvlabel.entity.bcpg-resourceProduct {
	background-image: url(../images/filetypes/generic-resourceProduct-16.png) ;
}

 .treeview  span.ygtvlabel.entity.bcpg-client {
	background-image: url(../images/filetypes/generic-client-16.png) ;
}

 .treeview  span.ygtvlabel.entity.bcpg-supplier {
	background-image: url(../images/filetypes/generic-supplier-16.png) ;
}

 .treeview  span.ygtvlabel.entity.ecm-changeOrder {
	background-image: url(../images/filetypes/generic-changeOrder-16.png) ;
}


 .treeview  span.ygtvlabel.entity.sec-aclGroup {
	background-image: url(../images/filetypes/generic-aclGroup-16.png) ;
}


 .treeview  span.ygtvlabel.entity
  {
	background-position:  left bottom;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	left: -10px;
   	position: relative;
    padding-left: 16px;
}
