.toolbar .bulk-edit span.first-child
{
   background: transparent url(../images/edit-inline-16.png) no-repeat 12px 4px;
   padding-left: 22px; 
}


/* Breadcrumb icons */

.toolbar .breadcrumb .entity {
	 background-image: url(../images/filetypes/generic-entity-16.png);
}

.toolbar .breadcrumb .entity.pjt_project
{
   background-image: url(../images/filetypes/generic-project-16.png);
}

.toolbar .breadcrumb .entity.bcpg_finishedProduct {
	background-image: url(../images/filetypes/generic-finishedProduct-16.png);
}

.toolbar .breadcrumb .entity.bcpg_localSemiFinishedProduct {
	background-image: url(../images/filetypes/generic-localSemiFinishedProduct-16.png);
}

.toolbar .breadcrumb .entity.bcpg_packagingKit {
	background-image: url(../images/filetypes/generic-packagingKit-16.png);
}

.toolbar .breadcrumb .entity.bcpg_packagingMaterial {
	background-image: url(../images/filetypes/generic-packagingMaterial-16.png);
}

.toolbar .breadcrumb .entity.bcpg_rawMaterial {
	background-image: url(../images/filetypes/generic-rawMaterial-16.png);
}

.toolbar .breadcrumb .entity.bcpg_semiFinishedProduct {
	background-image: url(../images/filetypes/generic-semiFinishedProduct-16.png);
}

.toolbar .breadcrumb .entity.bcpg_resourceProduct {
	background-image: url(../images/filetypes/generic-resourceProduct-16.png);
}

.toolbar .breadcrumb .entity.bcpg_client {
	background-image: url(../images/filetypes/generic-client-16.png);
}

.toolbar .breadcrumb .entity.bcpg_supplier {
	background-image: url(../images/filetypes/generic-supplier-16.png);
}

.toolbar .breadcrumb .entity.qa_nc {
	background-image:  url(../images/filetypes/generic-nc-16.png) ;
}

.toolbar .breadcrumb .entity.qa_qualityControl {
	background-image:  url(../images/filetypes/generic-qualityControl-16.png) ;
}


.toolbar .breadcrumb .entity.qa_workItemAnalysis {
	background-image:  url(../images/filetypes/generic-workItemAnalysis-16.png) ;
}

.toolbar .breadcrumb .entity.qa_controlPlan {
	background-image:  url(../images/filetypes/generic-controlPlan-16.png) ;
}

.toolbar .breadcrumb .entity.qa_controlPoint {
	background-image:  url(../images/filetypes/generic-controlPoint-16.png) ;
}

