
span.nutrient-class {
  display: table; 
  width: 100%; 
  table-layout: fixed; 
  word-spacing: -2em;
}


.nutrient-class-a,
.nutrient-class-b,
.nutrient-class-c,
.nutrient-class-d,
.nutrient-class-e
 {
    border: 0 none;
    display: inline-block;
    font-size: 17px;
    height: 20px;
    padding: 7px;
    text-align: center;
    width: 15px;
    word-spacing: normal;
}

.selected.nutrient-class-a,
.selected.nutrient-class-b,
.selected.nutrient-class-c,
.selected.nutrient-class-d,
.selected.nutrient-class-e
 {
    border: 4px solid white;
    border-radius: 17px;
    color: white;
    font-size: 23px;
    height: 30px;
    padding: 11px 8px;
    width: 18px;
 }

.nutrient-class-a{
	background: #00853f;
	color: #47a97b;
	border-radius : 5px 0 0 5px;
}


.nutrient-class-b{	
	background: #64bf21;
	color:#b6e86d;
}

.nutrient-class-c{	
	background: #ffc800;
	color: #ffde7d;
}

.nutrient-class-d{	
	background: #ff7600;
	color:#ffb36b;
}

.nutrient-class-e{	
	background: #ff0100;
	color:#ff8d67;
	border-radius : 0px 5px 5px 0px;
}

.nutrient-class-error
{
	background: url("../../images/states/warning-16.png") no-repeat;
	padding-left: 20px;
}