


#leftside thead, #rightside table {
    position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	top: 0;
    left: 0;
    width: 100%;
}


#rightside {
	width: 68%;
	margin: auto;
}

.projects .yui-gd .yui-u {
	margin: 0;
}

.gdatehead {
	border-left: #efefef 1px solid;
}

tr.gheader {
	height: 23px;
}

.project-list .projects .yui-dt .gheader th {
	vertical-align: middle;
}

.project-list .projects .yui-dt-data td.ghead, .project-list .projects .yui-dt-data td.gheadwkend
	{
	border-color: #D9D9D9;
	border-style: dashed solid none none;
	border-width: 1px 1px 0 0;
	border-collapse: separate;
}

.gheadwkend {
	background-color: #cfcfcf
}

.gweekend {
	background-color: #EEEEEE;
	text-align: center;
}

.projects  span.task-title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 200px;
	display: inline-block;
}

.projects  span.task-title a {
	cursor: pointer;
}

.projects  span.resource-title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 120px;
	display: inline-block;
	background: url("../images/filetypes/generic-user-16.png") no-repeat
		scroll 0 0 transparent;
	padding-left: 20px;
}

.project-list .projects .yui-dt-data td.gfoot {
	border: none;
	height: 40px;
	vertical-align: middle;
}

.ggline {
	position: absolute;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	border: 0px;
	z-index: 0;
	background-color: red;
	visibility: visible;
}

td.ggtaskCheckbox {
	width: 16px;
	padding:2px!important;
}


.ggtask {
	background: none repeat scroll 0 0 #FFBC00;
	border: 1px solid red;
	height: 7px;
	color: red;
}

.ggcomplete {
	background-color: #FFF3A5;
	height: 7px;
	overflow: auto;
	z-index: -4;
	float: left;
}

.gtask {
	background: none repeat scroll 0 0 #E5ECF5;
	border: 1px solid #3172D7;
	border-radius: 5px;
	height: 13px;
	opacity: 0.8;
}

.gcaption{
	font-size:12px;
	position:absolute; 
	 width:250px;
}

.gday {
	font-family: tahoma, arial, verdana;
	text-align: center;
}

.gcomplete {
	background-color: black;
	height: 13px;
	overflow: auto;
	background-image: url("../../themes/default/images/title-button-bg.png");
	z-index: -4;
	float: left;
	border-radius: 5px;
}

tr.ggroup {
	background-color: #f3f3f3;
	height: 23px;
}

tr.ggroup.highlight, tr.grow.highlight, tr.gweekend.highlight {
	background-color: #ffffaa;
}

tr.grow, tr.gmile {
	height: 23px;
}

div.scroll {
	overflow: auto;
	overflow-x: scroll;
	overflow-y: hidden;
	position: relative;
}

.projects .gicon {
	height: 15px;
	width: 18px;
	display: inline-block;
}

.projects .ggroup-expanded {
	background-image: url("./images/dt-group-arrow-down.png");
	background-repeat: no-repeat;
}

.projects .ggroup-collapsed {
	background-image: url("./images/dt-group-arrow-up.png");
	background-repeat: no-repeat;
}

.projects div.milestone {
	-ms-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	-o-transform: rotate(45deg);
	margin:2px;
	height: 11px; 
	width:11px;	
		
}

.projects div.completed.milestone {
	-ms-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	-o-transform: rotate(45deg);
	margin:2px;
	height: 11px; 
	width:11px;	
	background-image: url("../../themes/default/images/title-button-bg.png");
}
