<html>

<body>
	<h1>beCPG PLM Icon's</h1>

	<h2>Characteristics</h2>
	<table>
		<tr>
			<td  valign="bottom"><img src='generic-allergen-16.png' alt="" /></td>
			<td  valign="bottom">Allergen</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-bioOrigin-16.png' alt="" /></td>
			<td  valign="bottom">Bio origin</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-cost-16.png' alt="" /></td>
			<td  valign="bottom">Cost</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-ing-16.png' alt="" /></td>
			<td  valign="bottom">Ingredient</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-labelClaim-16.png' alt="" /></td>
			<td  valign="bottom">Label claim</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-geoOrigin-16.png' alt="" /></td>
			<td  valign="bottom">Geo origin</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-microbio-16.png' alt="" /></td>
			<td  valign="bottom">Microbio</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-nut-16.png' alt="" /></td>
			<td  valign="bottom">Nutrient</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-organo-16.png' alt="" /></td>
			<td  valign="bottom">Organoleptic</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-physicoChem-16.png' alt="" /></td>
			<td  valign="bottom">Physico Chemical</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-labelingRuleList-16.png' alt="" /></td>
			<td  valign="bottom">Labeling rule</td>
		</tr>
	</table>



	<h2>Entities</h2>
	<table>
		<tr>
			<td  valign="bottom"><img src='generic-finishedProduct-16.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-finishedProduct-32.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-finishedProduct-48.png' alt="" /></td>
			<td  valign="bottom">Finished product</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-semiFinishedProduct-16.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-semiFinishedProduct-32.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-semiFinishedProduct-48.png' alt="" /></td>
			<td  valign="bottom">Semi finished product</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-localSemiFinishedProduct-16.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-localSemiFinishedProduct-32.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-localSemiFinishedProduct-48.png' alt="" /></td>
			<td  valign="bottom">Local semi finished</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-rawMaterial-16.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-rawMaterial-32.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-rawMaterial-48.png' alt="" /></td>
			<td  valign="bottom">Raw material</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-nc-16.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-nc-32.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-nc-48.png' alt="" /></td>
			<td  valign="bottom">Non conformity</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-packagingKit-16.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-packagingKit-32.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-packagingKit-48.png' alt="" /></td>
			<td  valign="bottom">Packaging kit</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-packagingMaterial-16.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-packagingMaterial-32.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-packagingMaterial-48.png' alt="" /></td>
			<td  valign="bottom">Packaging material</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-product-16.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-product-32.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-product-48.png' alt="" /></td>
			<td  valign="bottom">Product</td>
		</tr>
		
		<tr>
			<td  valign="bottom"><img src='generic-resourceProduct-16.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-resourceProduct-32.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-resourceProduct-48.png' alt="" /></td>
			<td  valign="bottom">Resource product</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-changeOrder-16.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-changeOrder-32.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-changeOrder-48.png' alt="" /></td>
			<td  valign="bottom">Change order</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-productSpecification-16.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-productSpecification-32.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-productSpecification-48.png' alt="" /></td>
			<td  valign="bottom">Product specification</td>
		</tr>
		<tr>

			<td  valign="bottom"><img src='generic-productMicrobioCriteria-16.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-productMicrobioCriteria-32.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-productMicrobioCriteria-48.png' alt="" /></td>
			<td  valign="bottom">Microbio criteria</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-qualityControl-16.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-qualityControl-32.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-qualityControl-48.png' alt="" /></td>
			<td  valign="bottom">Quality control</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-controlPlan-16.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-controlPlan-32.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-controlPlan-48.png' alt="" /></td>
			<td  valign="bottom">Control plan</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-controlPoint-16.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-controlPoint-32.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-controlPoint-48.png' alt="" /></td>
			<td  valign="bottom">Control point</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-workItemAnalysis-16.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-workItemAnalysis-32.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-workItemAnalysis-48.png' alt="" /></td>
			<td  valign="bottom">Work item analysis</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-client-16.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-client-32.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-client-48.png' alt="" /></td>
			<td  valign="bottom">Client</td>
		</tr>
		<tr>
			<td  valign="bottom"><img src='generic-supplier-16.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-supplier-32.png' alt="" /></td>
			<td  valign="bottom"><img src='generic-supplier-48.png' alt="" /></td>
			<td  valign="bottom">Supplier</td>
		</tr>
	</table>
</body>

</html>
