.datagrid.dashlet {
	   margin: 10px 0;
}


.yui-g.formulation .yui-u {
    width: 49.5%;
}

.datagrid .scrollableList
{
   padding: 0;
   height: 260px;
}



.datagrid {
	 visibility: visible;
	 padding:0px;
}


.dashlet.datagrid  .toolbar {
    min-height: 28px;
    padding: 2px 0px 1px;
}


.datagrid .datagrid-bar {
    margin: 0px;
    padding: 0x;
}


/**

 Bar
*/

.datagrid .datagrid-bar .item-select
{
   float: inherit;
   width: inherit;
}

.datagrid .datagrid-bar .paginator
{
   float: inherit;
   width: inherit;
}


.datagrid-bar .left,
.datagrid-bar .left div
{
   float: left;
}

.datagrid-bar .right
{
   float: right;
}


.datagrid-bar .new-row span.first-child
{
   background: url(../images/add-row-16.png) no-repeat 12px 4px;
   padding-left: 24px;
}


/* DataGrid bar */

.datagrid .datagrid-bar-bottom
{
   display: none;
   visibility: hidden;
}

