.datalist-toolbar .finish span.first-child
{
   background: url(../images/finish-16.png) no-repeat 12px 4px;
   padding-left: 24px;
}

.datalist-toolbar .formulate span.first-child
{
   background: url(../images/formulate-16.png) no-repeat 12px 4px;
   padding-left: 24px;
}

