/* beCPG */

.search .search-bar span.bulk-edit-button
{
   background: transparent url(../images/edit-inline-16.png) no-repeat 12px 4px;
   padding-left: 22px; 
}

/* fix ie chrome */

.yui-skin-lightTheme #bd {
    padding-bottom: 0;
}


