
 /* ----- HEADER ----- */
 /* used*/
.becpg-header-type 
{
    color: black;
    font-weight: bold;
    font-size: 14pt;
    text-align: center;
    font-family: arial;
    margin-bottom: 4.5pt;
}
/* used */
.becpg-meta-grid
{
	font-size: 8pt;
	font-family: arial;
	text-align: left;
	width: 100%;
}


.becpg-meta-cell-data
{
	font-weight: bold;
}
 /* used*/
.becpg-header-table 
{
	width: 100%;
	text-align: center;
}
 /* used*/
 .becpg-header-title
{
	margin-top: 4.5pt;
}

/* used */
.becpg-header-image
{
	width: 1.931in;
}

/* ---- BODY ----- */
.becpg-chapter-header
{
	background-color: #004254;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	font-family:sans-serif;
}

/* table & grid*/
.becpg-table {
	width: 100%;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-left-style: solid;
	border-left-width: thin;
	border-right-style: solid;
	border-right-width: thin;
	border-top-style: solid;
	border-top-width: thin;
}

.becpg-col-header
{
	font-weight: bold;
	text-align: left;
}

.becpg-cell-header 
{
	text-align: center;
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-left-style: solid;
	border-left-width: thin;
	border-right-style: solid;
	border-right-width: thin;
	border-top-style: solid;
	border-top-width: thin;
}

.becpg-cell-footer 
{
	text-align: center;
	font-weight: bold;
	background-color: #7bb7f7;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-left-style: solid;
	border-left-width: thin;
	border-right-style: solid;
	border-right-width: thin;
	border-top-style: solid;
	border-top-width: thin;
}

.becpg-cell-bold
{
	font-weight: bold;
}

.becpg-grid-designation 
{
	font-size: 10pt;
	width: 100%;
}

.becpg-row-header
{
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-left-style: solid;
	border-left-width: thin;
	border-right-style: solid;
	border-right-width: thin;
	border-top-style: solid;
	border-top-width: thin;
}

.becpg-col-border
{
	border-left-color: #000000;
	border-left-style: solid;
	border-left-width: thin;
	border-right-style: none;
	border-right-width: medium;
	border-top-color: #000000;
	
}

.becpg-row-border
{
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-left-style: solid;
	border-left-width: thin;
	border-right-style: solid;
	border-right-width: thin;
	border-top-style: solid;
	border-top-width: thin;
	border-top-color: #000000;
}

.becpg-row-border-top
{
	border-top-style: solid;
	border-top-width: thin;
	border-top-color: #000000;
}
.becpg-group-header
{
	background-color: #EEEEEE;
}

/* data */
.becpg-data-unit
{
	text-align: center;
}

.becpg-cell-data-header
{
	text-align: center;
}

.becpg-cell-dynamic-header
{
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-left-style: solid;
	border-left-width: thin;
	border-right-style: solid;
	border-right-width: thin;
	border-top-style: solid;
	border-top-width: thin;
}

.becpg-cell-dynamic-header-left
{
	text-align: left;
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-left-style: solid;
	border-left-width: thin;
	border-right-style: solid;
	border-right-width: thin;
	border-top-style: solid;
	border-top-width: thin;
}

.becpg-cell-data
{
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-left-style: solid;
	border-left-width: thin;
	border-right-style: solid;
	border-right-width: thin;
	border-top-style: solid;
	border-top-width: thin;
}

.becpg-cell-data-left
{
	text-align: left;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-left-style: solid;
	border-left-width: thin;
	border-right-style: solid;
	border-right-width: thin;
	border-top-style: solid;
	border-top-width: thin;
}

.becpg-cell-data-right
{
	text-align: right;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-left-style: solid;
	border-left-width: thin;
	border-right-style: solid;
	border-right-width: thin;
	border-top-style: solid;
	border-top-width: thin;
}
/* Quality Report css */
.becpg-quality-row-header
{
	border-color: #c5c2c2;
	background-color: #009DCC;
	color: #FFFFFF;
	font-size: 12pt;
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: thin;
	text-align: center;
}

.becpg-quality-col-border
{
	border-color: #c5c2c2;
	border-left-style: solid;
	border-left-width: thin;
	text-align: center;
}

.becpg-quality-table 
{
	width: 100%;
	border-style: solid;
	border-width: thin;
	border-color: #c5c2c2;
	color: #000000;
}

.becpg-quality-label-header
{
	font-size: 12pt;
}

/* ----- FOOTER ----- */

.color-adress-website {
	color:#126683;
}

/** labeling **/
u {
   text-underline-position: under;
}
