/**
 Yui 
**/
.labeling-view  .yui-g .yui-u {
	width: 49.5%;
}

.labeling-view  .yui-skin-default .yui-button {
	margin: 0px;
}

/**
 Dashlet
**/
.labeling-view  .datagrid .scrollableList {
	padding: 0;
	height: 260px;
}

.labeling-view  .datagrid {
	padding: 0px;
}

.labeling-view  .dashlet {
	margin: 10px 0;
}

.labeling-view  .dashlet  .toolbar {
	height: 28px;
	margin: 0px;
	padding: 0x;
}

/**
 Bar
*/

.labeling-view  .datagrid .datagrid-bar .paginator {
	float: inherit;
	width: inherit;
}

.labeling-view  .datagrid-bar .left,.datagrid-bar .left div {
	float: left;
}

.labeling-view  .datagrid-bar .right {
	float: right;
}

.labeling-view  .datagrid-bar .new-row span.first-child {
	background: url(../images/add-row-16.png) no-repeat 12px 4px;
	padding-left: 24px;
}

.labeling-view  .note {
	position: relative;
	padding: 1em 1em;
	background: url("../images/welcome-background.png") repeat-x scroll 0 0
		transparent;
	overflow: hidden;
	color: black;
	border : 1px solid #FFEA5B;
}

.labeling-view .note:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 0 16px 16px 0;
	border-style: solid;
	border-color: #fff #fff #FFEA5B #FFEA5B;
	background: #FFEA5B;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px
		rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px
		rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px
		rgba(0, 0, 0, 0.2);
	display: block;
	width: 0; /* Firefox 3.0 damage limitation */
}

.labeling-view  .note.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.labeling-view  .note.rounded:before {
	border-width: 8px;
	border-color: #fff #fff transparent transparent;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}

.labeling-view .yui-dt-odd .note.rounded:before {
	border-color: #F8F8F8 #F8F8F8 #FFEA5B #FFEA5B;
}					

.labeling-view .yui-dt-odd .yui-dt-highlighted .note.rounded:before, 
.labeling-view .yui-dt-highlighted .note.rounded:before {
	border-color: #F5F5F5 #F5F5F5 #FFEA5B #FFEA5B;
}

.labeling-view .yui-dt-odd .yui-dt-selected .note.rounded:before,
.labeling-view .yui-dt-selected .note.rounded:before {
	border-color: #AAAAAA #AAAAAA #FFEA5B #FFEA5B;
}
