.categoryview {
    display: none;
}
#template_x002e_tags_x002e_myfiles_x0023_default {
    display: none;
}
.doclib-filter {
    display: none;
}

#HEADER_CUSTOMIZE_USER_DASHBOARD {
    display: none;
}

#HEADER_MY_FILES {
    display: none;
}

.reassign {
    display: none;
}

#page_x002e_data-form_x002e_task-edit_x0023_default_assoc_packageItems-cntrl {
    display: none;
}


#template_x002e_node-header_x002e_document-details_x0023_default-favourite {
    display: none;
}
#template_x002e_node-header_x002e_document-details_x0023_default-like {
    display: none;
}
#template_x002e_node-header_x002e_document-details_x0023_default-quickshare {
    display: none;
}
.item {
    display: none;
}
#template_x002e_document-workflows_x002e_document-details_x0023_default-body {
    display: none;
}
#template_x002e_document-links_x002e_document-details_x0023_default {
    display: none;
}
#template_x002e_comments_x002e_document-details_x0023_default-body {
    display: none;
}
#template_x002e_document-versions_x002e_document-details_x0023_default-body {
    display: none;
}


#template_x002e_documentlist_v2_x002e_myfiles_x0023_default-createContent-button {
    display: none;
}
#template_x002e_documentlist_v2_x002e_myfiles_x0023_default-bulkEdit-button {
    display: none;
}
#template_x002e_documentlist_v2_x002e_myfiles_x0023_default-selectedItems-button-button {
    display: none;
}


.yui-button-align {
    border-color: transparent;
    border-style: solid;
    border-width: 1px 0;
    display: none;
    vertical-align: text-bottom;
}

#page_x002e_component-1-1_x002e_user_x007e_Fournisseur1_x007e_dashboard_x0023_default-filters {
    display: none;
}


#template_x002e_documentlist_v2_x002e_myfiles_x0023_default-actions-yui-rec65 .document-delete {
    display: none;
}

#template_x002e_document-versions_x002e_entity-data-lists_x0023_default-body {
    display: none;
}

#template_x002e_toolbar_x002e_entity-data-lists_x0023_default-action-set-button-button {
    display: none;
}


#page_x002e_data-form_x002e_task-details_x0023_default_assoc_packageItems-cntrl {
    display: none;
}


label[for="page_x002e_data-form_x002e_task-edit_x0023_default_assoc_packageItems-cntrl"] {
    display: none!important;
}


#alf-id137 {
    display: none;
}
#yui-gen192 {
    display: none;
}
#yui-gen197 {
    display: none;
}
#yui-gen199 {
    display: none;
}

#yui-gen257 {
    display: none;
}



#template_x002e_node-header_x002e_document-details_x0023_default-quickshare {
    display: none;
}

#template_x002e_document-tags_x002e_document-details_x0023_default-body {
    display: none;
}

#template_x002e_document-links_x002e_document-details_x0023_default-body {
    display: none;
}

#template_x002e_document-workflows_x002e_document-details_x0023_default-body{
    display: none;
}

#template_x002e_document-versions_x002e_entity-data-lists_x0023_default-body {
    display: none;
}

#template_x002e_toolbar_x002e_entity-data-lists_x0023_default-action-set-button-button {
    display: none;
}



#onActionEditOffline ,
#onActionCopyTo ,
#onActionMoveTo ,
#onActionDelete ,
#onActionAssignWorkflow,
#onGoogledocsActionEdit {
    display: none;
}



.entity-manage-repo-permissions,
.entity-branches,
.document-manage-aspects,
.folder-manage-rules,
.document-view-content,
.document-edit-metadata,
.document-edit-offline,
.document-copy-to,
.document-move-to,
.document-delete,
.document-assign-workflow,
.document-manage-granular-permissions,
.document-manage-aspects,
.document-change-type,
.document-manage-repo-permissions,
.document-edit-properties{
    display: none;
}

#onActionDelete.document-delete {
	display: inherit ;
}

.more-actions > #onActionDelete.document-delete {
	display: none;
}


#onActionOpenInJavascriptConsole {
    display: none;
}


.de_fme_jsconsole-open-in-jsconsole{
    display: none;
}



