.project-details span {
    color: grey;
    font-size: 12px;
    display: inline-block;
}

.project-details a{
    display: inline-block;
}

.project-details .hr {
    border: 1px solid #D3D3D3;
    margin-top: 5px;
    margin-bottom: 10px;
}

.project-details {
	 margin: 35px auto 5px auto;
     border: 1px solid #D3D3D3; 
     min-width : 30em;
     background: #eee;
     border-top-left-radius: none;
     padding-bottom: 1px;
     
}

.project-details .big-number {
    color: black;
    font-size: 17px;
    font-weight: 700;
}

.project-details .white-btn {
	background-color: rgba( 255, 255, 255, 0.5);
	border-radius: 8px;
    padding: 3px 11px;
    margin-left: 20px;
}

.project-details .title-block{
    color: white;
    vertical-align: text-top;
    font-size: 19px;
    margin-top: -3px
}

.project-details .white-block {
    margin-top: 40px;
    background-color: white;
    margin: 10px;
    padding: 6px 6px;
}

.project-details .block-title {
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;
}

.project-details .medium-title {
    color: black;
    font-size: 15px;
    font-weight: 700;
}

.project-details vertical-top,
.project-details .medium-title {
    vertical-align: top;
    margin-top: 6px;
}

.project-details .red-text {
    color: #ff6620;
}

.project-details .black-text {
    color: black;
}

.project-details .chart {
    background-color:white;
    margin-top: 20px;
    margin-bottom: 5px;
}

.project-details .float-right {
    float: right;
}

.project-details .float-left {
    float: left;
}
.project-details .bold {
    font-weight: bold;
}

.project-details .myProgress {
    width: 100%;
    background-color: #e7e3e3;
    margin-top:5px;
}

.project-details .blueBar, .project-details .lightBlueBar, 
.project-details .redBar, .project-details .mauveBar, 
.project-details .lightmauveBar {
    height: 30px;
    line-height: 30px;
    color: white;
    text-align: left;
}

.project-details .blueBar{
    background-color: #009dcc;
}

.project-details .lightBlueBar{
	background-color: #90c6de;
}

.project-details .redBar{
    background-color: #fb9e29;
}

.project-details .mauveBar{
    background-color: rgb(115, 95, 173);
    width: 68%;
}

.project-details .lightmauveBar{
    background-color: #cac1e4;
    width: 60%;
    color: black;
}

.project-details .green-header{
    background-color: #69bd43;
    padding: 6px;
    margin-bottom: 10px;
}
.project-details .red-header{
    background-color: #f44336;
    padding: 6px;
    margin-bottom : 10px;
}

.project-details .margin-top{
	margin-top: 10px;
}

.project-details .scrollableList {
    width: 100%;
    height: 100px;
    overflow: auto;
}

.project-details .display-flex{
	display:flex;
}

.project-details .btn:hover {
  background-color: #ddd;
}

.project-details .btn.active {
  background-color: white;
  color: black;
}

.project-details .filter-btn{
    background-color: rgba( 255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 2px 11px;
    border-style: unset;
    margin-left: 20px;
    margin-top: 3px;
    cursor: pointer;
}

.project-details .bar-description{
	font-size: 12px;
	display:-moz-inline-box;
	position:absolute;
	float: right;
	color: black;
	margin-left : 5px;
}

.project-details .comment-details{
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin: 10px 0px;
}

.project-details .icon {
	float: left;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align:center;
}

.project-details .div-resizer{
    resize: vertical;
    overflow: auto;
}

.project-details .black-bold-text{
	color: black;
	font-weight: bold;
	float: right;
}

.project-details .txt-align-end {
	text-align: end; 
}

.project-details  span.task {
    background: url("../../components/images/filetypes/generic-task-16.png") no-repeat;
    padding-left: 20px;
    color: black;
}

.project-details  span.task-milestone {
	background: url("../../components/images/filetypes/generic-task-milestone-16.png") no-repeat;
	padding-left: 20px;
	color: black;
}


.project-details  span.comming-tasks-title {
	background: url("../../components/documentlibrary/indicators/project-inprogress-16.png") 0px 3px no-repeat;
	padding-left: 25px;
    
}


.project-details  span.overdue-tasks-title {
	background: url("../../components/images/states/error-16.png")  0px 3px no-repeat;
	padding-left: 25px;
}