
/** Autocomplete **/


.yui-ac-container span.finishedProduct-ToValidate {
	background: url(../../components/images/filetypes/generic-finishedProduct-16.png) no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.localSemiFinishedProduct-ToValidate {
	background: url(../../components/images/filetypes/generic-localSemiFinishedProduct-16.png)
		no-repeat;
	padding-left: 20px;
}


.yui-ac-container span.packagingKit-ToValidate {
	background: url(../../components/images/filetypes/generic-packagingKit-16.png) no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.packagingMaterial-ToValidate {
	background: url(../../components/images/filetypes/generic-packagingMaterial-16.png) no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.rawMaterial-ToValidate {
	background: url(../../components/images/filetypes/generic-rawMaterial-16.png) no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.semiFinishedProduct-ToValidate {
	background: url(../../components/images/filetypes/generic-semiFinishedProduct-16.png) no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.resourceProduct-ToValidate {
	background: url(../../components/images/filetypes/generic-resourceProduct-16.png) no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.finishedProduct-Valid {
	background: url(../../components/images/states/valid-16.png), url(../../components/images/filetypes/generic-finishedProduct-16.png) ;
	background-repeat:  no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
}

.yui-ac-container span.localSemiFinishedProduct-Valid {
	background: url(../../components/images/states/valid-16.png), url(../../components/images/filetypes/generic-localSemiFinishedProduct-16.png);
		background-repeat:  no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
}

.yui-ac-container span.packagingKit-Valid {
	background: url(../../components/images/states/valid-16.png), url(../../components/images/filetypes/generic-packagingKit-16.png);
	background-repeat:  no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
}

.yui-ac-container span.packagingMaterial-Valid {
	background: url(../../components/images/states/valid-16.png), url(../../components/images/filetypes/generic-packagingMaterial-16.png);
	background-repeat:  no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
}

.yui-ac-container span.rawMaterial-Valid {
	background: url(../../components/images/states/valid-16.png), url(../../components/images/filetypes/generic-rawMaterial-16.png) ;
	background-repeat:  no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
}

.yui-ac-container span.semiFinishedProduct-Valid {
	background: url(../../components/images/states/valid-16.png), url(../../components/images/filetypes/generic-semiFinishedProduct-16.png);
	background-repeat:  no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
}

.yui-ac-container span.resourceProduct-Valid {
	background: url(../../components/images/states/valid-16.png), url(../../components/images/filetypes/generic-resourceProduct-16.png);
	background-repeat:  no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
}

.yui-ac-container span.listValue {
	background: url(../../components/images/generic-file-16.png) no-repeat;
	padding-left: 20px;
}


.yui-ac-container span.linkedValue {
	background: url(../../components/images/generic-file-16.png) no-repeat;
	padding-left: 20px;
}


.yui-ac-container span.client {
	background: url(../../components/images/filetypes/generic-client-16.png) no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.supplier {
	background: url(../../components/images/filetypes/generic-supplier-16.png) no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.supplier {
	background: url(../../components/images/filetypes/generic-supplier-16.png) no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.allergen {
	background: url(../../components/images/filetypes/generic-allergen-16.png) no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.bioOrigin {
	background: url(../../components/images/filetypes/generic-bioOrigin-16.png) no-repeat;
	padding-left: 20px;
}


.yui-ac-container span.geoOrigin {
	background: url(../../components/images/filetypes/generic-geoOrigin-16.png) no-repeat;
	padding-left: 20px;
}


.yui-ac-container span.cost {
	background: url(../../components/images/filetypes/generic-cost-16.png) no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.geo {
	background: url(../../components/images/filetypes/generic-geo-16.png) no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.ing {
	background: url(../../components/images/filetypes/generic-ing-16.png) no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.microbio {
	background: url(../../components/images/filetypes/generic-microbio-16.png) no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.organo {
	background: url(../../components/images/filetypes/generic-organo-16.png) no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.physicoChem {
	background: url(../../components/images/filetypes/generic-physicoChem-16.png)
		no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.nut {
	background: url(../../components/images/filetypes/generic-nut-16.png) no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.aclEntry {
	background: url(../../components/images/filetypes/generic-aclEntry-16.png) no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.dataList {
	background: url(../../components/images/list-16.png) no-repeat;
	padding-left: 20px;
}

.yui-ac-container span.productCatalog {
	background: url(../../components/images/filetypes/generic-productCatalog-16.png) no-repeat;
	padding-left: 20px;
}