/*************************************/
/**            beCPG               **/
/************************************/
* {
	--icon-finishedProduct-16:
		url("../../components/images/filetypes/generic-finishedProduct-16.png");
	--icon-rawMaterial-16:
		url("../../components/images/filetypes/generic-rawMaterial-16.png");
	--icon-semiFinishedProduct-16:
		url("../../components/images/filetypes/generic-semiFinishedProduct-16.png");
	--icon-logisticUnit-16:
		url("../../components/images/filetypes/generic-logisticUnit-16.png");
	--icon-localSemiFinishedProduct-16:
		url("../../components/images/filetypes/generic-localSemiFinishedProduct-16.png");
	--icon-supplier-16:
		url("../../components/images/filetypes/generic-supplier-16.png");
	--icon-packagingKit-16:
		url("../../components/images/filetypes/generic-packagingKit-16.png");
	--icon-packagingMaterial-16:
		url("../../components/images/filetypes/generic-packagingMaterial-16.png");
	--icon-resourceProduct-16:
		url("../../components/images/filetypes/generic-resourceProduct-16.png");
	--icon-productCollection-16:
		url("../../components/images/filetypes/generic-productCollection-16.png");
	--icon-productCatalog-16:
		url("../../components/images/filetypes/generic-productCatalog-16.png");
	--icon-client-16:
		url("../../components/images/filetypes/generic-client-16.png");
	--icon-entity-16:
		url("../../components/images/filetypes/generic-entity-16.png");
	--icon-project-16:
		url("../../components/images/filetypes/generic-project-16.png");
}

#bd {
	padding-bottom: 0em;
}

.footer-becpg .copyright {
	display: inline-block;
	line-height: 22px;
	padding-top: 10px;
}

.footer-becpg .copyright img {
	padding-right: 1em;
	vertical-align: baseline;
}

.footer-becpg .copyright span {
	display: none;
}

/* Share forms */
.form-container .yui-navset  .datepicker-icon, .form-container .form-field  .datepicker-icon,
	.form-container .yui-g  .form-field  .datepicker-icon, .form-container .yui-gb .form-field  .datepicker-icon
	{
	margin: 0;
}


.form-container .yui-ac .ac-body,
.form-container .yui-g.number-range,
.form-container .form-field input.number {
	width: 28em;
}

.form-container .form-field input.number-range {
    width: 10em;
}

.form-container .form-field input.number-unit {
	width: 24em;
}

 .form-container  .form-field select.number-unit {
	width: 4em;
}


.form-container .form-field  textarea {
	width: 95% !important;
}

.form-container .help-text {
	width: 100% !important;
}

/*2 Column set */
	:not(.bd) > .form-container .yui-g .form-field input[type="text"]:not(.number-range,.date-range,.date-entry,.number-unit,.yui-ac-input), 
	:not(.bd) > .form-container .yui-g .form-field input[type="file"],
	:not(.bd) > .form-container .yui-g .form-field input[type="password"],
	:not(.bd) > .form-container .yui-g .form-field input:not(.number-range,.date-range,.date-entry,.number-unit,.yui-ac-input,.formsCheckBox), 
	:not(.bd) > .form-container .yui-g .form-field select,
	:not(.bd) > .form-container .yui-g .form-field textarea, 
	.form-container .yui-g .yui-ac .ac-body
	{
	width: 27em !important;
}


.form-container .yui-g .form-field  input.date-range {
    width: 6em !important;
    margin-bottom: 0.1em;
}


.form-container .yui-g .form-field input[type="text"].number.number-unit{
	width: 22em !important;
}

.form-container .yui-g .form-field input[type="text"].number.date-entry {
	width: 25em !important;
}

.form-container .yui-g .form-field input[type="text"].number.number-unit:disabled {
	width: 26em !important;
}


.form-container .yui-g .form-field select.number-unit {
	width: 4em !important;
}


.form-container  .yui-g .alf-textarea .help-icon {
	position: absolute;
	float: none;
}


.filter-form .form-fields {
	width: 58em;
    border-bottom: 0px !important;
}



/* 1-2 Column Tabbed Set */
.form-container .yui-navset .set {
	padding-bottom: 0em;
}

	 :not(.bd) > .form-container .yui-navset .form-field input[type="text"]:not(.date-entry,.number-range,.date-range,.number-unit,.yui-ac-input),
	 :not(.bd) > .form-container .yui-navset .form-field input[type="file"],
	 :not(.bd) > .form-container .yui-navset .form-field input[type="password"],
	 :not(.bd) > .form-container .yui-navset .form-field input:not(.number-range,.date-entry,.number-range,.date-range,.number-unit,.yui-ac-input,.formsCheckBox), 
	 :not(.bd) > .form-container .yui-navset .form-field select,
	 :not(.bd) > .form-container .yui-navset .form-field textarea, .form-container .yui-navset .yui-ac .ac-body
	{
	width: 26em !important;
}

.form-container .yui-navset .form-field input.number-unit {
	width: 22em !important;
}

.form-container .yui-navset .form-field input.date-entry {
	width: 25em !important;
}


.form-container .yui-navset .form-field select.number-unit {
	width: 4em !important;
}



/* 3 Column set */
	 :not(.bd) > .form-container .yui-gb .form-field input[type="text"]:not(.number-range):not(.date-range):not(.number-unit):not(.yui-ac-input), 
	 :not(.bd) > .form-container .yui-gb .form-field input[type="file"],
	 :not(.bd) > .form-container .yui-gb .form-field input[type="password"],
	 :not(.bd) > .form-container .yui-gb .form-field input:not(.number-range):not(.date-range):not(.number-unit):not(.yui-ac-input):not(.formsCheckBox), 
	 :not(.bd) > .form-container .yui-gb .form-field select,
	 :not(.bd) > .form-container .yui-gb .form-field textarea, .form-container .yui-gb .yui-ac .ac-body
	{
	width: 16em !important;
}


.form-container .yui-gb .form-field input.number-unit {
	width: 12em !important;
}

.form-container .yui-gb .form-field select.number-unit {
	width: 4em !important;
}

.form-container .yui-gb .form-field input.number-range {
	width: 6em !important;
}

.form-container .yui-g .form-field input.number-range {
	width: 9em !important;
}


.form-container .yui-g .form-field input[type="checkbox"],
	.form-container .yui-navset .form-field input[type="checkbox"],
	.form-container .yui-gb .form-field input[type="checkbox"] {
	width: auto !important;
}


.form-container .yui-gb .yui-g.date-range,.form-container .yui-gb .yui-g.number-range {
	
	width: auto !important;
	margin: 0;
}

.form-container  .checkboxmany p {
	display : block;
}

.form-container  .checkboxmany p label {
	display: inline;
}

/* Auto complete */
.form-container .yui-navset :not(.yui-u) > .form-field .yui-ac .ac-body input[type="text"].yui-ac-input ,
:not(.bd) > .form-container  .yui-g .form-field .yui-ac .ac-body input[type="text"].yui-ac-input, 
.yui-dialog .form-container :not(.yui-u) > .form-field .yui-ac .ac-body input[type="text"].yui-ac-input
	{
	width: 90% !important;
}

.form-container .yui-gb .form-field .yui-ac .ac-body input[type="text"].yui-ac-input{
	width: 85% !important;
}


/** Boolean **/

.form-field-boolean {
	display: inline-flex;
	overflow: hidden;
	width: 26em !important;
}

.form-field-boolean input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.form-field-boolean label {
	line-height: 0.5em;
	text-align: center;
	padding: 10px !important;
	margin-right: -1px;
	border: 1px solid #ccc; ;
	transition: all 0.1s ease-in-out;
}

.form-field-boolean label:hover {
	cursor: pointer;
}

.form-field-boolean input:checked + label {
	background-color: #125380;
	color: #ffffff;
	box-shadow: none;
}

.form-field-boolean label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.form-field-boolean label:last-of-type {
	border-radius: 0 4px 4px 0;
}



/** Tab **/
.share-form .form-container .yui-navset .yui-content {
	background-color: #F5FFF2;
	border-color: #EEEEEE;
	margin-bottom: 0.5em;
	padding-top: 0.5em;
}

.yui-skin-lightTheme .share-form .form-container .yui-navset .yui-content
	{
	background-color: #FFFFFF;
}

.share-form .form-container .yui-navset .yui-nav .selected a,
	.yui-skin-default .yui-navset .yui-nav .selected a em {
	border-color: #EEEEEE;
	background-color: #EEEEEE;
}

.share-form .form-container .yui-navset .yui-nav .selected a,
	.yui-skin-default .yui-navset .yui-nav .selected a:focus,
	.yui-skin-default .yui-navset .yui-nav .selected a:hover {
	background-image: none;
	background-color: #EEEEEE;
	color: #000000;
}

.share-form .form-container .yui-navset .yui-nav a {
	background-image: none;
	background-color: #FFFFFF;
	border-color: #D8D8D8;
	color: #000000;
}

.share-form .form-container .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav
	{
	border-color: #EEEEEE;
}

.share-form .form-container  .set-panel-heading {
	display: none;
}

/** view details **/
.alfresco-twister .alfresco-twister-actions {
	right: 1em;
	float: right;
	position: inherit;
}

/** fix ie chrome */
.yui-skin-lightTheme .search-title div.clear {
	clear: none;
}

@page {
	size: landscape;
}

@media print {
	body {
		print-color-adjust: exact;
	}
}

img.icon16 {
	width: 16px;
	height: 16px;
}

img.icon32 {
	width: 32px;
	height: 32px;
}

img.icon16_11 {
	width: 16px;
	height: 11px;
}


/** ##########################   header ######################  */

.dijitIcon.dijitMenuItemIcon.project-list-header {
    background-image: url("../../components/images/header/project-list.png") !important
}
.dijitIcon.dijitMenuItemIcon.product-list-header {
    background-image: url("../../components/images/header/product-list.png") !important
}

.dijitIcon.dijitMenuItemIcon.nc-list-header {
    background-image: url("../../components/images/header/nc-list.png") !important
}
.dijitIcon.dijitMenuItemIcon.ecm-record {
    background-image: url("../../components/images/record-16.png") !important
}
.dijitIcon.dijitMenuItemIcon.becpg-admin-header {
    background-image: url("../../components/images/header/becpg-admin.png") !important
}
.dijitIcon.dijitMenuItemIcon.becpg-olap-header {
    background-image: url("../../components/images/header/becpg-olap.png") !important
}
.dijitIcon.dijitMenuItemIcon.model-designer-header {
    background-image: url("../../components/images/header/model-designer.png") !important
}


.dijitIcon.dijitMenuItemIcon.becpg-admin-header,
.dijitIcon.dijitMenuItemIcon.becpg-olap-header,
.dijitIcon.dijitMenuItemIcon.ecm-record,
.dijitIcon.dijitMenuItemIcon.model-designer-header,
.dijitIcon.dijitMenuItemIcon.nc-list-header,
.dijitIcon.dijitMenuItemIcon.project-list-header,
.entity.supplier {
    background-repeat: no-repeat;
    height: 20px;
    width: 20px
}

#HEADER_BECPG_LANGUAGE {
    margin:0px;
    padding:2px;
}

#HEADER_BECPG_LANGUAGE img {
	background-repeat: no-repeat;
	background-position-y: 5px;
	height: 100% !important;
	width: 100% !important;
}



.alfresco-share .alfresco-header-SearchBox input.alfresco-header-SearchBox-text {
 	margin-right: 0px !important;	
}


.dijitIcon.dijitMenuItemIcon.entity {
	  padding: 0px !important;
}

span.link {
    background-image: url("../../components/images/link-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.dynaAccessDenied,
span.reqTypeForbidden {
    background-image: url("../../components/images/states/error-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}
span.dynaCompEquals {
    background-image: url("../../components/images/equals-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat;
    margin-left: 5px
}

span.dynaCompIncrease {
    background-image: url("../../components/images/increase-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat;
    margin-left: 5px
}
span.dynaCompDecrease {
    background-image: url("../../components/images/decrease-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat;
    margin-left: 5px
}
span.dynaCompNone {
    padding-left: 20px
}
span.cost-formulated-error,
span.lca-formulated-error,
span.dynaError,
span.notificationError,
span.reqCtrlList,
span.lcl-formulated-error,
span.nut-formulated-error,
span.physicoChem-formulated-error,
span.reqTypeTolerated {
    background-image: url("../../components/images/states/warning-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}
span.reqTypeInfo,
span.reqTypeAuthorized {
    background-image: url("../../components/images/states/info-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}


span.dynamicCharactList,
span.cost-formulated,
span.lca-formulated,
span.lcl-formulated,
span.nut-formulated,
span.physicoChem-formulated {
    background-image: url("../../components/images/lcl-formulated-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}



.yui-dt  span.variant {
    height: 13px;
    width: 13px;
	border-radius: 50%;
	display: inline-block;
    border: 1px solid #ccc;
    
}
.yui-dt span.variant-default {
    height: 13px;
    width: 13px;
	background-color: #ccc;
	border-radius: 50%;
	display: inline-block;
    border: 1px solid #ccc;
}


.yui-ac  span.variant {
    background-image: url("../../components/images/enabled-indicator-off-16.png") !important;
    background-repeat: no-repeat;
    padding-left: 14px
}
.yui-ac  span.variant-default {
    background-image: url("../../components/images/enabled-indicator-on-16.png") !important;
    background-repeat: no-repeat;
    padding-left: 14px
}

.yui-ac span.variant, .yui-ac span.variant-default  {
	 padding-left: 20px;
	 background-color: transparent;
	 border: none;
	 width :16px;
}


/** Commons **/

span.entity,
.entity {
    background-image: var(--icon-entity-16) !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.dataList {
    background-image: url("../../components/images/list-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.linkedValue,
span.listValue {
    background-image: url("../../components/images/generic-file-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.client,
.entity.client {
    background-image: var(--icon-client-16) !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.supplier,
.entity.bcpg-supplier,
.entity.supplier {
    background-image: var(--icon-supplier-16) !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

/** Products **/


span.productCatalog {
    background-image: var(--icon-productCatalog-16) !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.product,
span.productCollection,
span.productCollection-ToValidate,
.entity.bcpg-productCollection,
.entity.productCollection  {
    background-image: var(--icon-productCollection-16) !important;
    padding-left: 20px;
    background-repeat: no-repeat
}


span.product,
span.finishedProduct,
span.finishedProduct-ToValidate,
.entity.bcpg-finishedProduct,
.entity.finishedProduct  {
    background-image: var(--icon-finishedProduct-16) !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.localSemiFinishedProduct,
span.localSemiFinishedProduct-ToValidate,
.entity.bcpg-localSemiFinishedProduct,
.entity.localSemiFinishedProduct {
    background-image: var(--icon-localSemiFinishedProduct-16) !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.packagingKit,
span.packagingKit-ToValidate,
.entity.bcpg-packagingKit,
.entity.packagingKit {
    background-image: var(--icon-packagingKit-16) !important;
    padding-left: 20px;
    background-repeat: no-repeat
}
span.packagingMaterial,
span.packagingMaterial-ToValidate,
.entity.bcpg-packagingMaterial,
.entity.packagingMaterial {
    background-image: var(--icon-packagingMaterial-16) !important;
    padding-left: 20px;
    background-repeat: no-repeat
}
span.aggregation {
    background-image: url("../../components/images/filetypes/generic-product-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.rawMaterial,
span.rawMaterial-ToValidate,
.entity.bcpg-rawMaterial,
.entity.rawMaterial  {
    background-image: var(--icon-rawMaterial-16) !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.semiFinishedProduct,
span.semiFinishedProduct-ToValidate,
.entity.bcpg-semiFinishedProduct,
.entity.semiFinishedProduct {
    background-image: var(--icon-semiFinishedProduct-16) !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.logisticUnit,
span.logisticUnit-ToValidate,
.entity.bcpg-logisticUnit,
.entity.logisticUnit {
    background-image: var(--icon-logisticUnit-16) !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.resourceProduct,
span.resourceProduct-ToValidate,
.entity.bcpg-resourceProduct,
.entity.resourceProduct {
    background-image: var(--icon-resourceProduct-16) !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.finishedProduct-Archived,
span.finishedProduct-Refused,
span.finishedProduct-Simulation,
span.finishedProduct-Valid,
span.finishedProduct-ToValidate,
span.finishedProduct-Stopped,
span.localSemiFinishedProduct-Archived,
span.localSemiFinishedProduct-Refused,
span.localSemiFinishedProduct-Simulation,
span.localSemiFinishedProduct-Valid,
span.localSemiFinishedProduct-ToValidate,
span.localSemiFinishedProduct-Stopped,
span.packagingKit-Archived,
span.packagingKit-Refused,
span.packagingKit-Simulation,
span.packagingKit-Valid,
span.packagingKit-ToValidate,
span.packagingKit-Stopped,
span.packagingMaterial-Archived,
span.packagingMaterial-Refused,
span.packagingMaterial-Simulation,
span.packagingMaterial-Valid,
span.packagingMaterial-ToValidate,
span.packagingMaterial-Stopped,
span.rawMaterial-Archived,
span.rawMaterial-Refused,
span.rawMaterial-Simulation,
span.rawMaterial-Valid,
span.rawMaterial-ToValidate,
span.rawMaterial-Stopped,
span.resourceProduct-Archived,
span.resourceProduct-Refused,
span.resourceProduct-Simulation,
span.resourceProduct-Valid,
span.resourceProduct-ToValidate,
span.resourceProduct-Stopped,
span.semiFinishedProduct-Archived,
span.semiFinishedProduct-Refused,
span.semiFinishedProduct-Simulation,
span.semiFinishedProduct-Valid,
span.semiFinishedProduct-ToValidate,
span.semiFinishedProduct-Stopped {
    padding-left: 25px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 14px 6px, 0 0;
    padding-bottom: 2px;
}


span.finishedProduct-ToValidate {
    background-image: url("../../components/images/states/tovalidate-10.png") , var(--icon-finishedProduct-16) !important
}
span.localSemiFinishedProduct-ToValidate {
    background-image: url("../../components/images/states/tovalidate-10.png") , var(--icon-localSemiFinishedProduct-16) !important
}
span.packagingKit-ToValidate {
    background-image: url("../../components/images/states/tovalidate-10.png") , var(--icon-packagingKit-16) !important
}
span.packagingMaterial-ToValidate {
    background-image: url("../../components/images/states/tovalidate-10.png") , var(--icon-packagingMaterial-16) !important
}
span.rawMaterial-ToValidate {
    background-image: url("../../components/images/states/tovalidate-10.png") , var(--icon-rawMaterial-16) !important
}
span.resourceProduct-ToValidate {
    background-image: url("../../components/images/states/tovalidate-10.png") , var(--icon-resourceProduct-16) !important
}
span.semiFinishedProduct-ToValidate {
    background-image: url("../../components/images/states/tovalidate-10.png") , var(--icon-semiFinishedProduct-16) !important
}
span.logisticUnit-ToValidate {
    background-image: url("../../components/images/states/tovalidate-10.png") , var(--icon-logisticUnit-16) !important
}
span.finishedProduct-Valid {
    background-image: url("../../components/images/states/valid-10.png") , var(--icon-finishedProduct-16) !important
}
span.localSemiFinishedProduct-Valid {
    background-image: url("../../components/images/states/valid-10.png") , var(--icon-localSemiFinishedProduct-16) !important
}
span.packagingKit-Valid {
    background-image: url("../../components/images/states/valid-10.png") , var(--icon-packagingKit-16) !important
}
span.packagingMaterial-Valid {
    background-image: url("../../components/images/states/valid-10.png") , var(--icon-packagingMaterial-16) !important
}
span.rawMaterial-Valid {
    background-image: url("../../components/images/states/valid-10.png") , var(--icon-rawMaterial-16) !important
}
span.semiFinishedProduct-Valid {
    background-image: url("../../components/images/states/valid-10.png") , var(--icon-semiFinishedProduct-16) !important
}
span.logisticUnit-Valid {
    background-image: url("../../components/images/states/valid-10.png") , var(--icon-logisticUnit-16) !important
}
span.resourceProduct-Valid {
    background-image: url("../../components/images/states/valid-10.png") , var(--icon-resourceProduct-16) !important
}
span.finishedProduct-Simulation {
    background-image: url("../../components/images/states/simulation-10.png") , var(--icon-finishedProduct-16) !important
}
span.localSemiFinishedProduct-Simulation {
    background-image: url("../../components/images/states/simulation-10.png") , var(--icon-localSemiFinishedProduct-16) !important
}
span.packagingKit-Simulation {
    background-image: url("../../components/images/states/simulation-10.png") , var(--icon-packagingKit-16) !important
}
span.packagingMaterial-Simulation {
    background-image: url("../../components/images/states/simulation-10.png") , var(--icon-packagingMaterial-16) !important
}
span.rawMaterial-Simulation {
    background-image: url("../../components/images/states/simulation-10.png") , var(--icon-rawMaterial-16) !important
}
span.semiFinishedProduct-Simulation {
    background-image: url("../../components/images/states/simulation-10.png") , var(--icon-semiFinishedProduct-16) !important
}
span.logisticUnit-Simulation {
    background-image: url("../../components/images/states/simulation-10.png") , var(--icon-logisticUnit-16) !important
}
span.resourceProduct-Simulation {
    background-image: url("../../components/images/states/simulation-10.png") , var(--icon-resourceProduct-16) !important
}
span.finishedProduct-Archived {
    background-image: url("../../components/images/states/archived-10.png") , var(--icon-finishedProduct-16) !important
}
span.localSemiFinishedProduct-Archived {
    background-image: url("../../components/images/states/archived-10.png") , var(--icon-localSemiFinishedProduct-16) !important
}
span.packagingKit-Archived {
    background-image: url("../../components/images/states/archived-10.png") , var(--icon-packagingKit-16) !important
}
span.packagingMaterial-Archived {
    background-image: url("../../components/images/states/archived-10.png") , var(--icon-packagingMaterial-16) !important
}
span.rawMaterial-Archived {
    background-image: url("../../components/images/states/archived-10.png") , var(--icon-rawMaterial-16) !important
}
span.semiFinishedProduct-Archived {
    background-image: url("../../components/images/states/archived-10.png") , var(--icon-semiFinishedProduct-16) !important
}
span.logisticUnit-Archived {
    background-image: url("../../components/images/states/archived-10.png") , var(--icon-logisticUnit-16) !important
}
span.resourceProduct-Archived {
    background-image: url("../../components/images/states/archived-10.png") , var(--icon-resourceProduct-16) !important
}
span.finishedProduct-Refused {
    background-image: url("../../components/images/states/refused-10.png") , var(--icon-finishedProduct-16) !important
}
span.localSemiFinishedProduct-Refused {
    background-image: url("../../components/images/states/refused-10.png") , var(--icon-localSemiFinishedProduct-16) !important
}
span.packagingKit-Refused {
    background-image: url("../../components/images/states/refused-10.png") , var(--icon-packagingKit-16) !important
}
span.packagingMaterial-Refused {
    background-image: url("../../components/images/states/refused-10.png") , var(--icon-packagingMaterial-16) !important
}
span.rawMaterial-Refused {
    background-image: url("../../components/images/states/refused-10.png") , var(--icon-rawMaterial-16) !important
}
span.semiFinishedProduct-Refused {
    background-image: url("../../components/images/states/refused-10.png") , var(--icon-semiFinishedProduct-16) !important
}
span.logisticUnit-Refused {
    background-image: url("../../components/images/states/refused-10.png") , var(--icon-logisticUnit-16) !important
}
span.resourceProduct-Refused {
    background-image: url("../../components/images/states/refused-10.png") , var(--icon-resourceProduct-16) !important
}

span.finishedProduct-Stopped {
    background-image: url("../../components/images/states/stopped-10.png") , var(--icon-finishedProduct-16) !important
}
span.localSemiFinishedProduct-Stopped {
    background-image: url("../../components/images/states/stopped-10.png") , var(--icon-localSemiFinishedProduct-16) !important
}
span.packagingKit-Stopped {
    background-image: url("../../components/images/states/stopped-10.png") , var(--icon-packagingKit-16) !important
}
span.packagingMaterial-Stopped {
    background-image: url("../../components/images/states/stopped-10.png") , var(--icon-packagingMaterial-16) !important
}
span.rawMaterial-Stopped {
    background-image: url("../../components/images/states/stopped-10.png") , var(--icon-rawMaterial-16) !important
}
span.semiFinishedProduct-Stopped {
    background-image: url("../../components/images/states/stopped-10.png") , var(--icon-semiFinishedProduct-16) !important
}
span.logisticUnit-Stopped {
    background-image: url("../../components/images/states/stopped-10.png") , var(--icon-logisticUnit-16) !important
}
span.resourceProduct-Stopped {
    background-image: url("../../components/images/states/stopped-10.png") , var(--icon-resourceProduct-16) !important
}



/** Characts **/

span.physicoChem,
span.physicoChemList {
    background-image: url("../../components/images/filetypes/generic-physicoChem-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}
span.nut,
span.nutList {
    background-image: url("../../components/images/filetypes/generic-nut-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}
span.ingLabelingList,
span.labelingRuleList {
    background-image: url("../../components/images/filetypes/generic-labelingRuleList-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}
span.allergen,
span.allergenList {
    background-image: url("../../components/images/filetypes/generic-allergen-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}
span.bioOrigin {
    background-image: url("../../components/images/filetypes/generic-bioOrigin-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}
span.geoOrigin,
span.geo {
    background-image: url("../../components/images/filetypes/generic-geoOrigin-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat;
}

span.geoOrigin-ASSEMBLY,
span.geoOrigin-BIRTH,
span.geoOrigin-BOTTLING,
span.geoOrigin-CATCH_ZONE,
span.geoOrigin-FARMING,
span.geoOrigin-IMPORTATION,
span.geoOrigin-LAST_PROCESSING,
span.geoOrigin-MILKING,
span.geoOrigin-REARING,
span.geoOrigin-SLAUGHTER {
   background-image: url("../../components/images/filetypes/generic-supplier-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat;
}


span.cost,
span.budgetList,
span.costList {
    background-image: url("../../components/images/filetypes/generic-cost-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.lca,
span.lcaList {
    background-image: url("../../components/images/filetypes/generic-lca-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}
span.ing,
span.ingList {
    background-image: url("../../components/images/filetypes/generic-ing-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

.ingList span.total {
 font-weight: bold;
}

span.microbio,
span.microbioList {
    background-image: url("../../components/images/filetypes/generic-microbio-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}
span.organo,
span.organoList {
    background-image: url("../../components/images/filetypes/generic-organo-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.compoList {
    background-image: url("../../components/images/filetypes/generic-finishedProduct-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}
span.labelClaim,
span.labelClaimList {
    background-image: url("../../components/images/filetypes/generic-labelClaim-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}
span.packagingList {
    background-image: url("../../components/images/filetypes/generic-packagingKit-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}
span.resourceParam,
span.resourceParamList,
span.processList {
    background-image: url("../../components/images/filetypes/generic-resourceProduct-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

/** Project **/

span.project,
.entity.pjt-project,
.entity.project {
    background-image: var(--icon-project-16) !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.deliverableList,
span.scoreList,
span.invoiceList {
    background-image: url("../../components/images/generic-file-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.taskList {
	background-image: url("../../components/images/filetypes/generic-task-16.png") !important;
	padding-left: 20px;
	background-repeat: no-repeat
}


/** Quality **/

span.nc,
.entity.qa-nc,
.entity.nc
 {
    background-image: url("../../components/images/filetypes/generic-nc-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.controlPlan,
.entity.qa-controlPlan,
.entity.controlPlan
 {
    background-image: url("../../components/images/filetypes/generic-controlPlan-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.productSpecification,
.entity.bcpg-productSpecification
.entity.productSpecification
 {
    background-image: url("../../components/images/filetypes/generic-productSpecification-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}
span.qualityControl,
.entity.qa-qualityControl,
.entity.qualityControl {
    background-image: url("../../components/images/filetypes/generic-qualityControl-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.batch,
.entity.qa-batch,
.entity.batch {
    background-image: url("../../components/images/filetypes/generic-batch-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.controlPoint,
.entity.qa-controlPoint,
.entity.controlPoint {
    background-image: url("../../components/images/filetypes/generic-controlPoint-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}


span.productMicrobioCriteria,
.entity.bcpg-productMicrobioCriteria,
.entity.productMicrobioCriteria
 {
    background-image: url("../../components/images/filetypes/generic-productMicrobioCriteria-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}


/** ECM **/

span.changeOrder,
.entity.ecm-changeOrder,
.entity.changeOrder 

 {
    background-image: url("../../components/images/filetypes/generic-changeOrder-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

/** Security **/


span.userGroup {
    background-image: url("../../components/images/filetypes/generic-group-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.aclEntry {
    background-image: url("../../components/images/filetypes/generic-aclEntry-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}

span.aclGroup,
.entity.sec-aclGroup,
.entity.aclGroup {
    background-image: url("../../components/images/filetypes/generic-aclGroup-16.png") !important;
    padding-left: 20px;
    background-repeat: no-repeat
}


/** Nutrients **/

span.nutrientClass-A:hover {
    background-image: url("../../components/images/states/nutrient-class-A-16.png") !important;
    background-position: 0;
}
span.nutrientClass-B:hover {
    background-image: url("../../components/images/states/nutrient-class-B-16.png") !important;
    background-position: 0;
}
span.nutrientClass-C:hover {
    background-image: url("../../components/images/states/nutrient-class-C-16.png") !important;
    background-position: 0;
}
span.nutrientClass-D:hover {
    background-image: url("../../components/images/states/nutrient-class-D-16.png") !important;
    background-position: 0;
}
span.nutrientClass-E:hover {
    background-image: url("../../components/images/states/nutrient-class-E-16.png") !important;
    background-position: 0;
}

span.favourite span.ctn-fav {
	background: rgba(0, 0, 0, 0) url("../../components/images/star-selected_16x16.png") no-repeat scroll 0 1px !important;
    display: inline  !important;
    padding-left: 20px;
}


/** Fix themes **/

.yui-skin-greenTheme .flat-button button, 
.yui-skin-yellowTheme .flat-button button,
.yui-skin-greyTheme .flat-button button,
.yui-skin-hcBlack .flat-button button,
.yui-skin-default  .flat-button button,
.yui-skin-gdocs  .flat-button button  {
	padding-right: 20px;
	background-position: right center;
	background-repeat: no-repeat;
	color: #000;
}



.yui-skin-greenTheme div.flat-button span.yui-radio-button-checked, .yui-skin-greenTheme div.flat-button span.yui-checkbox-button-checked,
.yui-skin-yellowTheme div.flat-button span.yui-radio-button-checked, .yui-skin-yellowTheme div.flat-button span.yui-checkbox-button-checked ,
.yui-skin-default div.flat-button span.yui-radio-button-checked, .yui-skin-default div.flat-button span.yui-checkbox-button-checked,
.yui-skin-gdocs div.flat-button span.yui-radio-button-checked, .yui-skin-gdocs div.flat-button span.yui-checkbox-button-checked  {
    background: transparent none;
}

.yui-skin-hcBlack .filter .selected a {
    color: white;
}


.yui-skin-default .yui-dt td, .yui-skin-default .yui-dt th {
	border-color: #cbcbcb;
}

span.show-translation {
	background: url("../../components/images/translate-16.png") no-repeat;
	padding-right: 16px;
	
}

span a.show-details {
	cursor: pointer;
	padding-left: 16px;
	margin-left: 5px;
	background: url("../../components/images/info-16.png") no-repeat;
	display: inline-table;
	height: 16px;
	vertical-align: bottom;
}

/** Fix dialog scroll **/


div.yui-dialog {
	padding-bottom: 250px !important;
}
