.nutrient-class-a,
.nutrient-class-b,
.nutrient-class-c,
.nutrient-class-d,
.nutrient-class-e
 {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    
    width: 16px;
    height: 16px;
    padding: 5px;
    display: inline-block;
    border: 2px solid #666;
    text-align: center;
}

.selected.nutrient-class-a,
.selected.nutrient-class-b,
.selected.nutrient-class-c,
.selected.nutrient-class-d,
.selected.nutrient-class-e
 {
    width: 25px;
    height: 25px;
    font-size: 20px;
    padding:8px;
    border: 3px solid black;
 }

.nutrient-class-a{
	background: green;
}

.nutrient-class-b{	
	background: yellow;
}

.nutrient-class-c{	
	background: orange;
}

.nutrient-class-d{	
	background: fuchsia;
}

.nutrient-class-e{	
	background: red;
}

.nutrient-class-error
{
	background: url("../../images/states/warning-16.png") no-repeat;
	padding-left: 20px;
}