/**
 Yui 
**/
.formulation-view  .yui-g .yui-u {
	width: 49.5%;
}

.formulation-view  .yui-skin-default .yui-button {
	margin: 0px;
}

/**
 Dashlet
**/
.formulation-view  .datagrid .scrollableList {
	padding: 0;
	height: 328px;
}

.formulation-view  .datagrid {
	padding: 0px;
}


.formulation-view  .dashlet  .toolbar .yui-button {
    margin: 0px;
}

/* 
.formulation-view  .dashlet {
	z-index: auto;
	margin: 20px 0 0;
}
 */
 .formulation-view .yui-resize .yui-resize-handle-b {
    background-color: #eee !important;
    left: -9px;
    width: auto;
}


.formulation-view  .dashlet  .toolbar {
	min-height: 0px;
	margin: 0px;
	padding: 0px;
	border-bottom: none;
}

.formulation-view  .dashlet {
	z-index: auto;
	margin: 5px 0px 20px 0;
	border: none;
	background-color: transparent;
}


div.constraintsList .scrollableList {
	height: 260px;
	padding: 0;
}

.formulation-view .datagrid .yui-dt-col-actions {
	border-right: none;
}

/**
 Bar
*/
.formulation-view  .datagrid .datagrid-bar .paginator {
	float: inherit;
	width: inherit;
	padding: 3px;
}

.formulation-view  .datagrid-bar .left, .datagrid-bar .left div {
	float: left;
}

.formulation-view  .datagrid-bar .right {
	float: right;
}

.formulation-view .datagrid-bar .left  .filterform  div,
	.formulation-view .datagrid-bar .left  .filterform {
	float: none;
}

.formulation-view .toolbar .left .filterform div, .formulation-view .toolbar .left div.filterButtonsBar {
    float: none;
}

.datalist-toolbar .onActionSimulate, .datagrid .onActionSimulate a {
	background: transparent
		url(../../components/documentlibrary/actions/folder-copy-to-16.png)
		no-repeat 12px 4px;
	padding-left: 22px;
}

.datalist-toolbar .onActionCopyProducts, .datagrid .onActionCopyProducts a {
    background: transparent
        url(../../components/documentlibrary/actions/document-copy-to-16.png)
        no-repeat 12px 4px;
    padding-left: 22px;
}

.datalist-toolbar .onActionGroup, .datagrid .onActionGroup a {
	background: transparent
		url(../../components/documentlibrary/actions/document-copy-to-16.png)
		no-repeat 12px 4px;
	padding-left: 22px;
}

.datalist-toolbar .onActionDuplicateChilds, .datagrid .onActionDuplicateChilds a {
	background: transparent
		url(../../components/documentlibrary/actions/folder-manage-rules-16.png)
		no-repeat 12px 4px;
	padding-left: 22px;
}

.formulation-view .datagrid-bar .new-row span.first-child {
	background: url(../images/add-row-16.png) no-repeat 8px 4px;
	padding-left: 0px;
}

.datalist-toolbar .onAddLabelingAspect, .datagrid .onAddLabelingAspect a
	{
	background: transparent url(../images/tag-16.png) no-repeat 12px 4px;
	padding-left: 22px;
}

.datagrid .labeling-aspect {
	background: url("../images/tag-16.png") no-repeat scroll 0 0 transparent;
	padding-left: 14px;
}

.datagrid .instructions {
	background: url("../images/info-16.png") no-repeat scroll 0 0 transparent;
	padding-left: 14px;
}

.dynamicCharactList .dashlet {
	width: 100%;
	border-bottom: 0px;
}


.dynamicCharactList-prop-panel {
	padding: 0;
	border-radius: 0 0 5px 0;
	background-color: rgb(238, 238, 238);
	border: 1px solid #CCCCCC;
	width: 100%;
}


.yui-skin-becpg  .dynamicCharactList-prop-panel {
	border-radius: 0;
	background-color: white;
	border: none;
}




.dynamicCharactList-prop-panel span {
	padding: 5px;
	display: block;
}

.datagrid-bar .customListMenu span.first-child {
	background-color: transparent;
}


.formulation-view  .customList .datagrid .scrollableList {
	 min-height: 355px;
}

/* 
.formulation-view  .customList  .dashlet .title {
    display: none;
}
 */


.formulation-view  .customList .datagrid  .yui-dt thead th.yui-dt-first {
	display: none;
}


.formulation-view  .customList .datagrid .datagrid-bar .new-row,
.formulation-view  .customList .datagrid .datagrid-bar .selected-items,
.formulation-view  .customList .datagrid td.yui-dt-first
 {
	display: none;
}



.effectivityCheckbox  span.yui-checkbox-button button
{
   background: url("../images/calendar-disabled-20.png") no-repeat 4px 4px;
   background-size: 17px
}


 .effectivityCheckbox span.yui-checkbox-button.yui-checkbox-button-checked button
{
   background: url("../images/calendar-20.png") no-repeat 4px 4px;
   background-size: 17px
}



/** Full screen form */
div#full-screen-form {
	height: 50px;
	margin-top: 6px;
	padding: 6px;
	border-radius: 4px;
}

#full-screen-form  div.form-fields {
	float: left;
	margin: 0px;
	padding: 0px;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#full-screen-form  div.form-field {
	float: left;
	margin: 0px;
	padding: 2px;
}

#full-screen-form  .clear {
	height: 0px;
}

#full-screen-form   .yui-ac .ac-body {
	min-height: 18px;
}

#full-screen-form form {
	display: table;
	margin: 0 15px;
}

#full-screen-form .help-icon {
	display: none;
}

#full-screen-form  .yui-ac .ac-body {
	width: 25em;
	max-width: 25em;
}

#full-screen-form .ac-toogle {
	height: 18px;
}

.yui-skin-lightTheme #full-screen-form   .yui-ac-container,
	#full-screen-form  .yui-ac-container {
	width: 35em;
}

#full-screen-form .yui-ac .ac-body .yui-ac-input {
	width: 85%;
}

#full-screen-form .set {
	padding: 0px;
}

#full-screen-form .form-buttons {
	float: left;
	margin-top: 10px;
	padding: 10px;
	height: 25px;
}

#full-screen-form span.yui-push-button {
	display: none;
}

#full-screen-form  .yui-submit-button span.first-child {
	background: url("../images/add-row-16.png") no-repeat scroll 12px 4px
		transparent;
	padding-left: 24px;
}

#full-screen-form  form .mandatory, #full-screen-form  .form-fields .mandatory,
	#full-screen-form  .form-fields input.mandatory[type="text"],
	#full-screen-form  .form-fields .input.mandatory input[type="text"],
	#full-screen-form  .form-fields .input .mandatory input[type="text"] {
	background-color: transparent;
}

#full-screen-form input[name="prop_bcpg_compoListQtySubFormula"],
#full-screen-form input[name="prop_bcpg_compoListYieldPerc"],
#full-screen-form input[name="prop_bcpg_compoListLossPerc"]{
	width: 70px!important;
	
}

td.yui-dt-col-assoc_bcpg_compoListProduct,
th.yui-dt-col-assoc_bcpg_compoListProduct,
td.yui-dt-col-assoc_bcpg_packagingListProduct,
th.yui-dt-col-assoc_bcpg_packagingListProduct {
	min-width: 350px;
}


.formulation-view div.warning {
    margin: 10px;
    padding: 0.5em 0;
    color: black;
    text-align: left;
	 padding-left: 5px; 
    background: none repeat scroll 0 0 #fefdca;
    box-shadow: -2px 2px 2px #c8c8c8;
    font-size: 108%;
}

.formulation-view div.warning span.info {
   background: url("../images/states/warning-16.png") no-repeat scroll 0 0 transparent;
   display: inline;
   padding-left: 20px;
}

