.entity-process .process img {
	float: left;
	margin-top: 0.2em;
	padding-right: 2em;
	line-height: 3em;
	text-align: center;
}

.entity-process .process {
	padding: 0.5em 0.5em 1em;
	margin-bottom: 0.5em;
	border-bottom: 1px dashed #ddd;
}

.entity-process .process-last {
	border-bottom: medium none;
	margin-bottom: 0;
}


.entity-process .info {
	padding-left: 1em;
}

.entity-process .process .title {
	margin-top: 0.3em;
	padding-left: 1em;
}

select.entity-process-filter {
  margin: 50px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../arrow.png) 96% / 15% no-repeat #eee;
}

.entity-process .process-date {
	color: #009dcc;
	font-style: normal;
	display: block;
}

.entity-process .entity-process-state {
	font-weight: bold;
	display: inline;
}

.entity-process .process-detail {
	margin-top: 0.3em;
}

.entity-process .workflow-icon {
	background-image: url(../../components/documentlibrary/actions/document-assign-workflow-16.png);
	background-repeat: no-repeat;
	padding-right: 10px;
}



