<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2010-2017 beCPG. 
   
  This file is part of beCPG 
   
  beCPG is free software: you can redistribute it and/or modify 
  it under the terms of the GNU Lesser General Public License as published by 
  the Free Software Foundation, either version 3 of the License, or 
  (at your option) any later version. 
   
  beCPG is distributed in the hope that it will be useful, 
  but WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
  GNU Lesser General Public License for more details. 
   
  You should have received a copy of the GNU Lesser General Public License along with beCPG. If not, see <http://www.gnu.org/licenses/>.
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
				http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
            http://www.springframework.org/schema/security/oauth2 http://www.springframework.org/schema/security/spring-security-oauth2.xsd
			   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<bean id="alfrescoUserDetailsService" class="fr.becpg.olap.authentication.AlfrescoUserDetailsService">
		<property name="instanceManager" ref="instanceManager"/>
	</bean>

	<bean id="alfrescoAuthenticationProvider"  class="fr.becpg.olap.authentication.AlfrescoAuthenticationProvider" >
		<property name="userDetailsService" ref="alfrescoUserDetailsService"/>
		<property name="instanceManager" ref="instanceManager"/>
	</bean>


	<bean id="alfrescoPreAuthenticationProvider" class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
		<property name="preAuthenticatedUserDetailsService">
			<bean id="userDetailsServiceWrapper" class="org.springframework.security.core.userdetails.UserDetailsByNameServiceWrapper">
				<property name="userDetailsService" ref="alfrescoUserDetailsService" />
			</bean>
		</property>
	</bean>

	<security:authentication-manager alias="authenticationManager">
		 <security:authentication-provider ref="alfrescoAuthenticationProvider"/>
	</security:authentication-manager>

	<!-- Format instance$user@tenant#ticket in base64  url ticket= or ALF_USER header -->


	<bean id="becpgFilter" class="fr.becpg.olap.authentication.AlfTicketPreAuthenticatedFilter">
		<property name="principalRequestHeader" value="ALF_USER" />
		<property name="exceptionIfHeaderMissing" value="false"/>
		<property name="authenticationManager" ref="preAuthenticationManager" />
	</bean>


    <bean id="preAuthenticationManager" class="org.springframework.security.authentication.ProviderManager">
        <property name="providers">
            <list>
                <ref bean="alfrescoPreAuthenticationProvider" />
            </list>
        </property>
    </bean>
    
 


</beans>
