<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2010-2014 beCPG. 
   
  This file is part of beCPG 
   
  beCPG is free software: you can redistribute it and/or modify 
  it under the terms of the GNU Lesser General Public License as published by 
  the Free Software Foundation, either version 3 of the License, or 
  (at your option) any later version. 
   
  beCPG is distributed in the hope that it will be useful, 
  but WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
  GNU Lesser General Public License for more details. 
   
  You should have received a copy of the GNU Lesser General Public License along with beCPG. If not, see <http://www.gnu.org/licenses/>.
-->
<web-app>

	<display-name>saiku</display-name>

	<context-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>


	<filter>
		<filter-name>org.springframework.security.filterChainProxy</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>


	<filter>
		<filter-name>http-request-context</filter-name>
		<filter-class>org.codehaus.enunciate.webapp.HTTPRequestContextFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>org.springframework.security.filterChainProxy</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>http-request-context</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.codehaus.enunciate.modules.spring_app.SpringComponentPostProcessor</listener-class>
	</listener>

	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>jersey2</servlet-name>
		<servlet-class>org.codehaus.enunciate.modules.jersey.EnunciateJerseyServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.saiku.web</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
			<param-value>com.sun.jersey.api.container.filter.PostReplaceFilter</param-value>
		</init-param>
		<init-param>
			<param-name>org.codehaus.enunciate.modules.jersey.config.ServletPath</param-name>
			<param-value>/rest</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>



	<servlet-mapping>
		<servlet-name>jersey2</servlet-name>
		<url-pattern>/rest/saiku/*</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>jersey2</servlet-name>
		<url-pattern>/rest/saiku/session</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/saikuDataSource</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Unshareable</res-sharing-scope>
	</resource-ref>


	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<mime-mapping>
		<extension>wsdl</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>xsd</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>



</web-app>
