
.datagrid .red {
	color: red;
}

.datagrid .green {
	color: green;
}

.datagrid-bar .onActionShowDetails,.datagrid .onActionShowDetails a {
	background-image: url("../../components/images/show-details-16.png");
}

.datagrid-bar .onActionShowComments,.datagrid .onActionShowComments a {
	background-image: url("../../components/images/comment-16.png");
}

.datagrid-bar .onActionManageAspects,.datagrid .onActionManageAspects a
	{
	background-image: url("../../components/images/aspect-16.png");
}

.datagrid-bar .onActionShowWused,.datagrid .onActionShowWused a {
	background-image: url("../../components/images/wused-16.png");
}

.datagrid-bar  .onActionBulkEdit, .datagrid .onActionBulkEdit a {
	background-image:  url("../../components/images/edit-inline-16.png");
}

.datagrid-bar  .onActionSelectColor, .datagrid .onActionSelectColor a {
	background-image:  url("../../components/images/select-color-16.png");
}

.form-container  .bulk-edit label {
    display: inline;
}

.datagrid span.document-version {
	margin-left: .8em;
	position: relative;
	top: -2px;
	visibility: hidden;
	padding: 1px;
}

.datagrid .yui-dt-highlighted span.document-version {
	visibility: visible;
}

.datagrid div.scoreList-screening {
	height: 150px;
	overflow: auto;
}


/* activities */


.datagrid.activityList .grid table {
	border: none;
}

.datagrid.activityList .yui-dt thead {
	display: none;
}

.datagrid.activityList .grid.yui-dt .yui-dt-data  td,.datagrid.activityList .yui-dt-data td	{
	border: none !important;
	cursor : default;
}

.datagrid.activityList .yui-dt-data  tr,.datagrid.activityList .yui-dt-data tr.yui-dt-highlighted 	{
	background-color: white;
	border: none;
	cursor : default;
}

.datagrid  .entity-activity-details {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin: 0px 0px 10px;
	padding: 12px;
	border: 1px solid #CCCCCC;
}

.datagrid  .entity-activity-details  .icon {
	float: left;
	width: 10%;
	line-height: 3em;
	min-height: 3em;
	text-align: center;
}

.datagrid  .entity-activity-details  .details {
	float: right;
	width: 90%;
}

.datagrid  .entity-activity-details .user-info {
	float: left;
	width: 70%;
	font-weight: bold;
}

.datagrid  .entity-activity-details .date-info {
	float: right;
	width: 25%;
	color: #777;
	font-size: 11px;
	padding-left: 8px;
}

.datagrid  .entity-activity-details .details .activity-title {
	clear: both;
}

.datagrid  .entity-activity-details .details .activity-content {
	clear: both;
	list-style-type: disc;
}

.datagrid  .entity-activity-details .details .activity-content ul li {
	list-style-type: disc;
}

.datagrid  .entity-activity-details .details .activity-content ol li {
	list-style-type: decimal;
}

.datagrid  .entity-activity-details .details .activity-content {
	background: url("../../components/images/welcome-background.png")
		repeat-x scroll 0 0 transparent;
	border: 1px solid #FFEA5B;
	padding: 5px;
	margin: 10px;
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	position: relative;
	width: 80%;
}

/* arrows - :before and :after */
.datagrid  .entity-activity-details .details .activity-content:before {
	position: absolute;
	display: inline-block;
	border-top: 7px solid transparent;
	border-right: 7px solid #FFEA5B;
	border-bottom: 7px solid transparent;
	left: -9px;
	top: 10px;
	content: '';
}

.datagrid  .entity-activity-details .details .activity-content:after {
	position: absolute;
	display: inline-block;
	border-top: 6px solid transparent;
	border-right: 6px solid #FFEA5B;
	border-bottom: 6px solid transparent;
	left: -7px;
	top: 11px;
	content: '';
}


