.datagrid span.nc {
	background: url(../../components/images/filetypes/generic-nc-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.resourceProduct-ToValidate {
	background:
		url(../../components/images/filetypes/generic-resourceProduct-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.finishedProduct-Valid {
	background: url(../../components/images/states/valid-10.png),
		url(../../components/images/filetypes/generic-finishedProduct-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.localSemiFinishedProduct-Valid {
	background: url(../../components/images/states/valid-10.png),
		url(../../components/images/filetypes/generic-localSemiFinishedProduct-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.packagingKit-Valid {
	background: url(../../components/images/states/valid-10.png),
		url(../../components/images/filetypes/generic-packagingKit-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.packagingMaterial-Valid {
	background: url(../../components/images/states/valid-10.png),
		url(../../components/images/filetypes/generic-packagingMaterial-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.rawMaterial-Valid {
	background: url(../../components/images/states/valid-10.png),
		url(../../components/images/filetypes/generic-rawMaterial-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.semiFinishedProduct-Valid {
	background: url(../../components/images/states/valid-10.png),
		url(../../components/images/filetypes/generic-semiFinishedProduct-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.resourceProduct-Valid {
	background: url(../../components/images/states/valid-10.png),
		url(../../components/images/filetypes/generic-resourceProduct-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}


.datagrid span.finishedProduct-Simulation {
	background: url(../../components/images/states/simulation-10.png),
		url(../../components/images/filetypes/generic-finishedProduct-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.localSemiFinishedProduct-Simulation {
	background: url(../../components/images/states/simulation-10.png),
		url(../../components/images/filetypes/generic-localSemiFinishedProduct-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.packagingKit-Simulation {
	background: url(../../components/images/states/simulation-10.png),
		url(../../components/images/filetypes/generic-packagingKit-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.packagingMaterial-Simulation {
	background: url(../../components/images/states/simulation-10.png),
		url(../../components/images/filetypes/generic-packagingMaterial-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.rawMaterial-Simulation {
	background: url(../../components/images/states/simulation-10.png),
		url(../../components/images/filetypes/generic-rawMaterial-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.semiFinishedProduct-Simulation {
	background: url(../../components/images/states/simulation-10.png),
		url(../../components/images/filetypes/generic-semiFinishedProduct-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.resourceProduct-Simulation {
	background: url(../../components/images/states/simulation-10.png),
		url(../../components/images/filetypes/generic-resourceProduct-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}


.datagrid span.finishedProduct-Archived {
	background: url(../../components/images/states/archived-10.png),
		url(../../components/images/filetypes/generic-finishedProduct-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.localSemiFinishedProduct-Archived {
	background: url(../../components/images/states/archived-10.png),
		url(../../components/images/filetypes/generic-localSemiFinishedProduct-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.packagingKit-Archived {
	background: url(../../components/images/states/archived-10.png),
		url(../../components/images/filetypes/generic-packagingKit-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.packagingMaterial-Archived {
	background: url(../../components/images/states/archived-10.png),
		url(../../components/images/filetypes/generic-packagingMaterial-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.rawMaterial-Archived {
	background: url(../../components/images/states/archived-10.png),
		url(../../components/images/filetypes/generic-rawMaterial-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.semiFinishedProduct-Archived {
	background: url(../../components/images/states/archived-10.png),
		url(../../components/images/filetypes/generic-semiFinishedProduct-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.resourceProduct-Archived {
	background: url(../../components/images/states/archived-10.png),
		url(../../components/images/filetypes/generic-resourceProduct-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.finishedProduct-Refused {
	background: url(../../components/images/states/refused-10.png),
		url(../../components/images/filetypes/generic-finishedProduct-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.localSemiFinishedProduct-Refused {
	background: url(../../components/images/states/refused-10.png),
		url(../../components/images/filetypes/generic-localSemiFinishedProduct-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.packagingKit-Refused {
	background: url(../../components/images/states/refused-10.png),
		url(../../components/images/filetypes/generic-packagingKit-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.packagingMaterial-Refused {
	background: url(../../components/images/states/refused-10.png),
		url(../../components/images/filetypes/generic-packagingMaterial-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.rawMaterial-Refused {
	background: url(../../components/images/states/refused-10.png),
		url(../../components/images/filetypes/generic-rawMaterial-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.semiFinishedProduct-Refused {
	background: url(../../components/images/states/refused-10.png),
		url(../../components/images/filetypes/generic-semiFinishedProduct-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid span.resourceProduct-Refused {
	background: url(../../components/images/states/refused-10.png),
		url(../../components/images/filetypes/generic-resourceProduct-16.png);
	background-repeat: no-repeat;
	background-position: 15px 2px, 0 0;
	padding-left: 30px;
}

.datagrid .red {
	color: red;
}

.datagrid .reqTypeForbidden,.datagrid span.dynaAccessDenied {
	background: url(../../components/images/states/error-16.png) no-repeat;
	padding-left: 20px;
}

.datagrid .reqTypeTolerated,.datagrid span.dynaError,.datagrid span.lcl-formulated-error
	{
	background: url(../../components/images/states/warning-16.png) no-repeat;
	padding-left: 20px;
}

.datagrid .reqTypeInfo {
	background: url(../../components/images/states/info-16.png) no-repeat;
	padding-left: 20px;
}

.datagrid span.lcl-formulated {
	background: url(../../components/images/lcl-formulated-16.png) no-repeat;
	padding-left: 20px;
}

.datagrid .controlPoint {
	background: url(../../components/images/quality/sample-16.png) no-repeat;
	padding-left: 20px;
}

.datagrid .control {
	background: url(../../components/images/quality/control-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid .userGroup {
	background: url(../../components/images/filetypes/generic-group-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.client {
	background: url(../../components/images/filetypes/generic-client-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.supplier {
	background:
		url(../../components/images/filetypes/generic-supplier-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.allergen {
	background:
		url(../../components/images/filetypes/generic-allergen-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.bioOrigin {
	background:
		url(../../components/images/filetypes/generic-bioOrigin-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.geoOrigin {
	background:
		url(../../components/images/filetypes/generic-geoOrigin-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.cost {
	background: url(../../components/images/filetypes/generic-cost-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.geo {
	background: url(../../components/images/filetypes/generic-geo-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.ing {
	background: url(../../components/images/filetypes/generic-ing-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.microbio {
	background:
		url(../../components/images/filetypes/generic-microbio-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.organo {
	background: url(../../components/images/filetypes/generic-organo-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.physicoChem {
	background:
		url(../../components/images/filetypes/generic-physicoChem-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.nut {
	background: url(../../components/images/filetypes/generic-nut-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.aclEntry {
	background:
		url(../../components/images/filetypes/generic-aclEntry-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task {
	background: url(../../components/images/filetypes/generic-task-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-milestone {
	background:
		url(../../components/images/filetypes/generic-task-milestone-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-planned {
	background:
		url(../../components/documentlibrary/indicators/project-planned-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-inprogress {
	background:
		url(../../components/documentlibrary/indicators/project-inprogress-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-cancelled {
	background:
		url(../../components/documentlibrary/indicators/project-cancelled-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-onhold {
	background:
		url(../../components/documentlibrary/indicators/project-onhold-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-completed {
	background:
		url(../../components/documentlibrary/indicators/project-completed-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid-bar .onActionShowDetails,.datagrid .onActionShowDetails a {
	background-image: url(../../components/images/show-details-16.png);
}

.datagrid-bar .onActionShowComments,.datagrid .onActionShowComments a {
	background-image: url(../../components/images/comment-16.png);
}

.datagrid-bar .onActionManageAspects,.datagrid .onActionManageAspects a {
	background-image: url(../../components/images/aspect-16.png);
}

.datagrid-bar .onActionShowWused,.datagrid .onActionShowWused a {
	background-image: url(../../components/images/create-rule-16.png);
}

.datagrid span.document-version {
	margin-left: .8em;
	position: relative;
	top: -2px;
	visibility: hidden;
	padding: 1px;
}

.datagrid .yui-dt-highlighted span.document-version {
	visibility: visible;
}

.datagrid div.scoreList-screening {
	height: 150px;
	overflow: auto;
}

.datagrid span.variant {
	background: url(../../components/images/enabled-indicator-off-16.png)
		no-repeat;
	padding-left: 14px;
}

.datagrid span.variant-default {
	background: url(../../components/images/enabled-indicator-on-16.png)
		no-repeat;
	padding-left: 14px;
}

.datagrid span.finishedProduct,.datagrid span.finishedProduct-ToValidate
	{
	background:
		url(../../components/images/filetypes/generic-finishedProduct-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.localSemiFinishedProduct,.datagrid span.localSemiFinishedProduct-ToValidate
	{
	background:
		url(../../components/images/filetypes/generic-localSemiFinishedProduct-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.packagingKit,.datagrid span.packagingKit-ToValidate {
	background:
		url(../../components/images/filetypes/generic-packagingKit-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.packagingMaterial,.datagrid span.packagingMaterial-ToValidate
	{
	background:
		url(../../components/images/filetypes/generic-packagingMaterial-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.rawMaterial,.datagrid span.rawMaterial-ToValidate {
	background:
		url(../../components/images/filetypes/generic-rawMaterial-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.semiFinishedProduct,.datagrid span.semiFinishedProduct-ToValidate
	{
	background:
		url(../../components/images/filetypes/generic-semiFinishedProduct-16.png)
		no-repeat;
	padding-left: 20px;
}