/* Data Types */
.datagrid span.finishedProduct {
	background: url(../../components/images/products/finishedProduct-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.localSemiFinishedProduct {
	background:
		url(../../components/images/products/localSemiFinishedProduct-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.packagingKit {
	background: url(../../components/images/products/packagingKit-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.packagingMaterial {
	background:
		url(../../components/images/products/packagingMaterial-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.rawMaterial {
	background: url(../../components/images/products/rawMaterial-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.semiFinishedProduct {
	background:
		url(../../components/images/products/semiFinishedProduct-16.png)
		no-repeat;
	padding-left: 20px;
}

/** --- **/
.datagrid span.finishedProduct-ToValidate {
	background: url(../../components/images/products/finishedProduct-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.localSemiFinishedProduct-ToValidate {
	background:
		url(../../components/images/products/localSemiFinishedProduct-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.packagingKit-ToValidate {
	background: url(../../components/images/products/packagingKit-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.packagingMaterial-ToValidate {
	background:
		url(../../components/images/products/packagingMaterial-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.rawMaterial-ToValidate {
	background: url(../../components/images/products/rawMaterial-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.semiFinishedProduct-ToValidate {
	background:
		url(../../components/images/products/semiFinishedProduct-16.png)
		no-repeat;
	padding-left: 20px;
}

/** --- **/
.datagrid span.finishedProduct-Valid {
	background: url(../../components/images/products/valid-16.png),
		url(../../components/images/products/finishedProduct-16.png);
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
}

.datagrid span.localSemiFinishedProduct-Valid {
	background: url(../../components/images/products/valid-16.png),
		url(../../components/images/products/localSemiFinishedProduct-16.png);
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
}

.datagrid span.packagingKit-Valid {
	background: url(../../components/images/products/valid-16.png),
		url(../ ../ components/ images/ products/ packagingKit-16.png);
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
}

.datagrid span.packagingMaterial-Valid {
	background: url(../../components/images/products/valid-16.png),
		url(../../components/images/products/packagingMaterial-16.png);
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
}

.datagrid span.rawMaterial-Valid {
	background: url(../../components/images/products/valid-16.png),
		url(../../components/images/products/rawMaterial-16.png);
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
}

.datagrid span.semiFinishedProduct-Valid {
	background: url(../../components/images/products/valid-16.png),
		url(../../components/images/products/semiFinishedProduct-16.png);
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
}

/* Allergens */
.datagrid .presentAllergen {
	color: red;
}

/* reqType */
.datagrid .reqTypeForbidden {
	background: url(../../components/images/productLists/stop-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid .reqTypeTolerated {
	background: url(../../components/images/productLists/warning-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid .reqTypeInfo {
	background: url(../../components/images/productLists/info-16.png)
		no-repeat;
	padding-left: 20px;
}

/* quality */
.datagrid .sample {
	background: url(../../components/images/quality/sample-16.png) no-repeat;
	padding-left: 20px;
}

.datagrid .control {
	background: url(../../components/images/quality/control-16.png)
		no-repeat;
	padding-left: 20px;
}

/* group */
.datagrid .userGroup {
	background: url(../../components/images/filetypes/generic-group-16.png)
		no-repeat;
	padding-left: 20px;
}