/* Data Types */
.datagrid span.finishedProduct {
	background: url(../../components/images/filetypes/generic-finishedProduct-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.localSemiFinishedProduct {
	background:
		url(../../components/images/filetypes/generic-localSemiFinishedProduct-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.packagingKit {
	background: url(../../components/images/filetypes/generic-packagingKit-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.packagingMaterial {
	background:
		url(../../components/images/filetypes/generic-packagingMaterial-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.rawMaterial {
	background: url(../../components/images/filetypes/generic-rawMaterial-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.semiFinishedProduct {
	background:
		url(../../components/images/filetypes/generic-semiFinishedProduct-16.png)
		no-repeat;
	padding-left: 20px;
}

/** --- **/
.datagrid span.finishedProduct-ToValidate {
	background: url(../../components/images/filetypes/generic-finishedProduct-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.localSemiFinishedProduct-ToValidate {
	background:
		url(../../components/images/filetypes/generic-localSemiFinishedProduct-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.packagingKit-ToValidate {
	background: url(../../components/images/filetypes/generic-packagingKit-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.packagingMaterial-ToValidate {
	background:
		url(../../components/images/filetypes/generic-packagingMaterial-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.rawMaterial-ToValidate {
	background: url(../../components/images/filetypes/generic-rawMaterial-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.semiFinishedProduct-ToValidate {
	background:
		url(../../components/images/filetypes/generic-semiFinishedProduct-16.png)
		no-repeat;
	padding-left: 20px;
}


.datagrid  span.resourceProduct-ToValidate {
	background: url(../../components/images/filetypes/generic-resourceProduct-16.png) no-repeat;
	padding-left: 20px;
}



/** --- **/
.datagrid span.finishedProduct-Valid {
	background: url(../../components/images/states/valid-16.png),
		url(../../components/images/filetypes/generic-finishedProduct-16.png);
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
}

.datagrid span.localSemiFinishedProduct-Valid {
	background: url(../../components/images/states/valid-16.png),
		url(../../components/images/filetypes/generic-localSemiFinishedProduct-16.png);
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
}

.datagrid span.packagingKit-Valid {
	background: url(../../components/images/states/valid-16.png),
		url(../../components/images/filetypes/generic-packagingKit-16.png);
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
}

.datagrid span.packagingMaterial-Valid {
	background: url(../../components/images/states/valid-16.png),
		url(../../components/images/filetypes/generic-packagingMaterial-16.png);
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
}

.datagrid span.rawMaterial-Valid {
	background: url(../../components/images/states/valid-16.png),
		url(../../components/images/filetypes/generic-rawMaterial-16.png);
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
}

.datagrid span.semiFinishedProduct-Valid {
	background: url(../../components/images/states/valid-16.png),
		url(../../components/images/filetypes/generic-semiFinishedProduct-16.png);
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
}

.datagrid span.resourceProduct-Valid {
	background: url(../../components/images/states/valid-16.png),
		url(../../components/images/filetypes/generic-resourceProduct-16.png);
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 8px 2px, 0 0;
}



/* Allergens */
.datagrid .presentAllergen {
	color: red;
}

/* reqType */
.datagrid .reqTypeForbidden {
	background: url(../../components/images/states/stop-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid .reqTypeTolerated {
	background: url(../../components/images/states/warning-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid .reqTypeInfo {
	background: url(../../components/images/states/info-16.png)
		no-repeat;
	padding-left: 20px;
}

/* quality */
.datagrid .sample {
	background: url(../../components/images/quality/sample-16.png) no-repeat;
	padding-left: 20px;
}

.datagrid .control {
	background: url(../../components/images/quality/control-16.png)
		no-repeat;
	padding-left: 20px;
}

/* group */
.datagrid .userGroup {
	background: url(../../components/images/filetypes/generic-group-16.png)
		no-repeat;
	padding-left: 20px;
}

/* charact */




.datagrid  span.client {
	background: url(../../components/images/filetypes/generic-client-16.png) no-repeat;
	padding-left: 20px;
}

.datagrid  span.supplier {
	background: url(../../components/images/filetypes/generic-supplier-16.png) no-repeat;
	padding-left: 20px;
}

.datagrid  span.allergen {
	background: url(../../components/images/filetypes/generic-allergen-16.png) no-repeat;
	padding-left: 20px;
}

.datagrid  span.bioOrigin {
	background: url(../../components/images/filetypes/generic-bioOrigin-16.png) no-repeat;
	padding-left: 20px;
}


.datagrid  span.geoOrigin {
	background: url(../../components/images/filetypes/generic-geoOrigin-16.png) no-repeat;
	padding-left: 20px;
}


.datagrid  span.cost {
	background: url(../../components/images/filetypes/generic-cost-16.png) no-repeat;
	padding-left: 20px;
}

.datagrid  span.geo {
	background: url(../../components/images/filetypes/generic-geo-16.png) no-repeat;
	padding-left: 20px;
}

.datagrid  span.ing {
	background: url(../../components/images/filetypes/generic-ing-16.png) no-repeat;
	padding-left: 20px;
}

.datagrid  span.microbio {
	background: url(../../components/images/filetypes/generic-microbio-16.png) no-repeat;
	padding-left: 20px;
}

.datagrid  span.organo {
	background: url(../../components/images/filetypes/generic-organo-16.png) no-repeat;
	padding-left: 20px;
}

.datagrid  span.physicoChem {
	background: url(../../components/images/filetypes/generic-physicoChem-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid  span.nut {
	background: url(../../components/images/filetypes/generic-nut-16.png) no-repeat;
	padding-left: 20px;
}

.datagrid  span.aclEntry {
	background: url(../../components/images/filetypes/generic-aclEntry-16.png) no-repeat;
	padding-left: 20px;
}

.datagrid-bar .onActionShowDetails
{
   background-image: url(../../components/images/show-details-16.png);
}


.datagrid .onActionShowDetails a
{
   background-image: url(../../components/images/show-details-16.png);
}


.datagrid span.document-version {
    margin-left: 0.8em;
    padding: 1px;
    position: relative;
    top: -2px;
    visibility: hidden;
}

.datagrid  .yui-dt-highlighted span.document-version {
    visibility: visible;
}
