.datalist-toolbar {
	border: 0px;
	display: block !important;
	visibility: visible;
	margin: 5px;
}

.datalist-toolbar .right > div,
.datalist-toolbar .right > div > div {
	float:left;
}


.datalist-toolbar .left  div.yuimenu > div {
	float: none;
}


.yui-skin-becpg .datalist-toolbar .left  .yui-button,
.yui-skin-becpg .datagrid-bar .yui-button  {
    margin: 0px;
}


.datalist-toolbar .entity-comments span.first-child
{
   background: url(../images/comment-off-16.png) no-repeat 12px 4px;
   padding-left: 24px;
}


