.datalist-toolbar  .create-nc span.first-child
{
   background: url("../images/workflow-16.png") no-repeat scroll 12px 4px transparent;
   padding-left: 22px;
}

.datalist-toolbar div.new-row 
{
   display:none;
}

.datagrid table a.folder-link {
	cursor: pointer;
	padding-left: 24px;
	text-decoration: none;
	background: url("../images/folder-up-16.png") no-repeat;
	display: inline-block;
	height: 16px;
}

.datagrid span.nc.Claim {
	background:
		url(../../components/images/filetypes/generic-client-16.png)
		no-repeat;
	padding-left: 20px;
}

.yui-dialog .yui-g .form-field input[type="text"], 
.yui-dialog .form-container .yui-g .form-field select {
	width: 27em;
}


#alfresco-nc-list div.filterform {
    width: 60em;
}


.datagrid-bar .onActionShowWorkflows,.datagrid .onActionShowWorkflows a {
	background-image: url("../images/workflow-16.png");
}
