
.datagrid span.project {
	background:
		url("../../components/images/filetypes/generic-project-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.deliverable {
	background: url("../../components/images/filetypes/generic-file-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task {
	background: url("../../components/images/filetypes/generic-task-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-milestone {
	background:
		url("../../components/images/filetypes/generic-task-milestone-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-planned {
	background:
		url("../../components/documentlibrary/indicators/project-planned-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-inprogress {
	background:
		url("../../components/documentlibrary/indicators/project-inprogress-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-cancelled , .datagrid span.task-closed {
	background:
		url("../../components/documentlibrary/indicators/project-cancelled-16.png")
		no-repeat;
	padding-left: 20px;
}

 .datagrid span.task-refused {
 background: url("../../components/documentlibrary/indicators/project-refused-16.png")
		no-repeat;
	padding-left: 20px;
}


.datagrid span.task-onhold {
	background:
		url("../../components/documentlibrary/indicators/project-onhold-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-prescript, .datagrid span.task-postscript {
	background:
		url("../../components/images/details-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-completed {
	background:
		url("../../components/documentlibrary/indicators/project-completed-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid div.score-screening {
	height: 150px;
	overflow: auto;
}


.score-class-a,
.score-class-b,
.score-class-c,
.score-class-d,
.score-class-e
 {
    border: 0 none;
    display: inline-block;
    font-size: 17px;
    height: 20px;
    padding: 7px;
    text-align: center;
    width: 15px;
    word-spacing: normal;
     border-radius : 5px 0 0 5px;
}

.score-class-a{
    background: #00853f;
    color: #47a97b;
}

.score-class-b{  
    background: #64bf21;
    color:#b6e86d;
}

.score-class-c{  
    background: #ffc800;
    color: #ffde7d;
}

.score-class-d{  
    background: #ff7600;
    color:#ffb36b;
}

.score-class-e{  
    background: #ff0100;
    color:#ff8d67;
}


.datagrid span.score-black {
	background-color:#424242;
	border-radius: 50%;
	padding:7px;
	color:white;
	font-weight:bold;
}

.datagrid span.score-red {
	background-color:#f44336;
	border-radius: 50%;
	padding:7px;
	color:white;
	font-weight:bold;
}

.datagrid span.score-orange {
	background-color:orange;
	border-radius: 50%;
	padding:7px;
	color:white;
	font-weight:bold;
}

.datagrid span.score-blue {
	background-color:rgb(73, 134, 231);
	border-radius: 50%;
	padding:7px;
	color:white;
	font-weight:bold;
}

.datagrid span.score-green {
	background-color:rgb(123, 209, 72);
	border-radius: 50%;
	padding:7px;
	color:white;
	font-weight:bold;
}
