
.datagrid span.project {
	background:
		url("../../components/images/filetypes/generic-project-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.deliverable {
	background: url("../../components/images/filetypes/generic-file-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task {
	background: url("../../components/images/filetypes/generic-task-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-milestone {
	background:
		url("../../components/images/filetypes/generic-task-milestone-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-planned {
	background:
		url("../../components/documentlibrary/indicators/project-planned-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-inprogress {
	background:
		url("../../components/documentlibrary/indicators/project-inprogress-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-cancelled , .datagrid span.task-closed {
	background:
		url("../../components/documentlibrary/indicators/project-cancelled-16.png")
		no-repeat;
	padding-left: 20px;
}

 .datagrid span.task-refused {
 background: url("../../components/documentlibrary/indicators/project-refused-16.png")
		no-repeat;
	padding-left: 20px;
}


.datagrid span.task-onhold {
	background:
		url("../../components/documentlibrary/indicators/project-onhold-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-prescript, .datagrid span.task-postscript {
	background:
		url("../../components/images/details-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-completed {
	background:
		url("../../components/documentlibrary/indicators/project-completed-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid div.score-screening {
	height: 150px;
	overflow: auto;
}


.range-score-a,
.range-score-b,
.range-score-c,
.range-score-d,
.range-score-e
 {
    border: 0 none;
    display: inline-block;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 15px;
    word-spacing: normal;
    border-radius : 5px;
    color: black;
}

.range-score-a{
    background: #00853f;
}

.range-score-b{  
    background: #64bf21;
}

.range-score-c{  
    background: #ffc800;
}

.range-score-d{  
    background: #ff7600;
}

.range-score-e{  
    background: #ff0100;
}



.datagrid span[class^="score-"] {
  padding-left: 5px; /* Extra space for the color bar */
  color: black;
  font-weight: bold;
  display: inline-flex;
     text-align: center;
  align-items: stretch; /* Ensures full height */
}

.datagrid span[class^="score-"]::before {
  content: "";
  width: 5px;
  flex-shrink: 0;
  margin-right:5px;
}


/* Set specific colors */
.datagrid span.score-green::before { background-color: #00853f; }
.datagrid span.score-blue::before { background-color: #64bf21; }
.datagrid span.score-yellow::before { background-color: #ffc800; }
.datagrid span.score-orange::before { background-color: #ff7600; }
.datagrid span.score-red::before { background-color: #ff0100; }
.datagrid span.score-black::before { background-color: #424242; }

