.datalist-toolbar .right > div,
.datalist-toolbar .right > div > div {
	float:left;
}


.datalist-toolbar .left  div.yuimenu > div {
	float: none;
}

.yui-skin-becpg .datalist-toolbar .left  .yui-button,
.yui-skin-becpg .datagrid-bar .yui-button  {
    margin: 0px;
}


#toolbar-contribs .yui-menu-button button,
.datagrid-bar  .yui-menu-button button
 {
 padding-right: 5px;
}

#toolbar-contribs .filter-form .yui-menu-button button,
.datagrid-bar .filter-form  .yui-menu-button button
 {
 padding-right: 0px;
}




.datalist-toolbar .entity-view-details span.first-child
{
   background: url(../documentlibrary/actions/entity-view-details-16.png) no-repeat 12px 4px;
   padding-left: 24px;
}

.datalist-toolbar .entity-view-documents span.first-child
{
   background: url(../documentlibrary/actions/entity-view-documents-16.png) no-repeat 12px 4px;
   padding-left: 24px;
}


.datalist-toolbar .entity-add-aspect span.first-child  {
	background:  url("../documentlibrary/actions/document-manage-aspects-16.png") no-repeat 8px 4px;
}


.datalist-toolbar .eco-calculate-wused span.first-child
{
   background: url(images/eco-calculate-wused-16.png) no-repeat 12px 4px;
   padding-left: 24px;
}

.datalist-toolbar .eco-do-simulation span.first-child
{
   background: url(images/eco-do-simulation-16.png) no-repeat 12px 4px;
   padding-left: 24px;
}

.datalist-toolbar .eco-apply span.first-child
{
   background: url(images/eco-apply-16.png) no-repeat 12px 4px;
   padding-left: 24px;
}


.datalist-toolbar .export-csv span.first-child
{
	background: url(../images/filetypes/xls-file-16.png) no-repeat 8px 4px;
}

.datalist-toolbar .columns-conf span.first-child
{
	background: url(images/columns-conf-16.png) no-repeat 8px 4px;
}


.datalist-toolbar .show-project-details span.first-child
{
   background: url(../images/info-16.png) no-repeat 4px 4px;
}


.datalist-toolbar div.flat-button .ganttCkeckbox  span.yui-checkbox-button button
{
   background: url("../project/images/gantt-16.png") no-repeat 4px 4px;
}


.datalist-toolbar div.flat-button  .ganttCkeckbox span.yui-checkbox-button.yui-checkbox-button-checked button
{
   background: url("../project/images/planning-16.png") no-repeat 4px 4px;
}


.datalist-toolbar div.flat-button .targetDatesCkeckbox  span.yui-checkbox-button button
{
   background: url("../images/calendar-disabled-16.png") no-repeat 4px 4px;
}



.datalist-toolbar div.flat-button  .targetDatesCkeckbox span.yui-checkbox-button.yui-checkbox-button-checked button
{
   background: url("../images/calendar-16.png") no-repeat 4px 4px;
}



.datalist-toolbar div.flat-button .criticalPathCkeckbox  span.yui-checkbox-button button
{
   background: url("../project/images/critical-disabled-16.png") no-repeat 4px 4px;
}


.datalist-toolbar div.flat-button  .criticalPathCkeckbox span.yui-checkbox-button.yui-checkbox-button-checked button
{
   background: url("../project/images/critical-16.png") no-repeat 4px 4px;
}



.datalist-toolbar .formulate span.first-child
{
   background: url(../documentlibrary/actions/entity-refresh-reports-16.png) no-repeat 8px 4px;
}

.datalist-toolbar .formulate-decernis span.first-child
{
   background: url(../documentlibrary/actions/entity-refresh-reports-16.png) no-repeat 8px 4px;
}

.datalist-toolbar .formulate.loading span.first-child,
.datalist-toolbar .formulate-decernis.loading span.first-child,
.datalist-toolbar .entity-refresh-reports.loading span.first-child
{
   background: url(images/loading.gif) no-repeat 8px 4px;
}


.datalist-toolbar .import-nuts span.first-child
{
   background: url(../images/publish-external-16.png) no-repeat 12px 4px;
   padding-left: 24px;
}

.datalist-toolbar .import-lca span.first-child
{
   background: url(../images/publish-external-16.png) no-repeat 12px 4px;
   padding-left: 24px;
}


.datalist-toolbar .product-metadata span.first-child,
.datalist-toolbar .project-metadata span.first-child
{
   background: url(../documentlibrary/actions/folder-edit-metadata-16.png) no-repeat 8px 4px;
}


.datalist-toolbar .new-row span.first-child {
    background: url(../images/add-row-16.png) no-repeat 8px 4px;
    padding-left: 0px ! important;
}

.datalist-toolbar .new-row .yui-button-disabled,
.datalist-toolbar .selected-items .yui-button-disabled {
   display:none;
}


.datalist-toolbar .print span.first-child {
    background: url(../images/printer-16.png) no-repeat 8px 4px ! important;
    padding-left: 0px ! important;
}


.datalist-toolbar .entity-edit-metadata span.first-child
{
   background: url(../documentlibrary/actions/folder-edit-metadata-16.png) no-repeat 8px 4px;
}

.datalist-toolbar .entity-print-metadata span.first-child,
.datalist-toolbar .entity-print-report span.first-child
{
   background: url(../images/printer-16.png) no-repeat 8px 4px;
}

.datalist-toolbar .entity-reports-parameters span.first-child
{
   background: url(../../modules/entity-datagrid/images/cog.png) no-repeat 8px 4px;
}

.datalist-toolbar .entity-refresh-reports span.first-child
{
   background: url(../documentlibrary/actions/entity-refresh-reports-16.png) no-repeat 8px 4px;
}

.datalist-toolbar .full-screen span.first-child
{
   background: url(../images/fullscreen-enter.png) no-repeat 9px 5px;
}


.datalist-toolbar div.flat-button  span.yui-checkbox-button-checked {
	 background: none repeat scroll 0 0 transparent;
}


.datalist-toolbar div.flat-button .stateCkeckbox  span.yui-checkbox-button button
{
   background: url(../images/job-running-16.png) no-repeat 4px 4px;
}


.datalist-toolbar div.flat-button  .stateCkeckbox span.yui-checkbox-button.yui-checkbox-button-checked button
{
   background: url(../images/job-success-16.png) no-repeat 4px 4px;
}


.datalist-toolbar .onActionUp
{
   background-image: url(../images/up-arrow-16.png);
}

.datalist-toolbar .onActionDown
{
   background-image: url(../images/down-arrow-16.png);
}


.datalist-toolbar .onActionShowDetails
{
   background-image: url(../images/show-details-16.png);
}


.datalist-toolbar .onActionShowWused {
	background-image: url(../images/wused-16.png);
}

.datalist-toolbar .onActionBulkEdit {
	background-image:  url("../../components/images/edit-inline-16.png");
}

.datalist-toolbar .onActionSelectColor  {
	background-image:  url("../../components/images/select-color-16.png") ;
}

.datalist-toolbar .onActionLock  {
	background-image:  url("../../modules/entity-datagrid/images/lock-16.png") ;
}

.datalist-toolbar .onActionUnlock  {
	background-image:  url("../../modules/entity-datagrid/images/unlock-16.png") ;
}


