.datalist-toolbar .rapidLink ul span {
	cursor: pointer;
	display: block;
	margin-left: -4px;
	min-height: 16px;
	padding: 2px 0px 1px 24px;
}

.datalist-toolbar .rapidLink span.first-child {
	background: url(../images/dot-more-16.png) no-repeat -2px 4px;
    padding-left: 0px;
}

.datalist-toolbar .rapidLink  span.import {
	background: url(../images/publish-external-16.png) no-repeat 2px 50%;
}

.datalist-toolbar .rapidLink  span.simulation {
	background: url(../entity-data-lists/images/eco-do-simulation-16.png) no-repeat 2px 50%;
}

.datalist-toolbar .rapidLink  span.finishedProduct {
	background: var(--icon-finishedProduct-16) no-repeat 2px 50%;
}

.datalist-toolbar .rapidLink  span.rawMaterial {
	background: var(--icon-rawMaterial-16) no-repeat 2px 50%;
}

.datalist-toolbar .rapidLink  span.semiFinishedProduct {
	background: var(--icon-semiFinishedProduct-16) no-repeat 2px 50%;
}

.datalist-toolbar .rapidLink  span.localSemiFinishedProduct {
	background: var(--icon-localSemiFinishedProduct-16) no-repeat 2px 50%;
}

.datalist-toolbar .rapidLink  span.logisticUnit {
	background: var(--icon-logisticUnit-16) no-repeat 2px 50%;
}

.datalist-toolbar .rapidLink  span.packagingMaterial {
	background: var(--icon-packagingMaterial-16) no-repeat 2px 50%;
}

.datalist-toolbar .rapidLink  span.packagingKit {
	background: var(--icon-packagingKit-16) no-repeat 2px 50%;
}

.datalist-toolbar .rapidLink  span.resourceProduct {
	background: var(--icon-resourceProduct-16) no-repeat 2px 50%;
}