.project-list {
	clear: both;
}

.project-list .datagrid {
	margin: 0px;
	padding: 0px;
}

.project-list .alfresco-datatable thead {
	display: table-header-group;
}

.datagrid .datagrid-bar .item-select {
	float: left;
	width: auto;
}
/* project-list legend & task */
.project-list .legend {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}


.project-list .legend span.task-legend {
	border-radius: 15px;
	width: 12px;
	height: 12px;
	margin-left: 3px;
	margin-right: 2px;
	margin-bottom: 3px;
	margin-top: 3px;
}
/* project-list bar */
.project-list .project-list-bar {
	border-bottom: 1px dashed #c0c0c0;
	margin: 0 -10px;
	padding: 4px 0.5em 2px;
}

.project-list .project-list-bar-bottom {
	border-top: 1px dashed #d9d9d9;
	margin-top: 2em;
}

.project-list span.separator {
	border-right: 1px dotted #457A9C;
	border-top: medium none;
	margin: 0 4px;
	padding: 2px 0;
	position: relative;
	top: -4px;
	vertical-align: bottom;
}

/* project-list bar Buttons and Paginator */
.project-list .project-list-bar .thin, .project-list .project-list-bar .paginator
	{
	padding: 4px 1em;
	margin: 0;
}

.project-list .projects tr:hover td.yui-dt-last .yui-dt-liner {
	border-left: none;
	visibility: visible;
}

.project-list .project-list-bar .yui-u {
	text-align: right;
}

.project-list .project-list-bar .yui-u.first {
	text-align: left;
}

.project-list .project-list-bar .yui-pg-current {
	margin-right: 0;
}

.project-list-toolbar div.filterform .yui-u {
	text-align: left;
}

.project-list-toolbar div.filterform {
	width: 60em;
}

/* Data Table */
.project-list .projects table {
	border: medium none;
	width: 100%;
}

.project-list .projects tbody {
	outline: none;
}

.project-list .projects .yui-dt table {
	border: none;
}

.project-list tr.yui-dt-odd {
	background-color: #ffffff;
}

.project-list .projects td.yui-dt-last .yui-dt-liner {
	visibility: hidden;
}

.project-list .projects .yui-dt-data td {
	border-bottom: 1px dashed #d9d9d9;
	border-right: medium none;
	vertical-align: middle !important;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	padding: 5px;
}


.project-list .projects .yui-dt-data td.ghead,
.project-list .projects .yui-dt-data td.gheadwkend {
	padding: 0px;
}

.project-list .projects .yui-dt-data .yui-dt-last td {
	border-bottom: medium none;
}

.project-list .projects tr.yui-dt-first td {
	border-top: medium none;
}

.project-list .projects td.yui-dt-last {
	border-left: 1px solid #fff;
	vertical-align: middle;
}

.project-list tbody td .yui-dt-liner {
	padding: 4px !important;
}

.project-list .projects tr.yui-dt-first td.yui-dt-empty, .project-list .projects tr.yui-dt-first td.yui-dt-loading
	{
	border-right: medium none;
	padding: 0.5em 1em;
}

.project-list .yui-dt-error {
	background: red;
	color: white;
	font-weight: bold;
	margin: 1em auto;
	padding: 1em;
}

/* This rule is vital to workaround a Firefox mouseout bug */
.project-list .yui-dt-col-2 {
	overflow: visible;
}

/* Cell Renderers */
.project-list .projects {
	color: #333333;
	margin: 0 -10px 0 -8px;
}

.project-list .projects .yui-dt-col-id .yui-dt-liner {
	padding: 0.5em 1em;
	text-align: center;
}

.project-list .projects .yui-dt-col-title .yui-dt-liner div {
	float: left;
	margin-top: 0.5em;
	min-width: 15em;
}

.project-list .projects .yui-dt-col-title .yui-dt-liner div.type {
	clear: both;
	margin-bottom: 0.5em;
}

.project-list  .project-activity-details {
	display: flex;
	align-items: center;
}

.project-list  .project-activity-details  .icon {
	float: left;
	min-height: 3em;
	text-align: center;
	padding-right: 8px;
	/* max-width: 30px; */
	/* max-height: 30px; */
}

.project-list  .project-activity-details  .icon img {
	border-radius: 15px;
	max-width: 30px;
	max-height: 30px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.project-list .project-activity-details  .details {
	float: left;
}

.project-list   .project-activity-details .details .activity-content {
	clear: both;
	list-style-type: disc;
}

.project-list  .project-activity-details .details .activity-content ul li
	{
	list-style-type: disc;
}

.project-list  .project-activity-details .details .activity-content ol li
	{
	list-style-type: decimal;
}

.project-list   .activity-content {
	border: 1px solid #CCCCCC;
	padding: 5px;
	box-shadow: 0 1px 6px rgb(0 0 0/ 20%);
	position: relative;
	clear: both;
	border-radius: 10px;
	max-width: 190px;
}

.project-list  .activity-content:before {
	position: absolute;
	display: inline-block;
	border-top: 7px solid transparent;
	border-right: 7px solid #CCCCCC;
	border-bottom: 7px solid transparent;
	left: -9px;
	top: 10px;
}

.project-list   .activity-content:after {
	position: absolute;
	display: inline-block;
	border-top: 6px solid transparent;
	border-right: 6px solid #CCCCCC;
	border-bottom: 6px solid transparent;
	left: -7px;
	top: 30%;
	content: '';
}

.project-list .project-activity-details span.deliverable {
	background: url("../../components/images/filetypes/generic-file-16.png")
		no-repeat;
	padding-left: 20px;
}

.project-list .project-activity-details span.task {
	background: url("../../components/images/filetypes/generic-task-16.png")
		no-repeat;
	padding-left: 20px;
}

.project-list span.project-subtitle {
	font-style: italic;
}

.project-list  progress[value] {
	border: none;
	width: 75px;
	height: 16px;
}

.project-list .yui-dt-col-prop_cm_name progress {
	border: none;
	height: 12px;
	width: 170px;
	overflow: hidden;
	border-radius: 15px;
}

.project-list .yui-dt-col-prop_cm_name  span.small {
	background-size: 16px;
	padding-left: 20px;
	height: 16px;
	background-position: 0px;
	float: left;
}

.project-list .yui-dt-col-prop_cm_name li {
	padding: 5px;
}

.project-list  span.project-date {
	color: #004254;
	font-style: italic;
}

.project-list  span.project-overdue {
	color: red;
	font-style: italic;
}

.project-list .grid tbody td {
	font-size: 12px
}

.project-list .grid span.task-group, .project-list .grid span.project-title.full a
	{
	font-weight: bold;
}

.project-list .grid span.task-status {
	background: none;
	padding-left: 0px;
	display: inline;
}

.project-list .grid span.task-legend {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-top: -3px;
	border-radius: 15px;
}

.project-list .grid span.sub-project {
	padding-left: 20px;
	background:
		url("../../components/images/filetypes/generic-project-16.png")
		no-repeat;
}

.project-list .grid .more-task div.more-actions {
	border-color: #7f7f7f;
	margin-left: 0px;
	right: inherit;
}

.project-list .grid .more-task .more-actions a:active, .project-list .projects .more-task  .more-actions a:hover
	{
	background-color: transparent;
	border: none;
	color: inherit;
}

.project-list .grid .more-task .onActionShowMore a {
	background-image: url(../../components/images/plus-16.png);
}

.datagrid span.score-black {
	background-color: #004254;
	border-radius: 50%;
	padding: 5px;
	display: block;
	text-align: center;
	color: white;
	font-weight: bold;
}

.datagrid span.score-red {
	background-color: #f44336;
	border-radius: 50%;
	padding: 5px;
	display: block;
	text-align: center;
	color: white;
	font-weight: bold;
}

.datagrid span.score-orange {
	background-color: orange;
	border-radius: 50%;
	padding: 5px;
	display: block;
	text-align: center;
	color: white;
	font-weight: bold;
}

.datagrid span.score-blue {
	background-color: rgb(73, 134, 231);
	border-radius: 50%;
	padding: 5px;
	display: block;
	color: white;
	font-weight: bold;
}

.datagrid span.score-green {
	background-color: rgb(123, 209, 72);
	border-radius: 50%;
	padding: 5px;
	display: block;
	text-align: center;
	color: white;
	font-weight: bold;
}

.project-list .nc {
	padding-bottom: 2px;
	padding-top: 2px;
}

/* project-manager */
.project-list .avatar {
	display: flex;
	align-items: center;
}

.project-list .avatar img {
	border-radius: 30px;
	max-width: 30px;
	max-height: 30px;
}


.sticky-footer, .sticky-push {
	display:none;
}

 .datagrid.project-list div.grid  {
	height: calc(100vh - 250px);
}

.full-screen  .datagrid.project-list div.grid {
	height: calc(100vh - 100px);
}



