
.datagrid span.project {
	background:
		url("../../components/images/filetypes/generic-project-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.deliverable {
	background: url("../../components/images/filetypes/generic-file-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task {
	background: url("../../components/images/filetypes/generic-task-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-milestone {
	background:
		url("../../components/images/filetypes/generic-task-milestone-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-planned {
	background:
		url("../../components/documentlibrary/indicators/project-planned-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-inprogress {
	background:
		url("../../components/documentlibrary/indicators/project-inprogress-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-cancelled, .datagrid span.task-refused , .datagrid span.task-closed {
	background:
		url("../../components/documentlibrary/indicators/project-cancelled-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-onhold {
	background:
		url("../../components/documentlibrary/indicators/project-onhold-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-prescript, .datagrid span.task-postscript {
	background:
		url("../../components/images/details-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid span.task-completed {
	background:
		url("../../components/documentlibrary/indicators/project-completed-16.png")
		no-repeat;
	padding-left: 20px;
}

.datagrid div.scoreList-screening {
	height: 150px;
	overflow: auto;
}
