<div class="colorPicker">
        <div data-dojo-attach-point="_buttonNode" class="colorPreview"></div>
        <div  id="widget_${id}" role="presentation">
            <div class="colorInputPrefix" data-dojo-attach-point="verifiedNumberPrefixNode" >#</div>
            <div class='dijitReset dijitValidationContainer'>
                <input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="&#935; " type="text" tabIndex="-1" readonly="readonly" role="presentation"        />
            </div>
            <div class="dijitReset dijitInputField dijitInputContainer">
                <input maxlength="6" class="dijitReset colorPreviewInput" data-dojo-attach-point='_aroundNode,textbox,focusNode' autocomplete="off" ${!nameAttrSetting} type='${type}'/>
            </div>
        </div>
</div>