/** Custom search **/
.search .search-bar span.bulk-edit-button
{
   background: transparent url("../../components/images/edit-inline-16.png") no-repeat 12px 4px;
   padding-left: 22px;
}


.search .search-bar span.wused-button
{
   background: transparent url("../../components/images/wused-16.png") no-repeat 12px 4px;
   padding-left: 22px; 
}

.search .selected-form-button span.yui-button {
    background: none repeat scroll 0 0 white;
    border-width: 1px;
}

div.selected-items, div.item-select {
	float:left;
}

.search .search-box-adv
{
   margin: 1.25em;
   height: 2.1em;
}

.search .search-box-adv input
{
    padding: 3.666px;
}

.search .search-box-adv .terms
{
   width: 42em;
}
.search .search-box-adv > div {
	float: left;
}

.search .search-box-adv .forms-container {
    margin-right: 1.5em;
}

.search .itemname {
	padding: 0 2em;
}

.search .search-sites {
	margin-bottom: 0;
}

.search .search-box-adv .form-container .form-fields {
    border: 0;
    margin-left: 0;
}

/* fix ie chrome */

.yui-skin-lightTheme #bd {
    padding-bottom: 0;
}

.search .search-select-cell-adv {
	vertical-align: top;
}


/* Messages */

.toolbar-file-list
{
   max-height: 15em;
   overflow-y: auto;
   padding: 0.5em;
   text-align: left;
}

.toolbar-file-list span
{
   background-position: 1px 0px;
   background-repeat: no-repeat;
   display: block;
   min-height: 18px;
   padding-left: 20px;
}

.toolbar-file-list span.folder
{
   background-image: url(images/folder-open-16.png);
}

.toolbar-file-list span.document
{
   background-image: url(images/generic-16.png);
}
