/** Custom search **/
.search .search-bar span.bulk-edit-button
{
   background: transparent url("../../components/images/edit-inline-16.png") no-repeat 12px 4px;
   padding-left: 22px;
}


.search .search-bar span.wused-button
{
   background: transparent url("../../components/images/wused-16.png") no-repeat 12px 4px;
   padding-left: 22px; 
}

.search .selected-form-button span.yui-button {
    background: none repeat scroll 0 0 white;
    border-width: 1px;
}

div.selected-items, div.item-select {
	float:left;
}

.search .search-box-adv
{
   margin: 1.25em;
   height: 2.1em;
}

.search .search-box-adv input
{
    padding: 3.666px;
}

.search .search-box-adv .terms
{
   width: 42em;
}
.search .search-box-adv > div {
	float: left;
}

.search .search-box-adv .forms-container {
    margin-right: 1.5em;
}

.search .results .itemname {
	background-image: none !important;
	float: left;
    display:block;
}

.search .search-sites {
	margin-bottom: 0;
}

.search .search-box-adv .form-container .form-fields {
    border: 0;
    margin-left: 0;
}

.search .selected-form-button .form-type-name  {
     padding: 0 20px;
}

/* fix ie chrome */

.yui-skin-lightTheme #bd {
    padding-bottom: 0;
}

.search .search-select-cell-adv {
	vertical-align: top;
}


/* Messages */

.toolbar-file-list
{
   max-height: 15em;
   overflow-y: auto;
   padding: 0.5em;
   text-align: left;
}

.toolbar-file-list span
{
   background-position: 1px 0px;
   background-repeat: no-repeat;
   display: block;
   min-height: 18px;
   padding-left: 20px;
}

.toolbar-file-list span.folder
{
   background-image: url("../../components/documentlibrary/images/folder-open-16.png");
}

.toolbar-file-list span.document
{
   background-image: url("../../components/documentlibrary/images/generic-16.png");
}
.search div.nutriscore {
	margin-left: 60%;
	position: absolute;
}

.search span.title {
   display: block;
   font-size:90%;
   padding-left:5px;
}

/* redefine  beCPG*/

.search .yui-dt-col-image  {
   vertical-align: top;
}

.search .results div.details{
	width: 50%;
}

.search .results div.details {
	clear:both;
}

.yui-skin-becpg .search .itemname {
    color: #333 !important;
    font-family: Roboto Condensed, Arial, sans-serif;
    font-size: 120%;
    font-weight: normal;
    padding: 5px;
    background-image: none !important;
}

.yui-skin-becpg .search .results div.details span, .yui-skin-becpg .search .results div.details a {
    color: rgba(0, 0, 0, 0.7);
    word-wrap: break-word;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    max-width: 65%;
}

.yui-skin-becpg .search .results div.details{
    color: #5f6368;
    margin-right: 0;
    word-wrap: break-word;
    font-family: Roboto, sans-serif;
    padding-left: 5px;
}

.search .share-form .form-container .form-fields,  .search .form-row {
	width: 1000px !important;
}

