
.spel-editor  .yui-toolbar-container .yui-push-button a, .yui-skin-default .yui-toolbar-container .yui-color-button a, .yui-skin-default .yui-toolbar-container .yui-menu-button a {
    color: #000000;
    display: block;
    font-size: 12px;
    height: 20px;
    line-height: 2;
    overflow: hidden;
    padding-left: 0;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}


.spel-editor-list
{
   display: block;
   min-height: 2em;
   max-height: 17.4em;
   overflow-x: hidden;
   overflow-y: scroll;
   margin-bottom: 0.5em;
}

div.current-formula
{
   width: 30em;
   border: 1px solid #C5D6E2;
   margin-bottom:5px;
}

.spel-editor .show-editor
{
   clear: left;
}

.spel-editor .editor
{
   display: none;
   margin-left: 2em;
   margin-top: 0.3em;
   width: 60em;
}

.spel-editor .bd
{
   border: 2px solid #aaa;
   padding: 0.5em;
}

.spel-editor .bdft
{
   margin-top: 1em;
   text-align: center;
}

.spel-editor .editor-header
{
   height: 2em;
   padding: 0.5em;
}

.spel-editor .editor-header div
{
   float: left;
}


.spel-editor .editor-header .navigator span.wait
{
   background-image: url(../form/images/ajax_anim.gif);
   background-repeat: no-repeat;
   padding: 1px 0 2px 16px;
}

.spel-editor .editor-header .navigator button span.item-icon img
{
   padding-right: 0.3em;
   vertical-align: middle;
}

.spel-editor .editor-header .navigator button span.item-name
{
   white-space: nowrap;
}

.spel-editor .editor-header .navigator .navigator-items-list .yuimenuitemlabel
{
   padding: 0.2em 12px;
}

.spel-editor .editor-header .navigator .navigator-items-list span.item-icon img
{
   padding-right: 0.3em;
   vertical-align: middle;
}

.spel-editor .editor-header .navigator .navigator-items-list span.item-name
{
}

.spel-editor .editor-header .search .search-input
{
   float: left;
   width: 20em;
   padding: 0.3em 1em 0.4em 0.5em;
}

.spel-editor .editor-header .search .search-button
{
}

.spel-editor .editor-items
{
   border: 2px solid #aaa;
   height: 20em;
   overflow-x: auto;
   overflow-y: scroll;
   position: relative;
}

.spel-editor .editor-items h3
{
   font-weight: normal;
}

.spel-editor input.create-new-input
{
   width: 100%;
}

.spel-editor .editor-items .icon16
{
   display: block;
   min-height: 16px;
   position: relative;
}

.spel-editor .editor-items .icon32
{
   display: block;
   min-height: 32px;
   position: relative;
}


.spel-editor .editor-items table
{
   border: medium none;
   width: 100%;
}

.spel-editor .editor-items thead
{
   display: none;
}

.spel-editor .editor-items tbody
{
   outline: none;
}

.spel-editor .editor-items tr.create-new-row
{
   background-color: #ffffe0;
}

.spel-editor .editor-items.yui-dt .yui-dt-message td
{
   border: medium none;
}

.spel-editor .editor-items.yui-dt .yui-dt-data td
{
   border-bottom: 1px dashed #d9d9d9;
   border-right: medium none;
   vertical-align: middle;
}

.spel-editor .panel-left,
.spel-editor .panel-right
{
}

.spel-editor .panel-left .editor-items
{
   clear: left;
   margin-left: 0.5em;
   margin-right: 6px;
}

.spel-editor .panel-right .editor-items
{
   clear: left;
   margin-right: 0.5em;
}


/* DataList */


.spel-editor span.allergen, 
.spel-editor span.allergenList
 {
	background: url(../../components/images/filetypes/generic-allergen-16.png) no-repeat;
	padding-left: 20px;
}

.spel-editor span.bioOrigin {
	background: url(../../components/images/filetypes/generic-bioOrigin-16.png) no-repeat;
	padding-left: 20px;
}


.spel-editor span.geoOrigin {
	background: url(../../components/images/filetypes/generic-geoOrigin-16.png) no-repeat;
	padding-left: 20px;
}

.spel-editor span.cost,
.spel-editor span.costList  {
	background: url(../../components/images/filetypes/generic-cost-16.png) no-repeat;
	padding-left: 20px;
}

.spel-editor span.geo {
	background: url(../../components/images/filetypes/generic-geo-16.png) no-repeat;
	padding-left: 20px;
}

.spel-editor span.ing,
.spel-editor span.ingList {
	background: url(../../components/images/filetypes/generic-ing-16.png) no-repeat;
	padding-left: 20px;
}

.spel-editor span.microbio,
.spel-editor span.microbioList {
	background: url(../../components/images/filetypes/generic-microbio-16.png) no-repeat;
	padding-left: 20px;
}

.spel-editor span.organo,
.spel-editor span.organoList {
	background: url(../../components/images/filetypes/generic-organo-16.png) no-repeat;
	padding-left: 20px;
}


.spel-editor span.product,
.spel-editor span.compoList {
	background: url(../../components/images/filetypes/generic-finishedProduct-16.png) no-repeat;
	padding-left: 20px;
}


.spel-editor span.packagingList {
	background: url(../../components/images/filetypes/generic-packagingKit-16.png) no-repeat;
	padding-left: 20px;
}

.spel-editor span.processList {
	background: url(../../components/images/filetypes/generic-resourceProduct-16.png) no-repeat;
	padding-left: 20px;
}


.spel-editor span.variables,
.spel-editor span.String,
.spel-editor span.Double,
.spel-editor span.NodeRef {
	background: url(../../components/images/generic-file-16.png) no-repeat;
	padding-left: 20px;
}



.spel-editor span.physicoChem,
.spel-editor span.physicoChemList {
	background: url(../../components/images/filetypes/generic-physicoChem-16.png)
		no-repeat;
	padding-left: 20px;
}

.spel-editor span.nut,
.spel-editor span.nutList  {
	background: url(../../components/images/filetypes/generic-nut-16.png) no-repeat;
	padding-left: 20px;
}

.spel-editor-nodeRef {
	display: inline;
	background-color: #EDF5FF;
	border: 1px dashed #D9D9D9;
}




