.doclist .onActionViewDataLists a
{
   background-image: url(images/view-datalists-16.png);
}

.doclist .onActionCheckOutEntity a
{
   background-image: url(images/edit-16.png);
}

.doclist .onActionCheckInEntity a
{
   background-image: url(images/upload-new-version-16.png);
}

.doclist .onActionCancelCheckOutEntity a
{
   background-image: url(images/cancel-editing-16.png);
}

