

.toolbar .bulk-edit span.first-child
{
   background: transparent url(../images/edit-inline-16.png) no-repeat 12px 4px;
   padding-left: 22px; 
}

.toolbar .breadcrumb .pjt_project
{
   background-image: url(../images/filetypes/generic-project-16.png);
}
