

.toolbar .bulk-edit span.first-child
{
   background: transparent url(../images/edit-inline-16.png) no-repeat 12px 4px;
   padding-left: 22px; 
}


/* Breadcrumb icons */


.toolbar .breadcrumb .pjt_project
{
   background-image: url(../images/filetypes/generic-project-16.png);
}

.toolbar .breadcrumb .bcpg_finishedProduct {
	background-image: url(../images/filetypes/generic-finishedProduct-16.png);
}

.toolbar .breadcrumb .bcpg_localSemiFinishedProduct {
	background-image: url(../images/filetypes/generic-localSemiFinishedProduct-16.png);
}

.toolbar .breadcrumb .bcpg_packagingKit {
	background-image: url(../images/filetypes/generic-packagingKit-16.png);
}

.toolbar .breadcrumb .bcpg_packagingMaterial {
	background-image: url(../images/filetypes/generic-packagingMaterial-16.png);
}

.toolbar .breadcrumb .bcpg_rawMaterial {
	background-image: url(../images/filetypes/generic-rawMaterial-16.png);
}

.toolbar .breadcrumb .bcpg_semiFinishedProduct {
	background-image: url(../images/filetypes/generic-semiFinishedProduct-16.png);
}

.toolbar .breadcrumb .bcpg_resourceProduct {
	background-image: url(../images/filetypes/generic-resourceProduct-16.png);
}

.toolbar .breadcrumb .bcpg_client {
	background-image: url(../images/filetypes/generic-client-16.png);
}

.toolbar .breadcrumb .bcpg_supplier {
	background-image: url(../images/filetypes/generic-supplier-16.png);
}

