

 .treeview  .pjt-project{
	background:  url(../images/filetypes/generic-project-16.png)  ;
	background-position:  left bottom;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	left: -10px;
   position: relative;
   padding-left: 16px;
}
