/** Custom search **/
.search .search-bar span.bulk-edit-button
{
   background: transparent url("../../components/images/edit-inline-16.png") no-repeat 12px 4px;
   padding-left: 22px; 
}


.search .search-bar span.wused-button
{
   background: transparent url("../../components/images/wused-16.png") no-repeat 12px 4px;
   padding-left: 22px; 
}

.search .selected-form-button span.yui-button {
    background: none repeat scroll 0 0 white;
    border-width: 1px;
}


.search .search-box-adv
{
   margin: 1.25em;
   height: 2.1em;
}

.search .search-box-adv input
{
    padding: 3.666px;
}

.search .search-box-adv .terms
{
   width: 42em;
}
.search .search-box-adv > div {
	float: left;
}

.search .search-box-adv .forms-container {
    margin-right: 1.5em;
}

.search .itemname {
	padding: 0 2em;
}

.search .search-sites {
	margin-bottom: 0;
}

.search .search-box-adv .form-container .form-fields {
    border: 0;
    margin-left: 0;
}

/* fix ie chrome */

.yui-skin-lightTheme #bd {
    padding-bottom: 0;
}


/**  Icons **/

.search h3.project,
.search h3.nc,
.search h3.client,
.search h3.supplier,
.search h3.project,
.search h3.finishedProduct, .search h3.finishedProduct-ToValidate,
.search h3.localSemiFinishedProduct, .search h3.localSemiFinishedProduct-ToValidate,
.search h3.packagingKit, .search h3.packagingKit-ToValidate,
.search h3.packagingMaterial, .search h3.packagingMaterial-ToValidate,
.search h3.rawMaterial, .search h3.rawMaterial-ToValidate,
.search h3.semiFinishedProduct, .search h3.semiFinishedProduct-ToValidate,
.search h3.resourceProduct, .search h3.resourceProduct-ToValidate {
		padding-left: 20px;
		background-position: 0 5px;
}

.search h3.project {
	background-image: url("../../components/images/filetypes/generic-project-16.png")

}

.search h3.nc {
	background-image: url("../../components/images/filetypes/generic-nc-16.png")

}

.search h3.client {
	background-image:
		url("../../components/images/filetypes/generic-client-16.png")

}

.search h3.supplier {
	background-image:
		url("../../components/images/filetypes/generic-supplier-16.png")

}

.search h3.finishedProduct,.search h3.finishedProduct-ToValidate
	{
	background-image:
		url("../../components/images/filetypes/generic-finishedProduct-16.png")

}

.search h3.localSemiFinishedProduct,.search h3.localSemiFinishedProduct-ToValidate
	{
	background-image:
		url("../../components/images/filetypes/generic-localSemiFinishedProduct-16.png")

}

.search h3.packagingKit,.search h3.packagingKit-ToValidate {
	background-image:
		url("../../components/images/filetypes/generic-packagingKit-16.png")

}

.search h3.packagingMaterial,.search h3.packagingMaterial-ToValidate
	{
	background-image:
		url("../../components/images/filetypes/generic-packagingMaterial-16.png")

}

.search h3.rawMaterial,.search h3.rawMaterial-ToValidate {
	background-image:
		url("../../components/images/filetypes/generic-rawMaterial-16.png")

}

.search h3.semiFinishedProduct,.search h3.semiFinishedProduct-ToValidate
	{
	background-image:
		url("../../components/images/filetypes/generic-semiFinishedProduct-16.png")

}

.search h3.resourceProduct,.search h3.resourceProduct-ToValidate
	{
	background-image:
		url("../../components/images/filetypes/generic-resourceProduct-16.png")

}