.datalists .header-bar
{
   margin-left: -20px;
   min-height: 2em;
   padding: 4px 1em;
   visibility: visible;
}

.datalists .left
{
   float: left;
}

.datalists .new-list span.first-child
{
   background: url(../images/new-list-16.png) no-repeat 12px 4px;
   padding-left: 24px;
}

.datalists div.filter
{
   padding-top: 0.5em;
}

.datalists .no-lists
{
   padding: 4px;
}

.datalists .entity {
  padding-left: 20px;
  vertical-align: sub;
  background-image: url(../images/filetypes/generic-entity-16.png);
  background-repeat: no-repeat;
  text-overflow: ellipsis;
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  margin: 5px;
  display:block;
}


.datalists li
{
   overflow-x: hidden;
   padding-left: 0px;
}

.datalists li a
{
   display: block;
}

.datalists li a span
{
   cursor: pointer;
   display: none;
   float: right;
   height: 16px;
   left: -8px;
   position: relative;
   width: 18px;
}

.datalists li a span.state
{
   display: block;
   float: left;
   height: 16px;
   left: 0px;
   padding:0px;
   background-image : url(../images/states/valid-disabled-10.png), url("../images/list-16.png");
   background-repeat: no-repeat;
}

.datalists li a span.state.Valid
{
  background-image : url(../images/states/valid-10.png), url("../images/list-16.png");
  background-repeat: no-repeat;
}

.datalists li a span.state.WUsed
{
    background-image: url("../images/wused-16.png");
    background-repeat: no-repeat;
    background-size: 14px;
}

.datalists li a span.state.dl-View-properties
{
    background: url("../documentlibrary/actions/document-edit-metadata-16.png") no-repeat;
}

.datalists li a span.state.dl-View-reports
{
    background: url("../documentlibrary/actions/entity-view-documents-16.png") no-repeat;
}

.datalists li a span.state.dl-View-documents
{
    background: url("../documentlibrary/actions/folder-copy-to-16.png") no-repeat;
}

.datalists li a span.state.Valid.dl-View-reports {
	 background-image: url(../images/states/valid-10.png), url("../documentlibrary/actions/entity-view-documents-16.png");
	background-repeat: no-repeat;
}

.datalists li a span.state.Valid.dl-View-properties {
    background-image: url(../images/states/valid-10.png), url("../documentlibrary/actions/document-edit-metadata-16.png");
	background-repeat: no-repeat;
}
 

.datalists li a span.edit
{
   background: url("../images/edit-16.png") no-repeat;
}
.datalists li a span.delete
{
   background: url("../images/delete-16.png") no-repeat;
}
.datalists li a:active span,
.datalists li a:hover span
{
   display: block;
}

.datalists .horiz-rule
{
   border-bottom: 1px solid #c0c0c0;
   margin-left: -10px;
}

#alf-hd .node-header {
    border-bottom: 1px solid #CCCCCC;
    clear: left;
    margin: 0 -10px;
    min-height: 1em;
}

#alf-hd  .node-header .node-path {
	 padding: 5px 0 6px;
	 margin-left: 10px;
}


#alf-hd  .node-header .status-banner {
    margin-top: 0;
}

.form-container .form-fields
{
   border-bottom: medium none;
   padding: 1em;
}

.form-container .form-fields .item-types
{
   border: 1px solid #C5D6E2;
   height: 20em;
   overflow-x: hidden;
   overflow-y: auto;
   padding: 4px 0;
}

.form-container .form-fields .item-types div
{
   background-image: url(../images/list-32.png);
   background-position: 4px 4px;
   background-repeat: no-repeat;
   cursor: pointer;
   min-height: 44px;
   padding: 4px 0 4px 44px;
}







