.datalist-toolbar .edit-saved-view span.first-child
{
   background: url(../images/edit-16.png) no-repeat 6px 4px;
   padding: inherit 4px inherit 4px;
}


.datalist-toolbar .duplicate-saved-view span.first-child
{
   background: url(../images/duplicate-row-16.png) no-repeat 6px 4px;
   padding: inherit 4px inherit 4px;
}


.datalist-toolbar .delete-saved-view span.first-child
{
   background: url(../images/delete-16.png) no-repeat 6px 4px;
   padding: inherit 4px inherit 4px;
}


.datalist-toolbar .create-saved-view span.first-child
{
   background: url(../images/add-icon-16.png) no-repeat 6px 4px;
   padding: inherit 4px inherit 4px;
}


.datalist-toolbar  span.saved-view {
	background: url(../../components/images/enabled-indicator-off-16.png) no-repeat;
	padding-left: 20px;
}



.datalist-toolbar .saved-viewPicker .yui-push-button button {
	padding-right: 9px !important;
	padding-left: 9px !important;
}


.datalist-toolbar  span.saved-view-default {
	background: url(../../components/images/enabled-indicator-on-16.png) no-repeat;
	padding-left: 20px;
}
