.properties-view .form-container .form-fields {
    border-bottom: none;
}

.properties-view .properties-details {
	padding-top:1em;
}

.properties-view .properties-details table td {
	vertical-align: top;
}


.properties-view a.upload-logo-action:hover  span.upload-logo-span {
   background-image: url(../images/edit-16.png);
   background-color: transparent;
   background-position: 6px 4px;
   background-repeat: no-repeat ;
   padding-left: 20px;
}

.properties-view span.item-modifier{
	display:block;
	float: none;
}

.properties-view span.item-separator {
    margin-left: 0.8em;
}

.properties-view .catalog .catalog-missing-propList {
	margin-top: 0.5em;
	padding: 0.5em;
	border: 1px solid #eee;
}

.properties-view .catalog .details-button {
	float: right;
	cursor: pointer; 
	cursor: hand;
}

.properties-view .catalog .selected {
	background-color: #ddd;
}

.properties-view .catalog-name {
	margin-right: 1em;
	float: left;
}

.properties-view .catalog {
	margin-top: 1em;
}

.properties-view .catalog progress, .properties-view .catalog .score-info {
	float: right;
}

.properties-view .catalog .missing-field {
	background-image: url("../../components/images/states/refused-10.png");
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 6px 5px;
}

.properties-view .catalog-details h3 {
	margin-left: 0.5em;
}

.properties-view .catalog-header {
	overflow: auto;
}

.properties-view .score-info {
	margin-left: 1em;
}

.properties-view .catalog-details {
	padding: 0.5em;
}

.properties-view .catalog-missing-propList ul li {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}