<div class="entity-views"  *ngIf="entity" >
      <div class="entity-views-header">
        <app-entity-logo ></app-entity-logo>

        <span *ngIf="editMode">
          <button mat-icon-button (click)="createView()">
            <mat-icon>add</mat-icon>
          </button>
        </span>
        <span *ngIf="!editMode" [class]="entity.nodeType">{{entity.nodeType}}</span>

      </div>
      <div class="entity-views-content">
        <mat-nav-list>
          <mat-list-item *ngFor="let view of entityViews" [routerLinkActive]="['is-active']">
             <mat-checkbox [(ngModel)]="view.isValid" ></mat-checkbox>
             <a matLine selected="true" routerLink="/entity/{{entity.id}}/{{view.id}}">{{view.list.title}}</a>
             <button *ngIf="editMode" mat-icon-button (click)="editView(view)">
                <mat-icon>edit</mat-icon>
             </button>
             <button *ngIf="editMode" mat-icon-button (click)="deleteView(view)">
              <mat-icon>delete</mat-icon>
           </button>
          </mat-list-item>
        </mat-nav-list>
      </div>
  </div>


  