<div class="adf-autocomplete adf-text-widget {{field.className}}"
     [class.adf-invalid]="!field.isValid" [class.adf-readonly]="field.readOnly">
    <mat-form-field>
        <label class="adf-label" [attr.for]="field.id">{{field.name | translate }}<span *ngIf="isRequired()">*</span></label>
        <input matInput
               class="adf-input"
               type="text"
               [id]="field.id"
               [required]="isRequired()"
               [value]="field.value"
               [(ngModel)]="field.value"
               (ngModelChange)="onFieldChanged(field)"
               [matAutocomplete]="auto"
               [formControl]="stateCtrl"
               >
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let result of autoCompleteResults | async" [value]="result.value">
        <span *ngIf="showColor"  class="show-color" style="background:'{{getColor(result.metadatas)}}'" >&nbsp;</span>
        <span  class="{{result.cssClass}}"><span class='ctn-fav'></span>{{result.name}}</span>
        </mat-option>
      </mat-autocomplete>

    <error-widget [error]="field.validationSummary"></error-widget>
    <error-widget *ngIf="isInvalidFieldRequired()" required="{{ 'FORM.FIELD.REQUIRED' | translate }}"></error-widget>
</div>
