.datagrid {
	padding-top: 0.5em;
	visibility: hidden;
}

.datagrid .datagrid-description {
	
}

/* DataGrid Metadata */
.datagrid .datagrid-meta {
	margin-left: 1em;
}

/* DataGrid bar */
.datagrid .datagrid-bar {
	margin: 1em -10px;
	padding: 4px 0.5em 2px;
}

.datagrid .datagrid-bar-bottom {
	margin-top: 2em;
	display: none;
}

/* DataGrid bar Buttons and Paginator */

.datagrid .datagrid-bar .paginator {
	float: left;
	margin: 0;
	text-align: center;
}

.datagrid .datagrid-bar .yui-pg-current {
	margin-right: 0;
}


/* DataGrid bar Select menu */
.datagrid .item-select span.first-child {
	background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(155, 155, 155, 0.57);
    border-radius: 2px;
    font-size: 1px;
    height: 11px;
    margin: 0 10px 0 1px;
    outline: 0 none;
    vertical-align: text-bottom;
    width: 11px;
}

.datagrid .item-select button {
	width: 15px;
	height:10px;
}

.datagrid .item-select button, .datagrid .item-select .yui-button {
	border:none;
	margin:0px;
	padding:0px;
	background-color: transparent;
	background-position: 8px 100%;
}


.datagrid .item-select .yuimenuitemlabel span {
	background-position: 2px 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	margin-left: -4px;
	min-height: 16px;
	padding: 2px 0px 1px 24px;
}

.datagrid .item-select .selectAll {
	background-image: url(../../components/images/select-rows-all-16.png);
}

.datagrid .item-select .selectNone {
	background-image: url(../../components/images/select-rows-none-16.png);
}

.datagrid .item-select .selectInvert {
	background-image: url(../../components/images/select-invert-16.png);
}

/* Data Table */
.datagrid .grid table {
	border-color: #e0e0e0;
	width: 100%;
}

.datagrid .grid tbody {
	outline: none;
}

.datagrid .grid .yui-dt table {
	border: none;
}

.datagrid .grid.yui-dt .yui-dt-data td {
	border-bottom: 1px solid #f0f0f0;
	vertical-align: top;
}

.datagrid .grid.yui-dt .yui-dt-data .yui-dt-last td {
	border-bottom: medium none;
}

.datagrid .grid.yui-dt tr.yui-dt-first td {
	border-top: medium none;
}

.datagrid .grid.yui-dt td.yui-dt-last {
	vertical-align: middle;
}

.datagrid .yui-dt-liner {
	padding: 4px;
}

.datagrid .yui-dt-col-nodeRef {
	width: 24px;
}

.datagrid .yui-dt-col-actions {
	width: 86px;
}

.datagrid .yui-dt-col-actions .yui-dt-liner {
	padding: 3px;
}

.scrollableList {
	position: relative;
}

.datagrid .action-set {
	position: absolute;
	background-color: rgb(245, 245, 245);
    width: 82px;
}


.datagrid td.yui-dt-col-actions{

	vertical-align: top !important;
	padding: 0px !important;
	margin: 0px !important;
}

.datagrid .yui-dt-error {
	background: red;
	color: white;
	font-weight: bold;
	margin: 1em auto;
	padding: 1em;
}

.datagrid .yui-dt-liner img {
	vertical-align: text-bottom;
}

.datagrid  th.yui-dt-hidden,.datagrid  td.yui-dt-hidden {
	display: none;
}

/* Data Types */
.datagrid span.person {
	background: url(../../components/images/filetypes/generic-user-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.container {
	background: url(../../components/images/filetypes/generic-folder-16.png)
		no-repeat;
	padding-left: 20px;
}

.datagrid span.document {
	background: url(../../components/images/filetypes/generic-file-16.png)
		no-repeat;
	padding-left: 20px;
}

/* Actions */
.datagrid .action-set div {
	display: block;
	margin: 0;
}

.datagrid a.action-link,.datagrid a.simple-link,.datagrid a.show-more {
	background-position: 4px 1px;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	display: block;
	min-height: 16px;
	padding: 2px 0 2px 24px;
}

.datagrid .action-set a:active,.datagrid .action-set a:hover,.datagrid .action-set .highlighted
	{
	background-color: #fff;
	border: 1px solid #2b6eb5;
	text-decoration: none;
}

.datagrid div.more-actions {
	background-color: #fff;
	border: 1px solid #2b6eb5;
	clear: left;
	margin-left: -22px;
	margin-top: 1px;
	position: absolute;
	width: 200px;
}

.datagrid .more-actions a.action-link,.datagrid .more-actions a.simple-link
	{
	border: 1px solid #fff;
}

.datagrid .more-actions a:active,.datagrid .more-actions a:hover {
	background-color: #2b6eb5;
	border: 1px solid #2b6eb5;
	color: #fff;
}

/* Actions: Simple view */
.datagrid div.simple div {
	float: left;
	line-height: 1em;
}

.datagrid div.simple a.action-link,.datagrid div.simple a.simple-link,.datagrid div.simple a.show-more
	{
	background-position: 4px 0;
	min-height: 16px;
	padding: 0 0 0 24px;
}

.datagrid div.simple a.action-link span,.datagrid div.simple a.simple-link span
	{
	display: none;
}

.datagrid div.simple div.more-actions {
	margin-left: -122px;
	margin-top: 3em;
}

.datagrid div.simple div.more-actions div {
	float: none;
}

.datagrid div.simple div.more-actions a.action-link span,.datagrid div.simple div.more-actions a.simple-link span
	{
	display: block;
}

/* Actions: Icons */
.datagrid .action-set a {
	background-image: url(../../components/images/generic-file-16.png);
}

.datagrid .onActionShowMore a {
	background-image: url(../../components/images/plus-16.png);
}

.datagrid .onActionView a {
	background-image: url(../../components/images/list-16.png);
}

.datagrid .onActionEdit a {
	background-image: url(../../components/images/edit-16.png);
}

.datagrid .onActionDuplicate a {
	background-image: url(../../components/images/duplicate-row-16.png);
}

.datagrid .onActionDelete a {
	background-image: url(../../components/images/delete-row-16.png);
}

/* Forms */
.form-container .form-fields {
	border-bottom: medium none;
	padding: 1em;
}

/* Details Form */
.form-container .edit-dataitem a {
	background: transparent
		url(../../components/images/edit-metadata-16.png) no-repeat 12px 4px;
	padding-left: 32px;
}

/* Form filter */ 
div.filterform {
	width: 33em;
}


.yui-ge .filterform .yui-g,
.yui-gc .filterform .yui-g,
.yui-gf .filterform .yui-g {
    width: inherit;
    float:none;
}

.yui-ge .filterform .yui-g div.first,
.yui-gc .filterform .yui-g div.first,
.yui-gf .filterform .yui-g div.first{
	float: left;
}

.yui-ge .filterform .yui-g .yui-u,
.yui-gc .filterform .yui-g .yui-u,
.yui-gf .filterform .yui-g .yui-u {
	width: 49.1% ;
	float:right;
}

.filterform  .form-container .form-buttons {
	padding-top: 0;
}

.filterform .mandatory-indicator {
	display: none;
}

div.filterButtonsBar {
	margin: 0 15px 5px;
	text-align: right;
}

/* Selected Items Menu */
.datagrid-bar .selected-items li {
	width: auto;
}

.datagrid-bar .selected-items li.yuimenuitem-disabled {
	display: none;
}

.datagrid-bar .selected-items .yuimenuitemlabel span {
	background-position: 2px 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	margin-left: -4px;
	min-height: 16px;
	padding: 2px 0px 1px 24px;
}

.datagrid-bar .selected-items hr {
	padding: 0px;
}

.datagrid-bar .onActionDuplicate {
	background-image: url(../../components/images/duplicate-row-16.png);
}

.datagrid-bar .onActionUp {
	background-image: url(../../components/images/up-arrow-16.png);
}

.datagrid-bar .onActionDown {
	background-image: url(../../components/images/down-arrow-16.png);
}

.datagrid-bar .onActionDelete {
	background-image: url(../../components/images/delete-row-16.png);
}

.datagrid-bar .onActionDeselectAll {
	background-image: url(../../components/images/select-rows-none-16.png);
}

.datagrid-bar .new-row span.first-child {
	background: url(../../components/images/add-row-16.png) no-repeat 12px
		4px;
	padding-left: 24px;
}


.datagrid-bar .filter-form > span > span.first-child {
	background: url(../../components/images/search-16.png) no-repeat 12px
		4px;
	padding-left: 24px;
}


.datagrid-bar .selected-items span.first-child,
.datalist-toolbar .selected-items span.first-child {
	background: url(../../components/images/checkbox-16.png) no-repeat 12px
		4px;
	padding-left: 24px;
}

.datagrid-sort-handle {
	background: url("./images/grippy.png") no-repeat scroll 1px 6px
		transparent;
	cursor: move;
}

/** DnD **/
.yui-skin-default .datagrid tr.yui-dt-even.elementDragOverHighlight,.yui-skin-default .datagrid tr.yui-dt-odd.elementDragOverHighlight
	{
	background-color: #cde8fa;
}

/** Groupped dataTable **/

/* The group cell */
.datagrid  .group {
	border-top: 1px solid #CBCBCB;
	border-bottom: 1px solid #7f7f7f;
	font-weight: bold;
	background-color: #EEEEEE;
	color: black;
	cursor: pointer;
}

/* Group inner style */
.datagrid  .group .liner {
	padding: 4px 10px;
}

/* Selected group */
.datagrid  .group-selected {
	background-image: none;
	background-color: #426FD9;
	color: White;
}

/* Disabled group */
.yui-skin-foodstorm  .group-disabled {
	cursor: default;
}

/* The first group in the data table */
.datagrid  .group-first {
	border-top: 1px solid #7f7f7f;
}

/* The first row in the group */
.datagrid  .group-first-row td {
	
}

/* The group when collapsed */
.datagrid  .group-collapsed {
	margin-top: 0px;
	/* Makes the group cover up the first row in the group. */
}

/* The first rown in the group when collapsed */
.datagrid  .group-first-row-collapsed td {
	padding-top: 0px;
	/* Makes the group cover up the first row in the group. */
}

/* Base styles for the group icon */
.datagrid  .group .icon {
	width: 18px;
	height: 15px;
	position: absolute;
	cursor: pointer;
}

/* The label within the group */
.datagrid  .group .label {
	margin-left: 25px;
}

/* The group icon when expanded */
.datagrid  .group-expanded .icon {
	background-image: url(./images/dt-group-arrow-down.png);
	background-repeat: no-repeat;
}

/* The group icon when collapsed */
.datagrid  .group-collapsed .icon {
	background-image: url(./images/dt-group-arrow-up.png);
	background-repeat: no-repeat;
}